[2019-08-22 23:38] stakx commented on #469
It appears that the Roslyn C# compiler will generally play it safe and include namespace names when explicitly implementing a method. We could follow its lead and apply the following straightforward bug fix in `MetaTypeElementUtil.CreateNameForExplicitImplementation`:

1. https://github.com/castleproject/Core/blob/e40539cb3a3601528fb583d5b70574e9712abc1d/src/Castle.Core/DynamicProxy/Generators/Met

[2019-08-23 01:21] a-ch-chu opened #470 "Type matching issues with generic proxy generation methods"
I have the following code in a static class:

    private static ProxyGenerator _generator;
    internal static ProxyGenerator Generator
        => _generator = _generator ?? new ProxyGenerator();

    internal static ProxyGenerationOptions Options
        => new ProxyGenerationOptions(/*new BlockReturnProxyGenerationHook()*/);

    internal static ITarget Get<ITarget>(this ITarget e, IInterceptor

[2019-08-23 06:03] stakx commented on #470
Invalid syntax can sometimes mislead the Roslyn C# compiler into giving misleading diagnostics. Change the following and watch the problem go away:

[code]

:wink:

[2019-08-23 06:03] #470 closed

[2019-08-23 08:56] jonorossi commented on #469
@stakx I like your suggested fix to include the namespace, interesting that we weren't doing this before, maybe the old C# compiler just prefixed with type name. I wondered if Roslyn puts long namespaces into the method name too, yep it does.

[2019-08-23 15:45] #469 closed

[2019-08-26 03:25] a-ch-chu commented on #470
To be clear, the expression 'ITarget' in the code above is the type variable for the generic method, and is not an extant interface. The change suggested does not compile, giving a "The type or namespace 'ITarget' could not be found" error.

For clarity, I've amended the code fragment above to use a more typical naming scheme:
[code]

[2019-08-26 05:37] stakx commented on #470
I see! However, my point still stands that this is simply a misleading diagnostic due to a user mistake. Chances are that you are using VS 2019. In VS 2017, you'd get a different, much more helpful error message:

So this is the mistake you're making:

[code]

[2019-08-27 00:04] a-ch-chu commented on #470
Thanks, that solved the problem - I missed the "where TInterface : class" constraint on the IProxyGenerator interface.
Don't worry, I can definitely see your point re: VS 2019. It's a fairly frustrating and confusing place to have the error message regress. I've reported it as a VS bug as you've suggested.

[2019-09-06 22:12] bclothier opened #472 "Invalidate type cache for proxies based on dynamic types?"
I'm using DynamicProxy indirectly via Moq and I'm running into a problem. AIUI, DynamicProxy maintains a cache of types that were generated. As long the types don't change, this is OK. However, in my scenario, I'm dealing with types that do get changed in runtime, and as a consequence, subsequent invocation of the mocks based on those types fails with exceptions like `MissingMethodException` or su

[2019-09-07 09:23] stakx commented on #472
I am not aware of a way to completely turn off the proxy type cache.

As I mentioned in Moq's Gitter chat, one easy way to effectively circumvent the proxy type cache is by instantiating a new `ProxyGenerator` for each proxy. That way, you get one type cache per proxy that will never get queried. You'll also get one dynamic assembly per proxy. It's rather wasteful, and we usually advise against us

[2019-09-07 12:07] bclothier commented on #472
This is for developing a [mocking framework in VBA](https://github.com/rubberduck-vba/Rubberduck/pull/4681), wrapping around Moq (and subsequently DynamicProxy which Moq uses). The VBA types (as well as COM types) are created into a `System.Type` via [`Type.GetTypeFromProgId`](https://docs.microsoft.com/en-us/dotnet/api/system.type.gettypefromprogid) or [`Marshal.GetTypeForITypeInfo`](https://docs

[2019-09-07 12:12] stakx commented on #472
If I understand correctly, we are talking about some kind of Edit-and-Continue scenario?

[2019-09-07 12:15] bclothier commented on #472
No, that's not applicable in this scenario. I'm not talking about editing the VBA code in a break mode. I'm talking about editing the VBA code in between the executions. The problem is simply that the add-in is always loaded at all the times, so when we run VBA code Nth time, the proxy generator cache still remembers the types from previous runs.

[2019-09-07 12:44] stakx commented on #472
I see. If there is no way to unload & reload your add-in, and proxy type caching causes you problems, then I suspect using a single `ProxyGenerator` for a whole session (say, by following my second suggestion above) would essentially introduce a memory leak as new types would keep getting emitted into DP's dynamic assembly&mdash;regardless of whether there's additionally a type cache layer or not,

[2019-09-07 12:48] bclothier commented on #472
I agree. For context, I opened the issue before I knew about Moq's proxy generator behavior. Now I know that by creating a new proxy generator, we can avoid the issue, so yes I agree that this is further up the stack. Should I open an issue on Moq anyway?

[2019-09-07 12:48] #472 closed

[2019-09-07 13:05] stakx commented on #472
Sure. I might have an idea or two.

[2019-09-10 02:56] jonorossi opened #473 "Support Collectible Dynamic Assemblies"
**.NET Core 3.0 introduces support for unloading assemblies after loading them into a custom `AssemblyLoadContext`** via the new `Unload` method and constructor with `isCollectible` parameter. The custom `AssemblyLoadContext` is set up to only contain the assemblies you want with everything else being in the default context. Obviously this is a .NET Core 3.0 feature, and .NET Framework will never

[2019-09-13 20:18] zapov opened #474 "Mixins have inconsistent order"
In MixinData interfaces are sorted as

    sortedMixedInterfaceTypes.Sort((x, y) => x.FullName.CompareTo(y.FullName));

instead of

    sortedMixedInterfaceTypes.Sort((x, y) => String.CompareOrdinal(x.FullName, y.FullName));

or even better via

    sortedMixedInterfaceTypes.Sort(new FieldReferenceComparer());

where `FieldReferenceComparer` could be renamed to `TypeNameComparer`

This causes wron

[2019-09-14 06:17] stakx commented on #474
Could you please post a short code example that demonstrates this?

[2019-09-23 20:01] stakx commented on #473
There has been at least [one StackOverflow question](https://stackoverflow.com/q/57934193/240733) which seems related to just this.

I haven't thought it through all the way, one thing that perhaps would have to be pointed out in the documentation is that dynamic assemblies could be collected only once their associated `ProxyGenerator` is no longer referenced, nor any proxy objects created by that

[2019-09-24 13:29] jonorossi commented on #473
Yep, that was my intention. There are heaps of limitations to the feature and it would really only fit the scenario of plugins or something similar where you dump everything and start again without restarting the process, most applications obviously don't work this way.

I only logged the issue after reading the .NET Core 3.0 release notes and doing a little bit of investigation into how it works,

[2019-09-25 18:41] arashjfz commented on #448
@stakx I am really interested in this issue. If it is possible I can give it a try

[2019-09-25 19:02] stakx commented on #448
@arashjfz: It cannot hurt if you look into it and have a go at it. Just a word of warning, this is likely going to be non-trivial, and you might be largely on your own; at least I won't be able to provide much guidance at this time. Perhaps @jonorossi can let you know if/how this will fit with the planned release schedule.

[2019-09-26 05:56] jonorossi commented on #448
@arashjfz go for it, contributions are definitely welcome. I should have time to answer specific questions, but like @stakx won't be able to dig in. Feel free to hack away at a prototype and submit a draft pull request for review. We can talk about releasing it when we've got something we all like.

[2019-09-29 08:23] thomaslevesque commented on #447
I just looked into it. Proceed indeed doesn't work:

Interface methods with default implementation have `IsAbstract == false`

[2019-09-29 09:32] thomaslevesque commented on #447
The only workaround I found so far for FakeItEasy is to call the default interface method non-virtually, by emitting IL with a `call` opcode instead of `callvirt`.
https://gist.github.com/thomaslevesque/a4310070de3d44f81144aafd136bea7c
Hopefully it can be done in a cleaner fashion in Castle.Core...

[2019-09-29 11:48] stakx commented on #447
@thomaslevesque, I've wanted to  look into this earlier in the past week, now that .NET Core 3 and .NET Standard 2.1 have been released. Unfortunately, I realised quickly that VS2019 as an IDE isn't up to the task: Compilation is very unreliable and haphazard, I get different compilation errors (often bogus ones, too) on every single build. That makes it difficult to properly develop and test agai

[2019-09-29 12:08] thomaslevesque commented on #447
Really? It seems to be working fine for me. Have you tried cleaning everything (bin/obj/.vs) and killing the build server processes?

[2019-09-29 12:46] thomaslevesque commented on #447
Anyway, I wonder what the correct behavior should be...
Should `Proceed` call the default implementation automatically? Or should it be explicit?
I'm leaning toward the former, but it might have side effects that I'm not seeing...

[2019-09-29 21:08] stakx commented on #447
There's no way on Earth that I am going to do these contortions every time I need to use VS. I'd rather stay with VS1017. :laughing:

I would also prefer the former, but implicit `Proceed`-ing might not always be possible: One of the more difficult problems the C# language design team had to solve with default interface implementations revolved around the case where the same interface method can h

[2019-10-07 03:23] shoaibshakeel381 opened #476 "Changing Invocation Argument values in Async Interceptors"
I have a use case where I need to change the values of arguments in interceptor.

Let's assume that I intercepting calls to methods of an interface and my interface is like this:

[code]

And interceptor logic looks something like this:

[code]

This code does not work, `AsyncMethod` actually does update the value in arguments array, but the caller only see the default value which is `0`.

Can som

[2019-10-07 03:40] jonorossi commented on #476
I recommend reading our docs on async, especially the "Intercepting awaitable methods that produce a return value" section.

[2019-10-07 03:57] shoaibshakeel381 commented on #476
I've read the docs but cannot find anything regarding changing arguments values.

[2019-10-07 04:11] jonorossi commented on #476
DynamicProxy interception is complete when the `Task` return value is returned from the first await, the "Closing remarks" on that page talks about `SetArgumentValue` and stale invocation objects being modified after interception.

The [Behavior of by-reference parameters during interception](https://github.com/castleproject/Core/blob/master/docs/dynamicproxy-by-ref-parameters.md) docs page talks

[2019-10-07 04:19] shoaibshakeel381 commented on #476
i understand. thanks.

[2019-10-07 04:19] #476 closed

[2019-10-16 09:14] victor-yarema commented on #308
Today I have got an exception with text.
`Message: System.MissingMethodException : Method not found: 'Void Castle.DynamicProxy.ProxyGenerationOptions.AddDelegateTypeMixin(System.Type)'.`
I made some changes to source code of the test, it triggered the rebuild of the test project and then everything returned back to successful.
BTW, I don't use ReSharper. I did start test from Test Explorer panel i

[2019-10-16 09:43] jonorossi commented on #308
Your exception appears unrelated to the reported issue here.

`ProxyGenerationOptions.AddDelegateTypeMixin` is new in v4.4.0, so I'd guess that you had a stale pre-4.4.0 version in one of your bin directories which got cleaned during a rebuild.

Do you have any other libraries using Castle.Core? EntityFramework Core's proxy support?

[2019-10-16 10:47] stakx commented on #308
I agree, this is most likely a NuGet / dependency issue. This is essentially a duplicate of https://github.com/moq/moq4/issues/935, which was caused by an old version of Castle.Core lurking around. (NuGet unfortunately favors the lowest compatible version instead of the most recent one, which can cause this and similar problems.)

[2019-10-17 08:45] victor-yarema commented on #308
Sorry for not being clear enough. I didn't mean that my problem was related to this one.
I just wanted to share the information about something similar and how it was fixed by rebuild.
Sorry again for confusion.

@jonorossi , thanks for your suggestion about older stale version. I did ran into that problem again. And I did check the version of Castle.Core.dll in output folder. And you were totally

[2019-11-05 21:47] stakx opened #477 "Can we remove all Code Access Security (CAS) transparency attributes from this project?"
### TL;DR:

May I submit a PR to remove all applications of CAS security transparency-related attributes, i.e. `[SecurityCritical]` and `[SecuritySafeCritical]` and `[assembly: SecurityRules(SecurityRuleSet.Level2)]`?

### Reasons:

1. The attributes in question have zero effect without `[assembly: AllowPartiallyTrustedCallers]`, which got removed back in #241 (see also https://github.com/castlepr

[2019-11-07 07:15] jonorossi commented on #477
I agree we should get rid of security transparency attributes, from what I recall they were haphazardly applied during Silverlight work to get things working, and when required sometimes from partial trust ASP.NET fixes, never from a full audit. I've always hated the mess of these security attributes and link demands littered around, and actually had the exact same thought when you closed that Fak

[2019-11-07 07:18] jonorossi commented on #394
I've put this one back on my list to do very soon, been very slack getting this done.

[2019-11-07 21:09] stakx commented on #477
@jonorossi:

In the long run (i.e. version 5.x), I don't see any reason for keeping those around, either. But...

... I agree we have to keep those around in 4.x, which is why I'd like to focus on just `[SecurityCritical]` and `[SecuritySafeCritical]` for the moment. These should be safe to remove now since AFAICT they are essentially ignored by the runtime due to the absence of `[assembly: AllowP

[2019-11-17 20:34] xlievo commented on #473
I admire your efforts and persistence over the years, as well as the rigorous way to discuss issues! Thank

[2019-11-19 11:22] CrazyBaran opened #478 "Castle.Core-Nlog didn't resolve ${aspnet-traceidentifier}"
When using facility NLogFactory for inject loggers into asp.net core project like that:
`IocContainer.AddFacility<LoggingFacility>(
                    f => f.LogUsing<NLogFactory>().WithConfig("NLog.config")
                );`

The layout renders releated to aspnet is always empty.  Is there any way to walkaround this and inject proper NLog? The layout render for aspnet is inside of library NLog

[2019-11-19 11:59] jonorossi commented on #478
You'll have to provide more information why `NLogFactory` is broken, you'll see from the code is doesn't do much, it just sits over NLog:
https://github.com/castleproject/Core/blob/master/src/Castle.Services.Logging.NLogIntegration/NLogFactory.cs

[2019-11-19 12:53] CrazyBaran commented on #478
It is broke cause it is not used NLog.Web.Aspnetcore in standard Nlog implementation it is only need to add this package into project but with castle windsor it didnt work.

[2019-11-19 13:08] jonorossi commented on #478
If your project needs `NLog.Web.AspNetCore` then why can't you just add it to your project?

[2019-11-19 14:53] CrazyBaran commented on #478
I add but still aspnet-* didnt work. When I add
`
                .UseStartup<Startup>().ConfigureLogging(logging =>
                {
                    logging.AddNLog("NLog.config");
                });`
this to my return new WebHostBuilder() It starts working, but then I get doubled all logs records, I cannot also disable your injection cause whole project work on it.

[2019-11-20 02:01] jonorossi commented on #478
You can ask Windsor not to configure NLog for you, instructing it to assume it has been configured already. Use `ConfiguredExternally` rather than `WithConfig`:

[code]

[2019-12-18 06:31] Rabadash8820 commented on #407
Any updates on this Issue? Direct support of .NET Standard 2.0 and/or 2.1 would be quite handy.

[2020-01-09 19:20] xlievo opened #479 "Whether the parameters of the invocation.arguments and the target?"
Whether the parameters of the invocation.arguments and the target method can be inconsistent
and then change the invocation.arguments in the interceptor?

[2020-01-10 12:17] jonorossi commented on #479
Sorry, I don't understand what you are asking. Please provide a clearer question, ideally some code.

[2020-01-10 12:17] #479 closed

[2020-02-10 14:31] smartprogrammer93 commented on #405
@jonorossi can you please provide a more detailed guide to your approach as it is the only solution to this problem.

[2020-02-10 15:39] jonorossi commented on #405
@smartprogrammer93 [Krzysztof has a blog post](https://kozmic.net/2009/08/25/castle-dynamic-proxy-tutorial-part-xiv-persisting-proxies/) from a decade back with more detail and code snippets than I provided, the API still looks like the same.

[2020-02-17 21:21] stakx opened #480 "CreateClassProxy: Unable to specify ctor to use when passing ambiguous ctor args"
Somewhat of an edge case perhaps, but we just got a bug report over at Moq that essentially boils down to this:

[code]

which throws the following exception:

[code]

The reason is quite clear, the ctor argument `default(A)` is equivalent to `null`, and that `null` is being put in a `object[]` array, so all type information is lost. The only way around this problem would be to enhance DynamicProx

[2020-02-22 00:47] jstafford5380 opened #481 "Named arguments on IInvocation"
I noticed that the arguments are provided on the IInvocation object but they are not named, so I don't know which values belong to which arguments on the method. Are these available somewhere else? If not, I'd like to request they be added.

[2020-02-22 07:42] stakx commented on #481
You can find out the parameter names via `invocation.Method.GetParameters()`; those will be in the same order as `invocation.Arguments`, so you can build your own dictionary mapping from parameter names to parameter/argument index.

DynamicProxy does not do that for you for performance reasons, I assume.

(Performance could perhaps be taken care of by caching the name-to-index maps per `MethodInfo

[2020-02-24 01:58] jstafford5380 commented on #481
Yeah that's what I have implemented at the moment, it just feels a bit hacky and it's generally not good practice to rely on ordering in an unordered set. I haven't looked to see how the arguments are extracted, but I supposed offering some lazy loaded list could help with performance.

[2020-02-24 11:22] stakx commented on #481
A method's parameter list is not an unordered set!

[2020-02-24 18:40] jstafford5380 commented on #481
No not the Method, but I have to assume that the `object[]` could be!

[2020-02-24 22:01] stakx commented on #481
@jstafford5380, again, no. Both `invocation.Arguments` and `invocation.Method.GetParameters()` are in the same order. .NET uses a calling convention where arguments are pushed onto the evaluation stack from left to right, and they end up in `invocation.Arguments` in the same order. `invocation.Arguments[0]` corresponds to the left-most argument, while `invocation.Method.GetParameters[0]` correspon

[2020-02-25 05:17] jstafford5380 commented on #481
ok thanks

[2020-02-25 05:17] #481 closed

[2020-03-10 20:49] stakx commented on #408
Long post following -- sorry for that.

I have been thinking a bit about this. [LibLong is no longer being maintained](https://github.com/damianh/LibLog/issues/270), and its creator recommends adoption of Microsoft.Extensions.Logging.

This however isn't an option as long as we want to support any target that isn't `netstandard2.0` (such as `net45`).

Another option I've considered for DynamicProx

[2020-03-10 23:02] stakx commented on #407
I think we should go with the following targets:

* `net45`
* `netstandard2.1`

And `netstandard2.0` iff .NET Core 2.x support is sufficiently important to keep it. My vote goes against it though, that target doesn't officially support System.Reflection.Emit in an honest way, and .NET Core is fast-moving anyway so let people upgrade from .NET Core 2 to 3 if they want to profit from the latest libr

[2020-03-11 09:51] thomaslevesque commented on #407
It's true, but .NET Core 2.1 is still going to be supported for some time (August 2021).
Targeting only netstandard2.1 means that libraries depending on Castle.Core will have to make the same choice if they want to benefit from the latest features. Speaking for FakeItEasy, I don't see us dropping support for netstandard2.0 any time soon. Two years from now, the situation might be different, but to

[2020-03-11 10:09] stakx commented on #407
@thomaslevesque - I understand that... your argument is the realistic one, while I'm pushing for a more idealistic goal. Realistically, while we all rely on System.Reflection.Emit, noone really cares that `netstandard2.0` doesn't actually support System.Reflection.Emit as long as it "just works" (despite the official statements). Ideally, we (this project and all its dependents) would force oursel

[2020-03-24 01:46] maliming opened #486 "The call time of the static ProxyGenerator's CreateClassProxyType method is gradually increasing."
**Castle.Core version 4.4.0**

I have a lot of mvc controllers for net core 3.1(**netcoreapp3.1**).
[code]

But the result of `static ProxyGenerator` and creating a `new ProxyGenerator` is different.
The call time of the static ProxyGenerator's `CreateClassProxyType` method is **gradually increasing.**

[code]

Console output:
[code]

[2020-03-24 06:58] stakx commented on #486
Assuming that your benchmark method gives sufficiently accurate results, I am curious how they would change if you...

* ran this on a different runtime / runtime version;
* put each controller type in a separate assembly;
* tacked a `.Reverse()` onto the expression you're iterating over.

The first of these would tell us if there has been a performance regression in .NET Core 3.1 reflection.

Eit

[2020-03-24 08:47] maliming commented on #486
hi @stakx
1. I changed the runtime from `netcoreapp3.1` to `netcoreapp2.2` and `netcoreapp2.1`.
2. I created 10 class libraries, and each library has 1 controller.
3. add `Reverse`.

But the result is still that the execution time of the static `ProxyGenerator `is gradually increasing.

10 controllers can let us see the growth trend.

[code]

[2020-03-24 21:01] stakx commented on #486
I've run some tests by wrapping various DynamicProxy code segments with `Stopwatch`, trying to identify those that get gradually slower. From what I can tell, the performance degradation does not happen in DynamicProxy, but in the runtime (System.Reflection.Emit). For example, [this line of code which calls `ModuleBuilder.DefineType`](https://github.com/castleproject/Core/blob/e2dfb57020d9dbb4b31f

[2020-03-25 01:12] maliming commented on #486
@stakx Thanks for your guidance 👍  I will try another way to avoid the above problems.

[2020-03-25 01:12] #486 closed

[2020-03-26 16:16] Armageddonw opened #487 "Method with return type List<long> never go through proxy"
In c++/clr, if you create a class with `List<long>^` return type, Interceptor is never invoked and there is no exceptions/errors thrown. Just silently invokes method, ommiting Interceptor.
Changing return type to `List<int>^` solves the issue.

[code]

Can it be somehow related to c# long type being 64 bytes and c++ long being 32 bytes?

[2020-03-26 16:21] stakx commented on #487
I don't think so. I'm suspecting custom modifiers in the IL metadata method signatures, C++/CLI makes use of them quite a bit.

You're not running your code on .NET Core 1.x... are you?

[2020-03-26 16:37] Armageddonw commented on #487
I'm running this code on standard .Net Framework 4.6.2

[2020-03-26 16:42] stakx commented on #487
Could you perhaps upload here a compiled C++/CLI assembly containing just the type you're trying to proxy? (I'm asking because I currently don't have the C++/CLI compiler installed.)

[2020-03-26 18:02] Armageddonw commented on #487
I cannot upload original assembly, but, I've prepared project with only this one class:
[OnlyAssembly.zip](https://github.com/castleproject/Core/files/4388995/OnlyAssembly.zip

And also simple console reproduction program:
[ReproConsole.zip](https://github.com/castleproject/Core/files/4388996/ReproConsole.zip)

(Both sources and compiled output)

[2020-03-26 20:15] stakx commented on #487
Thanks. I couldn't use your assembly directly due to some "assembly not found" exception, so I extracted the `ManagedClass` type using `ildasm` and recompiled the assembly using `ilasm` (with some unnecessary C++/CLI specific stuff removed).

[Repro.zip](https://github.com/castleproject/Core/files/4389690/Repro.zip)

I've also included my repro and the dynamic assembly generated by DynamicProxy.

[2020-04-03 08:05] Klainer commented on #473
Hello, I´m currently extending plugins system which based on AspnetBilareplate framework and this enhancement will help me to create more dynamic dev worklow. When plugins DLLs changes in CORE project I desperately need to unload / reload this plugins assemblies., It works, but after that I have this error:

So I vote +1 for this. Tahanks!

[2020-04-03 16:20] stakx opened #488 "Can proxy class Azure.Storage.Blobs.Specialized, but not empty subclass of it"
@GeeWee posted a bug report at https://github.com/moq/moq4/issues/991 which basically boils down to this:

[code]

Proxying `BlockBlobClient` appears to work fine; proxying an empty subclass of it throws the following exception:

[code]

(It may or may not be relevant that PEVerify reports a bunch of invalid signatures in the `netstandard2.0` DLL for that package:

[code]

[2020-04-03 16:31] stakx commented on #488
I just noticed two more things:

1. The problem goes away when strong-naming one's own DLL (which contains the test code above).

2. `Azure.Storage.Blobs.dll` carries an `[assembly: InternalsVisibleTo("DynamicProxyGenAssembly2, PublicKey=0024...5cc7")]` attribute.

[2020-04-03 17:43] pakrym commented on #488
Isn't the problem that you are trying to generate a non strong named dynamic assembly `DynamicProxyGenAssembly2` but for some reason generate overriding members for things that are not visible to it?

I think there might be a bug in https://github.com/castleproject/Core/blob/b066111b173a274140cb0ae35a60e2e760b90376/src/Castle.Core/DynamicProxy/ProxyUtil.cs#L188 this logic. It should check if stron

[2020-04-03 19:08] stakx commented on #488
@pakrym, thanks for the hint. It's indeed possible that there is a bug in DynamicProxy... I'll look into it ASAP.

[2020-04-03 19:42] stakx commented on #488
Ah yes, I think this explains it. What's happening in the above repro code (and in @GeeWee's) is this:

1. DynamicProxy gets a request to proxy a type `T` from user assembly **A**.
2. Because assembly **A** is not strong-named, DynamicProxy chooses to put the proxy type for `T` (`TProxy`) in a dynamic assembly **D** that also isn't strong-named. This is to ensure that it may reference assembly **A

[2020-04-22 06:21] PMExtra opened #489 "[Question] Is it safe using original MethodInfo.Invoke() to call dynamic proxy?"
I'm developing a RPC library.

I want to know is it safe using original MethodInfo.Invoke() to call dynamic proxy like below:

[code]

The `LoggingInterceptor` is same as
https://github.com/castleproject/Windsor/blob/4830718f99fd71e539133b34f9e54daa49049d6f/src/Castle.Facilities.WcfIntegration.Tests/Service/WcfServiceFixture.cs#L133-L145

The above test was passed. I just want to make sure it is c

[2020-04-22 07:41] stakx commented on #489
I cannot give a definite guarantee since I didn't write the runtime's reflection code such as `MethodInfo.Invoke` 😃, but AFAICT, the objects created by DynamicProxy are really regular .NET objects, so I don't see a reason why calling proxy methods through reflection should be any different from invoking other methods in the same way.

The only difference is that the proxy objects' types have been

[2020-04-22 09:03] PMExtra commented on #489
@stakx Thanks for your advice. I will keep some tests to ensure that.
But did you notice that my `method` (MethodInfo) is belongs `DemoClass`.
The `method.DeclaringType` is `DemoClass` instead `Castle.Proxies.DemoClassProxy`.
In my case, the `demo` is `Castle.Proxies.DemoClassProxy` that inheritance from `DemoClass`.
But I found there is another kind of proxy objects: Composition-based.
(https://g

[2020-04-27 12:52] thoros1179 opened #490 "Question: How to implement Dynamic Lazy Proxy the right way"
Hi there,

I hope somebody can help me or at least point in the right direction.

We have a large business application and have some custom logic for lazy registration and resolution of dependencies. This works all very well with Castle if we inject `Lazy<T>` into our classes (instead of [LazyEx](https://github.com/castleproject/Windsor/blob/6900bbf4f7ece81ee2987238f8eba59bd650642b/src/Castle.Wind

[2020-04-27 13:16] stakx commented on #490
I'm not currently near any computer so ai cannot provide any code, but here's an idea: IIRC, for some proxy types it is possible to change the target object during interception (using [this method](https://github.com/castleproject/Core/blob/6819f5c7373231589d692c874a7b41b2ec0b49e3/src/Castle.Core/DynamicProxy/IProxyTargetAccessor.cs#L28-L31)). So what you could do is to instantiate the lazy object

[2020-04-28 05:03] thoros1179 commented on #490
Thanks for your suggestion.
First thing is: the instantiation of the lazy object would have to be done by the container, as there is be a whole dependency tree beneath, so cannot be done manually.
Second thing: I couldn´t just proceed the method invocations to the new target, because I would have to insert a ".Value" (it´s a lazy object after all) into the method-calls. Reflecting them would proba

[2020-04-28 05:46] stakx commented on #490
Then make the container available by injecting it into your interceptor.

You'd no longer need to use `Lazy<>`, since your proxy now takes over its function. If your interceptor creates the target object (what would otherwise have been the `Lazy<>.Value`) in `Intercept` that means creation of the target becomes lazy because it only happens on the first method call. The outside world however will n

[2020-04-28 12:28] jonorossi commented on #474
Thanks @zapov.

This is the output of the new unit test in #475 without the fix:

[code]

[2020-04-28 12:31] jonorossi commented on #474
Fixed by #475.

[2020-04-28 12:31] #474 closed

[2020-04-28 13:18] jonorossi commented on #407
@stakx I'm starting to agree that likely no one really cares that .NET Standard 2.0 doesn't really support reflection emit, and we should just drop .NET Standard 1.x support and add .NET Standard 2.0 to get rid of all the cruft of every BCL package being listed. At the same time add .NET Standard 2.1 because that is the target we want people to use, as we'll drop .NET Standard 2.0 in a couple of y

[2020-04-28 14:12] stakx commented on #407
Sounds great to me!

[2020-05-01 09:08] generik0 opened #492 "Castle.Core does not build due to projecticonurl being obsolete"
Please see windsor [issue 518 ](https://github.com/castleproject/Windsor/issues/518)

[2020-05-01 11:28] stakx commented on #490
See the previous issue https://github.com/castleproject/Core/issues/293 for an example how to implement this. Basically:

[code]

[2020-05-02 13:02] stakx commented on #394
@jonorossi, if splitting up the repository turns out to be too much work, here's an alternative suggestion (which I've already tried locally):

Instead of extracting DictionaryAdapter and putting it in a different repository, we could turn Core into a monorepo, and turn the `Castle.Core` NuGet package into a (mostly-) meta package. It's probably easiest to explain by showing the final dependency g

[2020-05-04 13:00] thoros1179 commented on #490
Thanks for your suggestion. But the last part is bugging me... there is no explicit place where I can call the ProxyGenerator. The **IService** interface is injected into some class, which is resolved by the container. The creation of the proxy must happen implicitly, so I need to somehow tell the container to dynamically create an interface-proxy, if an interface is injected into some class. And

[2020-05-04 13:58] stakx commented on #490
How you configure your DI container is a totally different problem, and since DynamicProxy ian't itself a DI container you're perhaps asking in the wrong place.

At a high level, it seems that you'd want to configure your DI container like this:

[code]

If you want to instantiate `ServiceImpl` by requesting an `IService` from your container, you will need a way to tell your container to use a dif

[2020-05-06 08:59] jonorossi opened #497 "Move from AppVeyor to GitHub Actions"
I'm using GitHub Actions for a couple of private projects and have been happy. The integration into the GitHub UI is nicer, we'd be able to have more concurrent jobs which does get annoying with AppVeyor being limited to just one. I haven't tried out GitHub Packages, but I'd be interested in seeing if that would work well for CI builds.

Today we build and test on .NET Framework and .NET Core on W

[2020-05-06 09:07] jonorossi commented on #394
@stakx I understand the proposal, let me do some thinking. Need to consider assembly identities, Windsor and the future of some of this stuff. Will get back to you.

[2020-05-06 10:17] stakx commented on #497
While fixing our AppVeyor CI build, I was about to suggest moving to GitHub Actions, too. I ended up not to, because in the short term, I'd rather invest my time in getting the next 1-2 versions of Castle.Core ready, rather than rewriting the CI build. 😄

Once we have Castle.Core 5 done and published, I think moving to GitHub Actions would be a good idea. When we moved our Linux build from Travis

[2020-05-06 11:05] jonorossi opened #498 "Release 4.4.1"
Releasing bug fixes in master.

[2020-05-06 11:09] jonorossi commented on #498
- Tagged [`v4.4.1`](https://github.com/castleproject/Core/releases/tag/v4.4.1)
- Confirmed successfully pushed to nuget.org and validated
- [Tweeted](https://twitter.com/castleproject/status/1257990848999899136)

[2020-05-06 11:09] #498 closed

[2020-05-10 19:09] stakx commented on #489
The `method.DeclaringType` is `DemoClass` instead `Castle.Proxies.DemoClassProxy`.
In my case, the `demo` is `Castle.Proxies.DemoClassProxy` that inheritance from `DemoClass`.

If I understand you correctly, we need to answer to the question whether virtual dispatch will work correctly when using `MethodInfo.Invoke`. Let's run an experiment:

[code]

And indeed, this appears to work as it should.

[2020-05-11 04:20] PMExtra commented on #489
Thanks a million for your help. It's so exact and professional, now I've fully understood about it.

[2020-05-11 04:20] #489 closed

[2020-05-13 12:12] WeihanLi opened #499 "question: difference CreateClassProxyType vs CreateClassProxyTypeWithTarget"
what's the difference `CreateClassProxyType` and `CreateClassProxyTypeWithTarget`

[2020-05-13 12:18] jonorossi commented on #499
Please read the docs: https://github.com/castleproject/Core/blob/master/docs/dynamicproxy-kinds-of-proxy-objects.md

[2020-05-13 13:21] WeihanLi commented on #499
Thanks @jonorossi

[2020-05-13 13:21] #499 closed

[2020-05-13 22:36] stakx commented on #407
I think we can close this issue, now that #485 has been merged. 🎆

[2020-05-13 22:36] #407 closed

[2020-05-13 22:49] stakx commented on #449
@bruthig-g, this issue has been dormant for several months. Is there still anything you need, or should we close this issue?

[2020-05-14 08:05] stakx commented on #389
Just as a heads-up, I'll likely work on this next. I'll focus just on DynamicProxy's API for now. I'll try to verify all public API changes against Windsor to ensure we don't need too many changes or rewrites over there; all arguments below are made under the condition that there would be a relatively easy way to keep Windsor going.

I remember reading in some GitHub issue (cannot remember where e

[2020-05-14 13:22] bruthig-g commented on #449
We don't plan to pursue any work here.  We ended up "just adding a layer of indirection" for the offending methods.  So in the example below `IDebugProperty3.EnumChildren()` is not decorated but `IMyDebugProperty.EnumChildrenImpl()` is.

I still sand by my thoughts that CastleProxy could be more resilient to misbehaving third-party code but I understand that the cost/benefit ratio might not be wor

[2020-05-14 13:54] stakx commented on #449
Thanks for replying @bruthig-g. Yes, you are certainly right that DynamicProxy *could* be somewhat more resilient against misbehaving user code, but we're likely going to focus on other things in the near future, so I am going to close this issue for now.

[2020-05-14 13:54] #449 closed

[2020-05-16 10:17] stakx opened #501 "Remove obsolete or redundant conditional compilation symbols"
PR #495 removed approx. half of all conditional compilation symbols, but a few are left. This issue is a follow-up to @jonorossi [comment in said PR](https://github.com/castleproject/Core/pull/495#discussion_r426131150):

As to how more of those symbols can be removed, I would need to take a closer look. Right now, I'm assuming the following:

| Conditional compilation symbol | Remarks
| ---- | --

[2020-05-17 14:20] stakx commented on #490
@thoros1179 is there anything else for us to do (or help with) here? Or should we close this issue?

[2020-05-17 16:19] thoros1179 commented on #490
Sorry for the delay. The Interceptor you provided basically works for what I want it to. As you said my remaining problem now is with my container to resolve the inner content of it. I got it working already but still have some side effects to tackle. So basically this can be closed, muchos gracias!

[2020-05-17 16:19] #490 closed

[2020-05-19 13:18] #477 closed

[2020-06-05 15:01] stakx commented on #487
And indeed, that is exactly what is going on here. Custom modifiers can only be discovered and applied at the `ParameterInfo` level, but not at the `Type` level, as a previous code owner for System.Reflection.Emit mentioned in https://github.com/dotnet/coreclr/pull/17881#issuecomment-387114966.

In this case,there is simply no way for DynamicProxy to discover and replicate the necessary `IsLong` c

[2020-06-08 08:42] jonorossi opened #506 "Run ILVerify on unit tests"
We've been running PEVerify on the output of unit tests on Windows for .NET Framework builds for a very long time. Microsoft has been building `Microsoft.DotNet.ILVerification` under the CoreRT project, but that effort has now moved into the .NET runtime Git repo and looks to be coming out in .NET 5 as ILVerify and a library. It would probably be a good time to test out the tool to see if DP is in

[2020-06-08 09:02] jonorossi commented on #501
- `FEATURE_SERIALIZATION`: not sure, I'd have to look into it.
- `FEATURE_REMOTING`: I can't think of a good reason anyone would want do this today, there could be old code out there using `MarshalByRefObject`, but this is definitely one of those things that isn't moving forward with .NET 5.
- `FEATURE_EVENTLOG`: Need to get back to you on #394.
- `FEATURE_SYSTEM_CONFIGURATION`: Probably need to r

[2020-06-08 20:52] stakx commented on #501
@jonorossi,

* `FEATURE_APPDOMAIN` and `FEATURE_REMOTING` &mdash; see the two small PRs that I just submitted.

* `FEATURE_TEST_COM` &mdash; I could cook up a C++ library that exports "[lightweight COM](https://stackoverflow.com/questions/38174095/what-exactly-is-lightweight-com)" components; that is, classes that adhere to COM's ABI and `IUnknown` protocol. Unlike with "true" COM, they wouldn't b

[2020-06-08 20:58] stakx commented on #506
@jonorossi, I may be missing something, but ILVerify looks a little... unfinished. I don't expect that it can fully replace PEVerify in the near future, but I'll give it a try, and keep an eye on it.

[2020-06-09 01:51] jonorossi commented on #506
I looked at the [`VerifierError` enum](https://github.com/dotnet/runtime/blob/master/src/coreclr/src/tools/ILVerification/VerifierError.cs) and (wrongly?) assumed that was the full list from PEVerify, with only a few still commented out.

[2020-06-10 23:14] stakx commented on #501
Let me see if I can get this straight. `FEATURE_SERIALIZATION` is a hodge-podge of at least 4 distinct concerns which we possibly need to untangle:

1. guards types that need to be serializable because they go in the `LoadAssemblyIntoCache` cache mappings blob (e.g. `CacheKey`, `ProxyGenerationOptions`, proxy generation hook types, or interceptor selector types) &mdash; i.e. types that support the

[2020-06-11 02:02] jonorossi commented on #501
Great summary, and I too am not sure how much of everything is important.

(1) We've always had problems with serialization of types involved in the pre-generated assembly process, you can always have an interceptor, interceptor selector, mixin, etc that just can't be serialized properly, but no one has reported any defects with this in the last decade I can recall, so either so few people use thi

[2020-06-11 06:25] stakx commented on #501
I didn't quite dare suggest it myself, but I'm also favor of removing serializability for (1), (2), and (3) and only gradually add back the bits people really need. Could Windsor possibly be a roadblock here?

About unit tests, I suppose you're worrying about PEVerify? I could be wrong, but that ought to work even without serializability. `SaveAssembly` isn't in danger, it's `LoadAssemblyIntoCache

[2020-06-15 20:00] stakx commented on #492
Closed by #493.

[2020-06-15 20:00] #492 closed

[2020-06-15 21:16] stakx opened #517 "Can we move `AttributesToAvoidReplicating` into DynamicProxy's main namespace?"
[`AttributesToAvoidReplicating`](https://github.com/castleproject/Core/blob/c60b977889054452c20028c06a0aa49065a9ef81/src/Castle.Core/DynamicProxy/Generators/AttributesToAvoidReplicating.cs) currently sits in the sub-namespace `Castle.DynamicProxy.Generators`. It's one of only two public types left in that namespace&mdash;the namespace contains mostly internals that became truly `internal` in #505.

[2020-06-15 21:34] stakx opened #518 "Can we reduce the amount of custom DynamicProxy exception types?"
DynamicProxy currently defines four exception types:

* `GeneratorException`
* `InvalidMixinConfigurationException`
* `InvalidProxyConstructorArgumentsException`
* `ProxyGenerationException`

The uses of these exceptions can be roughly summarized as follows:

* User code invokes DynamicProxy incorrectly. In many instances, a `ArgumentException` or `InvalidOperationException` could be thrown instea

[2020-06-17 04:22] jonorossi commented on #517
I think this class got used a bit more years back when DP didn't have a framework attribute built-in and the `SecurityAttribute` hierarchy wasn't handled (just the top level), and then all the mocking frameworks added exclusions themselves rather than logging a defect.

Copying from a 2018 comment of mine:

There will still be some use out there for things like `ServiceContractAttribute` and whate

[2020-06-17 04:29] jonorossi commented on #518
I definitely like the idea of using FCL exceptions (e.g. `ArgumentException` and `InvalidOperationException`) instead of a custom exception because you provide your own message anyway. Why we've got `GeneratorException` and `ProxyGenerationException` it strange.

I recall DP also throws `TargetException` and `TargetInvocationException` during execution of proxies if things blow up (but they might

[2020-06-18 21:25] stakx commented on #517
That made me curious. Is anyone using `AttributesToAvoidReplicating` at all these days? Obviously I won't be able to prove that it's not needed anymore, but a search across GitHub doesn't bring up a lot of relevant-looking results.

First, none of the projects that we list on [our introductory DynamicProxy documentation page](https://github.com/castleproject/Core/blob/master/docs/dynamicproxy.md)

[2020-06-19 07:36] jonorossi commented on #517
Castle has always been pretty flexible and way too open with the public API surface, and even though we are removing heaps of the public API, I think since this is a pretty trivial amount of code that we should keep the feature rather than remove but mostly because this is going to be used more by people's private projects rather than library code.

[2020-06-19 08:04] stakx commented on #517
Perhaps true. :+1:

I've been prototyping `ProxyGenerationOptions.AttributesToAvoidReplicating` last night. The fact that we hardwire certain framework attributes complicates the code quite a bit; we need to model a special collection that always `.Contains` them even when not explicitly `.Add`-ed. When enumerating, you need to concatenate the hardwired attributes with those explicitly added. Alte

[2020-06-22 00:05] jonorossi commented on #517
I was actually thinking similar, I looked at how we could add it to `IProxyGenerationHook` without it being a breaking change but couldn't come up with a way.

It won't be immutable because the hook object can be mutable or even non-deterministic.

I don't think `Contains` was desired, the `Add` method should handle being a set.

Not really sure which way to go TBH.

[2020-06-22 18:53] stakx commented on #517
We have some time to ponder this, I found that the main difficulty lies in making the proxy generation `options` available to the static `AttributeUtil` class where the replication decision is made; `options` has to be passed down a whole new part of the call graph. I'm busy finding a reasonably tidy way to do it.

Re: breaking change, extending `IProxyGenerationHook` would be a breaking change. W

[2020-06-29 13:24] jonorossi commented on #518
The pull requests were all great, I'm happy with all the changes. Thrown exceptions definitely follow a clean pattern now.

[2020-06-29 21:16] #518 closed

[2020-06-29 21:20] stakx commented on #518
@jonorossi, I'm glad you were happy with the changes. I couldn't quite shake the feeling that those PRs were a bit messy, but that was perhaps unavoidable, given the many case-by-case decisions necessary. It feels good to have those exceptions out of the way now!

[2020-06-30 09:14] jonorossi commented on #518
I didn't feel that way. The commit messages made it easy to follow your thought process.

[2020-06-30 09:22] jonorossi commented on #497
[Dustin Moris Gorski's blog post](https://dusted.codes/github-actions-for-dotnet-core-nuget-packages) yesterday might be useful, he even has the Giraffe project builds publishing to GitHub Packages.

[2020-07-27 17:10] lawrence-laz opened #531 "*this was added by mistake*"

[2020-07-27 17:10] #531 closed

[2020-07-27 17:30] lawrence-laz opened #532 "Using `ProxyGeneratorExtensions.CreateClassProxyWithTarget` Like `ActivatorUtilities.CreateInstance`"
To use `ProxyGeneratorExtensions.CreateClassProxyWithTarget` with non-parameterless constructors we have an overload with `object[] constructorArguments`.

However, I don't think there is a way to delegate argument gathering responsibility to an outside party (ex. dependency container), like done in [`ActivatorUtilities.CreateInstance`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensi

[2020-07-27 21:40] stakx commented on #532
Hi @lawrence-laz, `ProxyGeneratorExtensions`, `ActivatorUtilities` etc. do not exist at this repository, so questions about those are out of scope... we can't help you without putting in extra time to familiarize ourselves with a third-party project, so I hope you'll understand that I'm going to close this issue.

[2020-07-27 21:40] #532 closed

[2020-07-28 04:50] lawrence-laz commented on #532
Hi @stakx,

Sorry for not being more attentive about the class being reffered. But `ProxyGenerator` (which is in this repo) has the same method and the same limitation. Please let me rephrase this issue and if you still think this is out of scope, then that is fine.

Currently the [following method](https://github.com/castleproject/Core/blob/e0db2726b79715675c14f55d008e2a40794aa461/src/Castle.Core

[2020-07-28 05:08] jonorossi commented on #532
It doesn't need to be known at compile time, but you'll have to use reflection to work that out if you want your application to proxy anything. I don't follow how a `Func` overload would help here.

I'd suggest taking a read of the DynamicProxy docs (e.g. https://github.com/castleproject/Core/blob/master/docs/dynamicproxy-kinds-of-proxy-objects.md) to familiarise yourself with how DP works under t

[2020-07-28 05:11] stakx commented on #532
The `constructorArguments` are plugged into the constructor of the proxy object being built. So your factory method would have to build proxy objects. Your factory method would have to be able to build proxy objects, i.e. do DynamicProxy's main job.

Maybe I still misunderstand, so let's look at that `Func<Type, object>` more closely:

1. What the `Type` would you pass to it?
2. What `object` do y

[2020-07-28 05:58] lawrence-laz commented on #532
I see that I underestimated the underying complexity of creating a proxy instance. Makes sense that you also need to initialize internal proxy state and a given type constructor arguments are just a part of it.

I hoped to avoid using reflection in this case by delegating object construction to `Microsoft.Extensions.DependencyInjection` using a `Func` like this:
[code]

To answer your questions:

[2020-07-28 06:13] stakx commented on #532
@lawrence-laz, perhaps the following will help when thinking about this. Imagine you want to create a proxy for the following type (let's just ignore the target business for now, whether your proxy has a target or not is mostly unrelated to the issue at hand):

[code]

When DynamicProxy is asked to create a proxy, it has to create a proxy type first (which it then instantiates using `Activator.Cre

[2020-07-28 06:35] lawrence-laz commented on #532
Interesting. So using `Activator.CreateInstance` is in a way a strategy for creating proxy object.

Yes, but dependency container can! What I, as a user would like to do, is to replace proxy instantiation strategy with another in a format of `Func<Type, object>`.

So the default (currrent) would be:
`(type, constructorArguments) => Activator.CreateInstance(type, constructorArguments)`
and it could

[2020-07-28 09:56] stakx commented on #532
In that case you need to go one level lower. If you don't want DynamicProxy to create the proxy object for you, but the proxy type, then you'd use `ProxyBuilder` instead of `ProxyGenerator`. The former creates proxy types, the latter creates proxy objects.

But you'll still need to pass `constructorArguments`, if the proxied type has parameterized constructors.

[2020-07-28 10:41] jonorossi commented on #532
@lawrence-laz to give a bit of perspective, Entity Framework Core uses this DynamicProxy API for all entity types and also passes `constructorArguments`.

https://github.com/dotnet/efcore/blob/main/src/EFCore.Proxies/Proxies/Internal/ProxyFactory.cs

[2020-07-28 11:35] dickvdm opened #533 "Assemblies are not code signed"
Assemblies (Castle.Core.dll) in nupkg are not code signed.

[2020-07-28 11:41] lawrence-laz commented on #532
That gives me some ideas, thanks!

Yes, sorry, that would be `Func<Type, object[], object>`. Then user-defined params could be resolved by DI, while proxy-defined params provided by `ProxyGenerator`.
**Pseudo** example:
[code]

Does this make sense?

[2020-07-28 18:00] stakx commented on #533
Maybe I am a bit conservative here, but may I ask: is this *actually* a problem for every-day use / consumption of the package? If so, why?

If I understand this correctly, someone would have to pay for a code signing certificate and renew it every now and then. I think there would have to be some real-world benefit to make up for those costs.

TBH I'm not totally convinced that it's worth it.

[2020-07-31 11:23] r-pankevicius commented on #480
My two cents...

Why not have a special "marker class" to carry two facts combined: 1) the value is null and 2) type is that type.?
For example, if we have class like this:
[code]
we can even tell C# compiler what type to choose replacing argument; foo1 and foo2 are equivalent:
[code]
So ProxyGenerator can choose correct constructor either by using "hardcoded NullValueOf class", or in a more flexi

[2020-08-21 13:04] stcallan opened #534 "Castle Core dependencies for .Net Standard 1.5"
Does Castle.Core have any dependencies on .Net Standard 2.0 ?

We can see there are dependencies for .Net Standard 1.5

Just looking at this here:
![image](https://user-images.githubusercontent.com/31473371/90893640-425af900-e3b7-11ea-8018-24f9ad7fd683.png)

Thanks!

[2020-08-24 08:10] SonnyCampbellUnity commented on #534
Thanks guys

[2020-08-24 08:27] #534 closed

[2020-09-12 16:38] CrispyDrone opened #535 "Private protected methods are not intercepted"
Hello,

it seems that private protected methods are not intercepted, even though I would expect them to be:

[code]

This fails on the private protected call, but not on the internal, or protected one.

Is this expected behavior? If not, there is an [existing issue in NSubstitute](https://github.com/nsubstitute/NSubstitute/issues/612) regarding this, and I think the root cause might then be with `

[2020-09-15 08:54] jonorossi commented on #535
I assume since your unit test is using `BasePEVerifyTestCase` that you've written this code against master, and so you've got the changes in #491 even though those changes don't look like they'd affect your unit test.

Since you've got this far, do you want to confirm that `ProxyUtil.IsAccessibleMethod` is returning true.

[2020-09-15 20:12] CrispyDrone commented on #535
I can confirm that this passes:

[code]

[2020-09-17 08:22] jonorossi commented on #535
My guess is that `MembersCollector.AcceptMethod` is the problem:

https://github.com/castleproject/Core/blob/a7454e5d43e29fee1451a0190b333d23b47497f1/src/Castle.Core/DynamicProxy/Contributors/MembersCollector.cs#L225-L229

@CrispyDrone could you add `IsFamilyAndAssembly` to that condition and see if that fixes your unit test. We probably don't need this check anyway since `ProxyUtil.IsAccessibleMe

[2020-09-17 20:24] CrispyDrone commented on #535
@jonorossi

I can confirm that the unit test passes.

However something that might be interesting is that for the proxy, `ProxyUtil.IsAccessibleMethod` now returns false. The generated method is marked as internal I think; it only has the attribute `Assembly`, and no longer `FamANDAssem`.

I assume that `ProxyUtil.IsAccessibleMethod` should return false as the dynamic assembly in which the proxy i

[2020-09-18 08:45] stakx commented on #535
@CrispyDrone, thanks for running these tests!

I suspect this is unproblematic, [ECMA-335 §II.10.33](https://github.com/stakx/ecma-335/blob/f70c2704d9e22c0631e654fddb1d0e21dc3dcf89/docs/ii.10.3.3-accessibility-and-overriding.md) specifically allows widening of accessibility in overrides. I vaguely remember having seen instances of such widening somewhere else (possibly in reference assemblies). Ei

[2020-09-30 17:16] xumix opened #536 "Virtual property is not proxied in DynamicProxy if ProxyGenerationHook returns false for ShouldInterceptMethod"
**Expected:** the property to be proxied but not intercepted.

**Actual:** the property is generated in the proxy but does not pass the value to the underlying instance

[code]

[2020-09-30 18:34] stakx commented on #536
I haven't run your example code yet, but on the surface, and from what I can remember, this seems very similar to #67.

[2020-09-30 18:40] xumix commented on #536
True, this looks like a duplicate. Can't believe this bug lives for so long.

[2020-10-02 21:39] stakx commented on #535
@CrispyDrone, I can confirm that @jonorossi's suggestion fixes this issue, see https://github.com/castleproject/Core/compare/master...stakx:private-protected-methods.

Since it was you who did the important work (describing the problem, and providing repro code :+1:), I think it would be great if you could submit a bug fix PR. Please feel free to steal my commits if you find them useful.

Otherwis

[2020-10-10 12:46] CrispyDrone commented on #535
@stakx

Hi again. Sorry for the late response, I have been preoccupied with some other things. I'm going to try to submit the PR this weekend. If I don't, feel free to continue without me.

[2020-10-11 19:23] CrispyDrone commented on #535
@stakx

Actually, I'm fine with you submitting your fix as a PR. I would not feel comfortable with just taking your commits; I hope you understand. An acknowledgement in the changelog is more than enough for me at this time 😄

I'm sure I'll be able to make a real code contribution myself in the future!

[2020-10-20 19:34] mxmissile commented on #533
I've never understood this, with an open source package, you and just sign it yourself, unless I'm mistaken???

[2020-10-20 20:54] stakx commented on #533
@mxmissile, who does the signing? And with what, some kind of certificate? What kind of certificate? Can I produce one myself, or do I need to get it from someone else? If there are several potential sources, which is the preferred one, and why? Does it cost something? If so, who pays? Does it have to be renewed regularly, and if so, how often? Does the certificate have to be kept in a safe place,

[2020-10-20 21:25] mxmissile commented on #533
@stakx I did not mean to imply signing the castle project, I meant simply that the OP could do it themselves, to be consumed by themselves.

[2020-10-20 21:31] stakx commented on #533
@mxmissile, ah, I see... my apologies. I suspect it may be for similar reasons that projects aren't forked nearly as often as they could be: you'd have to "sync"/reapply your own work (here: code signing) every time a new version gets published upstream, and people (me included) may find it more convenient to have all the work done for them upstream.

[2020-10-21 00:04] jonorossi commented on #533
I completely agree @stakx about code signing not being a simple process. The OP states they want the binaries not the package code signed, so that likely means Authenticode, however what about non-Windows OSs, it's not just the mechanism to sign it would also require selecting a CA that is supported across many OSs.

There is also NuGet package signing which likely would have better multi-OS suppo

[2020-11-18 00:30] superstator opened #537 "Generate proxy without IInterceptor ctor args"
I'd like to use `DynamicProxy` to create a proxy for an abstract type, adding an attribute but without actually adding any interceptors and without changing the constructors. I can do most of this already - for example, if I have a class:

[code]

and an extension method:

[code]

I can generate an assembly and create an instance:

[code]

The only catch is that I need to pass that empty `IInterce

[2020-11-18 07:33] stakx commented on #537
What would be the use case here? Why create a proxy at all if you're not interested in using its core feature, method interception?

[2020-11-18 09:43] jonorossi commented on #537
I agree with @stakx, what is the use case here.

Your DynamicProxy's entry point should be to a `ProxyGenerator` not a `DefaultProxyBuilder`, you should be letting DynamicProxy instantiate your proxy object, not assuming what the constructor arguments will be.

[2020-11-18 16:41] superstator commented on #537
Fair questions! The use case is really just adding attributes to a class at runtime, and then passing the dynamically generated assembly to another process. That other process will use standard dependency injection mechanisms to create its own instances. That’s also why I’m skipping ProxyGenerator, since at this point I’m really just interested in the generated type and containing assembly.

[2020-11-18 19:14] stakx commented on #537
I see. DynamicProxy may be convenient because it does 90% of what you want; but it it is also overkill because it does many more things that you _don't_ need (like overriding methods, creating those ctors, etc.). For this reason, I suspect you might be better off without DynamicProxy.

It shouldn't be too difficult using System.Reflection.Emit directly to emit a class with a specific `BaseClass` i

[2020-11-18 19:40] superstator commented on #537
I started down that road, but couldn't quite make it work. As you say, creating the new class and adding attributes is easy, but cloning the constructors stumped me, and I have no idea what else I haven't considered. I have no doubt it can be done, and I could probably use the bits of DynamicProxy that I need as a template to get it working, but then I'm on the hook maintaining a bunch of Reflecti

[2020-11-19 19:28] superstator commented on #537
I think I finally cracked the nut on doing constructor generation myself, thanks to [this](https://stackoverflow.com/questions/6879279/using-typebuilder-to-create-a-pass-through-constructor-for-the-base-class) so I guess this is moot. Thanks for humoring me anyway!

[2020-11-19 19:28] #537 closed

[2020-12-01 06:15] backjacklao commented on #297
This issue still occurs in Castle.Core (4.4.1)

[2020-12-01 06:27] backjacklao opened #538 "Could not find method overriding ***. This is most likely a bug. Please report it."
`IInvocation.MethodInvocationTarget` will throw an exception of type `System.ArgumentException | System.Reflection.MethodInfo {System.ArgumentException}`

#### Method Base Class:

[code]

#### Method implementing class:

[code]

`OrderBy<>` is my class

I found , if `OrderBy<TEntity, T2, T3, T4>[]` change to `OrderBy<TEntity, T2, T3, T4>` or `OrderBy<TEntity>` is OK, and if delete the method imple

[2020-12-01 08:53] stakx commented on #538
Hi, it's difficult piecing together what exactly led to that error message from your description. Could you please provide a short but complete repro code example?

[2020-12-05 02:44] backjacklao commented on #538
Method Base Class:
public virtual async Task GetPageListAsync((Dictionary<string, string>[] test){
return;
}

Method implementing class:
public override async Task GetPageListAsync(Dictionary<string, string>[] test){
return;
}

IInterceptor implementing class:
public class MyInterceptor : IInterceptor
    {
        public void Intercept(IInvocation invocation)
        {
            MethodInfo meth

[2020-12-05 16:17] stakx commented on #538
You've posted a few (partially incomplete) code snippets, but you don't show how they fit together. Could you please post a short but complete & runnable code example showing how you use those types together with DynamicProxy, and then indicate where the reported error happens? Thanks.

[2020-12-08 02:42] wocar opened #539 "Slow debugging"
* **OS**: MacOS
* **IDE**: Happens with VS for Mac and with Jetbrains Rider.

Im using AutoFac

Am I the only one with performance problems when debugging? Since I start debugging till the website is available it takes around 50 seconds.

I'm almost certain that it is because of the interceptors.  On the debug output I have the following message, sometimes it takes around 15 seconds.

[code]

The

[2020-12-08 05:23] maliming commented on #539
No one has reported such a problem. I think it has something to do with your environment.

[2020-12-08 20:43] stakx commented on #539
@wocar, this is most likely a problem with your debugger's settings. I am guessing that it wastes a lot of time trying to fetch non-existent debugging symbols for `DynamicProxyGenAssembly2`. If you're using Visual Studio, go to _Debug_ &rarr; _Options_ &rarr; _Debugging_ &rarr; _Symbols_ and try either of these two approaches:

1. At the top, disable all checkboxes in the _Symbol file locations_ l

[2020-12-14 10:24] #533 closed

[2020-12-14 10:37] stakx commented on #487
While this probably classifies as a bug, I'm going to close this for now since there's nothing we can do about this (as explained in my above post).

[2020-12-14 10:37] #487 closed

[2020-12-15 01:59] wocar commented on #539
Thank you for the support given. For anyone else wondering what might it be, I'm using Rider + MacOS disabled this feature:

![image](https://user-images.githubusercontent.com/9215073/102158265-b62d7f80-3e46-11eb-8ba4-1fe000d7e456.png)

And now instead of 30+ secs its like 8 secs. Thank you once again.

[2020-12-15 01:59] #539 closed

[2021-01-02 19:28] stakx opened #546 "`System.UIntPtr` is unsupported"
DynamicProxy apparently doesn't support `System.UIntPtr` properly. This may become more of an issue now that C# 9 has a dedicated keyword for this type (`nuint`).

This short program:

[code]

will fail with:

[code]

I narrowed this down to just `UIntPtr`, which isn't covered here:

https://github.com/castleproject/Core/blob/5f2865267cbd457fe9c1274eb7a397520735048f/src/Castle.Core/DynamicProxy/Ge

[2021-01-03 20:19] #546 closed

[2021-01-06 01:59] #238 closed

[2021-01-06 02:11] stakx commented on #253
Closing due to several years of inactivity.

[2021-01-06 02:11] #253 closed

[2021-01-06 12:12] stakx commented on #538
@backjacklao, I've taken another look, but I cannot reproduce any error given your code snippets above. Unless you can provide us with a complete & runnable repro code example, I am going to close this issue in a few days.

[2021-01-07 18:50] stakx commented on #430
A bug fix for this has happened inside CoreCLR, but is only scheduled for .NET 6.

It occurred to me only today that this CLR bug can be circumvented. As I stated in the CoreCLR issue (link above), the problem is ultimately caused by System.Reflection.Emit encoding an incorrect method signature for `ldtoken <methodToken>` under certain conditions (generics + `in` parameter modifier). There is a si

[2021-01-12 02:42] marlonedu opened #558 "I cannot find artifacts for 4.4.1 in appveyor"
Hello. I want to load the symbols from version 4.4.1 but I can't find its artifacts. I have searched here https://ci.appveyor.com/project/castleproject/core/build/4.4.1/artifacts but I haven't found it.

[2021-01-12 18:24] stakx commented on #558
You have looked in the right place. I suppose the reason that the symbols are no longer there is AppVeyor's current artifacts retention policy (introduced about 2 years ago, IIRC), which states that build artifacts will be deleted after 6 months.

That's unfortunate, and something we should keep in mind when migrating our CI from AppVeyor to GitHub Actions (#497).

[2021-01-12 21:41] marlonedu commented on #558
1. But the artifacts from version 4.4.0, which I understand are older than 4.4.1, can be viewed on AppVeyor :/
2. So are you planning to migrate to GitHub Actions? If that is the case, when you do this migration, do not forget to put it in the documentation please.

[2021-01-12 22:02] stakx commented on #558
I suspect those are still around because the build ran before the new artifact retention policy was introduced.

Yes, that's the plan.

Sure.

[2021-01-13 00:09] jnm2 opened #560 "Please make Castle.Core.Internal.CollectionExtensions internal because it shows up in IntelliSense"
Both Visual Studio natively and ReSharper suggest extension methods they found in unimported namespaces from all directly or indirectly referenced packages. There are parentheses showing that they will add a `using` directive for that namespace if you select that extension method, but if you are moving quickly, you can end up with `using Castle.Core.Internal;` without noticing. Sometimes the first

[2021-01-13 00:54] stakx commented on #560
I agree this class probably shouldn't be public (we've made a whole lof of internals internal already) so I'm all for it; but this won't solve the more fundamental problem, which is that IntelliSense shouldn't suggest extension methoss from unimported namespaces in the first place, esp. when the containing class is marked `EditorBrowsable.Never`; sort of defeats one of the original design goals of

[2021-01-13 01:20] marlonedu commented on #558
Ok, so that's what surely happened.

Great, thank you for the answers 👍

[2021-01-13 01:20] #558 closed

[2021-01-13 23:02] #538 closed

[2021-01-13 23:11] stakx commented on #478
Closing this issue, as it was an enquiry about a very specific use case and has seen no activity for > 1 year.

[2021-01-13 23:11] #478 closed

[2021-01-13 23:20] stakx commented on #501
I am going to close this issue. I've removed as many conditional compilation symbols as is currently possible without removing actual features.

The discussion about whether or not serialization support should be removed probably deserves a dedicated issue.

[2021-01-13 23:20] #501 closed

[2021-01-13 23:23] stakx opened #562 "Remove support for serialization?"
This is a continuarion of #501. We ended up questioning whether or not DynamicProxy should retain special support for serialization (this actually encompasses a few different aspects). I think this question deserves a dedicated issue.

[2021-01-14 10:29] stakx commented on #562
My personal opinion on the matter: DynamicProxy focuses mostly on binary serialization (with a wee bit of XML serialization thrown in), and that is mostly obsolete in all recent .NET versions. We should probably cut off that historical baggage at some point. This can only happen in a major release (e.g. now, for v5).

Removing binary serialization will not affect saving generated assemblies to dis

[2021-01-14 16:25] jnm2 commented on #560
IIRC `EditorBrowsable.Never` does work on each extension method. I wouldn't expect `EditorBrowsable.Never` on the class to come into play because it wouldn't come into play for contained static methods after you've already dotted off the class name.

[2021-01-19 13:06] jonorossi commented on #430
I agree that it would be too much work to do a complete workaround, method signature semantics are crazy 😄 . There is also a chance that they backport it to .NET 5.0 sometime this year if it becomes a bigger problem, sounds like there is quite a few people having issues with `ReadOnlySpan` and dynamic code generation.

Shouldn't we be able to detect the situation where the CLR will blow up and do

[2021-01-19 14:22] jonorossi commented on #558
We should stop relying on symbols being available for releases on our CI server and instead publish symbols with NuGet now that there is a better story for symbols.

[2021-01-19 14:31] jonorossi commented on #560
My guess is that since people don't know what namespace the extension methods they want are in, IDEs need to suggest. For example, a user types `collection.Where(`, users want `using System.Linq;` automatically added.

Looking at `CollectionExtensions`'s history, it appears it was built for Silverlight where we had 2 conditional implementations, but that is obviously gone now. The 3 extension meth

[2021-01-19 14:38] stakx commented on #430
Yes, we could build in some recognition logic. We'd have to emit a test type & test method into a separate dynamic module (`DynamicMethod` won't do as those aren't affected) once to see if the runtime is affected by the bug. If so, we can check whether the method or its declaring type is generic, and whether it has parameters with cmods.

If you're fine with a partial fix for the easy cases, I can

[2021-01-19 14:49] jonorossi commented on #430
I'd just implement the workaround for all runtimes without trying to detect if the runtime is broken for now, since they all are.

[2021-01-19 16:51] #535 closed

[2021-01-20 06:25] #560 closed

[2021-01-20 07:12] #367 closed

[2021-01-21 05:44] ld123 opened #564 "WPF MVVM, use dynamic proxy class as viewmodel, But the old value is displayed on the view"
[code]

[2021-01-21 05:52] ld123 commented on #564
output:

[code]

The first change on the view did not follow the change
The next time it is changed, the old value is displayed on the view

[2021-01-21 06:02] jonorossi commented on #564
Hi, this is the Castle Core issue tracker, for help with your project please use [Stack Overflow](https://stackoverflow.com/) or another community site. If you believe you have found a bug with Castle DynamicProxy, please provide a bug report with code that does not use external libraries (i.e. without mocking or UI libraries).

[2021-01-21 06:02] #564 closed

[2021-01-21 06:17] ld123 commented on #564
Okay thank you

[2021-01-21 06:22] jonorossi commented on #564
@ld123 if you haven't already you might also like to read https://github.com/castleproject/Core/blob/master/docs/dynamicproxy-by-ref-parameters.md.

[2021-01-30 18:29] stakx opened #569 "DynamicProxy generates two modules when proceeding from a class proxy's protected method to the target"
This is very similar to #327. (Back then we found out that DynamicProxy sometimes puts a generated invocation type in another module than the generated proxy type depending on it, causing verification failure due to the proxy type module being incomplete. This got fixed in #346.)

It appears there is another case where the same problem occurs, namely proceeding to a class proxy's target from an in

[2021-01-31 23:49] #569 closed

[2021-02-03 18:40] #67 closed

[2021-02-03 18:40] #536 closed

[2021-02-08 12:35] stakx commented on #517
@jonorossi, I'll start with the TL;DR: I suggest doing a PR that changes the namespace of the existing `AttributesToAvoidReplicating` class from `Castle.DynamicProxy.Generators` to `Castle.DynamicProxy` (so that the former disappears from the public surface). If you're not OK with that, I'd also be fine with closing this issue without taking any further action.

Below I'll try to summarise my thou

[2021-02-09 06:05] jonorossi commented on #517
It doesn't appear it has been a problem in the past with this static class applying to the whole runtime, however a unit test project (or even a mocking library) could add an attribute which changes what the SUT actually does because this is static and the mocking libraries no longer ilmerge DP into their assembly. I'd still like to see us remove this static.

I had a look through the usage of `At

[2021-02-12 01:47] stakx commented on #517
@jonorossi, I didn't keep the code I had originally, but I recreated a version very similar to it. See the PR referenced above this post.

[2021-02-19 08:37] andreas-marccain opened #578 "Debugger step into with DynamicProxy?"
Hi,

we are using DynamicProxy to add some Logging to our ServiceCalls.
Is there an easy way to enable the debugger "step into" feature in Visual Studio when using a proxy?
By now the code in the interceptor and the target is skipped by the debugger.
A break point in the Interceptor or target get hit but we want to avoid this additional step.
I had read the documentation but could not find any hin

[2021-02-19 09:44] stakx commented on #578
If I understand you correctly, it isn't that you want to step into DynamicProxy's source code; rather, you want to step into your interceptors and target objects from a proxy method call.

Generally speaking, it shouldn't be a problem to Step Into (F11) an interceptor, or into a target method. For example, given this code:

[code]

If you stop execution at the line marked `1` and Step Into (F11),

[2021-02-19 13:41] andreas-marccain commented on #578
Hi,

I created a small sample under https://github.com/andreas-marccain/Castle.Core.DebugExample but have not managed to configure VS in the right way. Can u please check if the step into is working for you and share your debug settings?

My actual settings are:
![image](https://user-images.githubusercontent.com/72246779/108511499-4ad9b100-72c0-11eb-8c9d-675ccd298d39.png)

Thanks for your help!

[2021-02-19 16:33] stakx commented on #578
If you think it'll help, my debugger settings are reproduced below. (I've deactivated quite a few options for performance reasons, since I'm working on an older notebook.)

![image](https://user-images.githubusercontent.com/104481/108532311-02c68880-72d8-11eb-95c4-e7f97a41d1d1.png)

[2021-02-19 16:41] andreas-marccain commented on #578
And you are able to step into the interceptor or target in my example with these settings?

If I use the same settings the debugger still steps over the proxy.Method(); call.

[2021-02-19 16:51] stakx commented on #578
Yes, debugging and stepping into the interceptor and target method (of your test solution) works fine with my installation.

[2021-02-23 11:42] andreas-marccain commented on #578
Ok I figured out that the step into behavior only works if the "Enable Just My Code"  option is set.
Because of the interceptor and the target are located in other assemblies consumed by nuget packages we have to disable this option and then visual studio will no longer step into the target without setting a break point in the target.

Our nuget packages provide their symbols via source link but b

[2021-02-23 11:42] #578 closed

[2021-03-14 03:24] teroneko opened #585 "CreateInterfaceProxyWithoutTarget throws NotImplemented when interface has method with generic argument in Blazor WebAssembly"
A internal call of Castle.DynamicProxy.Internal.TypeUtil.GetClosedParameterType(AbstractTypeEmitter type, Type parameter) seems to produce a NotImplementedException when it is calling System.RuntimeType.MakeGenericType(Type[] instantiation) during proxy creation.

This bug is only reproducable in Blazor WebAssembly and therefore with the Mono Runtime (!?).

The relevant code:

[code]

Stacktrace:

[2021-03-14 04:38] teroneko commented on #585
It just triggers me why it works in .NET 5, but not in Mono. Maybe you can explain to me, @stakx?

[2021-03-18 05:09] foxjazz opened #586 "Please change Password to Keyword or fix xml"
Security issue with name of Password which appears after nuget install on the castle core xml.
Trying to get this to be either removed or name changed.

[2021-03-18 05:20] jonorossi commented on #586
@foxjazz I don't understand your request. Do we have a security issue? If you wish to disclose something privately rather than here you can email me directly at `jono` at my GitHub username `.com`.

[2021-03-21 16:51] stakx commented on #585
@teroneko, first a disclaimer: I don't have any practical experience with Blazor, so at this time, you'll only get semi-educated guesses from me, but nothing definite.

First, I cannot confirm your claim that _"it works in .NET 5"_; your sample project above targets `.net5.0`, and the error does occur, too. So as far as I currently understand it, there's no reason to assume that this issue is spec

[2021-03-21 22:24] teroneko commented on #585
You are assume that net5.0 is equivalent to runtime? That's not the case; the API surface is called net5.0 too. It just matters at which runtime the API is called at: net5.0 or mono. Here an excerpt from Sterven Anderson's Blog:

http://blog.stevensanderson.com/2017/11/05/blazor-on-mono/:

My claim I have just made because my xUnit tests which involves generic constrained methods in interface (tha

[2021-03-22 10:58] stakx commented on #585
@teroneko thanks for the clarification re: `net5.0` and Mono, I suspected I may be missing something there, but wasn't certain.

Great to hear that my unrelated PR solves your problem, even though I suspect there may be some good fortune involved in this. I still think the likelier root cause is that Blazor / WASM doesn't have full support for System.Reflection.Emit &ndash; if so, you may run into

[2021-03-22 13:21] teroneko commented on #585
It is not that dramatic. Regarding this https://github.com/dotnet/runtime/issues/37794 it is about to be tackled?

As I am writing a library for working better with Mirosoft.JSInterop in Blazor I am facing no problems so far. I use your created proxy without target to forward manually the invocation to target and all other invocations are transformed to in-built methods of target.

What surprises

[2021-03-22 13:52] stakx commented on #585
Mono and WebAssembly are two distinct technologies. From what I currently understand, Blazor makes use of a Mono runtime that has been AOT-compiled to WebAssembly. OTOH, we're just running our test suite on a regular, standalone Mono runtime that JIT-compiles IL bytecode down to x86/x64, which is a rather different setup. I'll stress once again that the likely culprit is AOT compilation (which may

[2021-03-22 13:58] jonorossi commented on #585
@stakx I'll take a look at the pull request tomorrow, too late tonight. Sorry for being so slack getting to these.

[2021-03-22 14:51] teroneko commented on #585
@stakx Thanks for stressing it up. I read about AOT, that this is the way to get the WebAssembly feature to work but didn't got the picture in relation to the the problem of this issue. Now most adds up!

I am just grateful for this project - don't want to rush you. 🙂

[2021-03-23 08:27] jonorossi commented on #586
@foxjazz I've not received a response from you, closing this issue.

[2021-03-23 08:27] #586 closed

[2021-03-25 21:21] #106 closed

[2021-04-15 17:40] p33t opened #587 "Support for contructor args in proxy base type"
It would be useful to allow proxy classes to supply constructor args to a base type.  The args could be supplied explicitly in `ProxyGenerationOptions`.  E.g.
`ProxyGenerationOptions.BaseTypeConstructorArgs(params object[] args)`

This would have allowed me to use `ProxyGenerator.CreateInterfaceProxyWithoutTarget()` and `ProxyGenerationOptions.BaseTypeForInterfaceProxy` with ServiceFabric [Statele

[2021-04-21 20:55] stakx commented on #389
With regard to DynamicProxy, we're mostly done here. The last remaining bit would have been making `ModuleScope` internal; I've now closed that PR due to a lack of feedback &ndash; I realize that making `ModuleScope` internal and the changes that this entails may be a matter of taste. I'm happy to leave things as is.

[2021-04-21 20:55] #389 closed

[2021-04-21 20:57] stakx commented on #517
Shall we close this issue? It's probably not worth holding up the next release just because of this.

[2021-04-21 21:02] stakx commented on #585
Given that the immediate problem described in this issue will be solved by the PR now merged, and given that we don't really have direct support for platforms missing JIT code generation via Reflection.Emit, I think we can close this issue. If noone says otherwise, I'll close in a few days' time.

[2021-04-21 21:11] stakx commented on #430
I've tried implementing the limited workaround a few weeks ago. Even that turned out to be more difficult than expected, because it isn't just the `ldtoken` instruction that's affected (like I initially thought), but `[virt]call` (and a few others) too &ndash; the latter are used in many places across DP where it's more complicated to insert the workaround... I'm not sure I can get this done anyti

[2021-04-25 14:00] Melchy opened #588 "Proxy class without parameterless constructor"
Hi,
I would like to proxy a class which doesn't have parameterless constructor. This proved to be much more challenging than I expected.

Initially I thought I can create instance using `FormatterServices.GetUninitializedObject` and then use `CreateClassProxyWithTarget`. This didn't work because`CreateClassProxyWithTarget` requires parameterless constructor.

I found hack somewhere on the stack ov

[2021-04-25 19:32] stakx commented on #588
Perhaps I'm misunderstanding your goal here, but it seems like you're overcomplicating things:

This is incorrect! There are several method overloads where you can pass in `constructorArguments` that will be forwarded to (one of) the proxied class' constructors, for example:

https://github.com/castleproject/Core/blob/d88e94447150996973d947a150ffda5efc0c3c1c/src/Castle.Core/DynamicProxy/ProxyGener

[2021-04-25 22:58] Melchy commented on #588
Thank you for quick response.
I didn't notice that I can pass arguments to `CreateClassProxyWithTarget`. But this is still not usable in my case.

I'm writing a nuget package which allows users to proxy any class with any constructor. I could force them to implement parameterless constructor but that is inconvenient.

This is not a problem because my proxy never calls the proxied method.

The pack

[2021-04-27 21:26] #585 closed

[2021-05-01 20:35] #517 closed

[2021-05-05 06:58] stakx commented on #588
It may not be a problem in the specific scenario you're looking at, but it isn't necessarily true in the general case.

My thinking is that in general, constructor parameters are there for a reason. Constructor parameters can be seen as the minimal inputs necessary for the class to establish a valid initial state (i.e. to establish its class invariants). If you bypass the constructor, you're no lo

[2021-05-05 08:38] jonorossi commented on #588
Yes, it does appear that .NET Core 2.0 added `FormatterServices.GetUninitializedObject` back so that developers can build serialization outside of the runtime since binary serialization has been obsoleted. It appears that Microsoft added `RuntimeHelpers.GetUninitializedObject` for this purpose, but because that one isn't available on .NET Framework they also exposed the `FormatterServices` which j

[2021-05-12 03:32] robertmclaws opened #589 "Issue using Castle with Blazor WebAssembly"
Hey folks! Was trying to use the super-cool ChangeTracker project in by Blazor WebAssembly app on .NET 5, and ran into this issue:

[code]

Can potentially provide a repro if necessary. I know they are working on `System.Reflection.Emit` full support in Mono for .NET 6.0, just wanted to make sure this was on your radar once that happens.

Thanks!

[2021-06-28 13:38] stakx opened #590 "DynamicProxy emits invalid metadata for redeclared event"
We got a report over at https://github.com/moq/moq4/issues/1175 that appears to be caused by a bug in DynamicProxy. I've derived the following test case:

[code]

This will generate a proxy class containing two identically-named events:

[code]

...which isn't legal, and PEVerify confirms that:

[code]

I haven't thought about possible solutions in detail, but I suspect we would need to resolve th

[2021-07-01 00:20] LFDCC opened #591 "Could not find a parameterless constructor."
I want to add a proxy to Controller ,And then I implemented this interface, IControllerActivator ,
Because my Controller does not have a parameterless constructor, the call CreateClassProxyWithTarget throws the exception.  I want to know how to solve this problem
[code]

[2021-07-01 01:47] jonorossi commented on #591
ASP.NET Core has heaps of extensibility points, I don't understand why you'd use DynamicProxy.

[2021-07-02 00:21] LFDCC commented on #591
I knew that using Filter would be a better choice
I want to know how to solve this problem

[2021-07-02 00:26] LFDCC commented on #591
I don't think any dynamic proxy is as good as the Filter that comes with ASP.NET Core, but I'm just wondering how to implement a proxy in Controller using castle. Core

[2021-07-02 00:26] LFDCC commented on #591
I don't think any dynamic proxy is as good as the Filter that comes with ASP.NET Core, but I'm just wondering how to implement a proxy in Controller using castle. Core

[2021-07-02 02:18] jonorossi commented on #591
The `CreateClassProxyWithTarget` overload you are using expects a default constructor as documented in the XML documentation:

[code]

You'll need to use an overload that accepts `object[] constructorArguments`.

[2021-07-02 08:44] 835718973 opened #592 "How to get the orignal interface when use IInterceptor to aop?"
when i use this to create a proxyobject and use the IInterceptor to aop,how can i get the proxy-interface(IPerson) at the intercept method?
`IPerson p = Generator.CreateInterfaceProxyWithTarget<IPerson>(new Person(), Interceptor);`
 `public void Intercept(IInvocation invocation)  `

[2021-07-02 09:00] jonorossi commented on #592
`invocation.Method.DeclaringType` should get you `IPerson` in your example.

[2021-07-02 23:30] teroneko commented on #589
I was facing an similiar bug. (see https://github.com/castleproject/Core/issues/585)
As of current, the fixing [pull request](https://github.com/castleproject/Core/pull/580) is not yet reflected in a released version.
Perhaps you would try out [a package (Teronis.Castle.Core)](https://www.nuget.org/packages/Teronis.Castle.Core/) with applied pull request?

[2021-07-04 14:24] stakx commented on #589
Thanks foe taking the time to report this @robertmclaws.

DynamicProxy very much depends on Reflection and System.Reflection.Emit. Realistically speaking, any platform/target that doesn't have full support for those facilities is essentially unsupported by DynamicProxy. There's not a whole lot that can be done about that short of a complete rewrite; depending on the exact use case, one may be bett

[2021-07-07 03:06] 835718973 commented on #592
`

    public interface IPerson
    {
        void Say();
    }

    public interface IStudent : IPerson
    {
    }

    public class Student: IStudent
    {
        public void Say()
        {
            //dosomething
        }
    }

IStudent p = Generator.CreateInterfaceProxyWithTarget<IStudent >(new Person(), Interceptor);

public void Intercept(IInvocation invocation);
`
How ablout this?
th

[2021-07-07 09:23] stakx commented on #592
@835718973, DynamicProxy does not currently offer any way to get back at the various parameters used during proxy creation.

[2021-07-07 09:31] stakx commented on #592
@835718973 you could possibly retrofit that missing capability through a custom mixin, but this solution requires some additional work for each created proxy object. For example:

[code]

[2021-07-07 09:37] jonorossi commented on #592
@835718973 assuming that you meant `new Student()` rather than `new Person()`. As @stakx said, this isn't possible. DynamicProxy can implement one or more interfaces on the proxy class for you if you specify the additional interfaces parameter, the single interface as a generic parameter is a convenience feature.

However you could do something like this:
[code]

[2021-07-08 07:58] 835718973 commented on #592
I want to create a C/S application with grpc and Autofac. Dynamicproxy. On the client side, remote services can be called just like local services. The local service to the remote service is realized through the dynamic proxy of Autofac. Now I need to get the interface in resolve < interface > in the proxy in order to pass it to the remote service to restore the actual calling process. I have trie

[2021-07-10 10:06] stakx commented on #592
@835718973, you're giving us a coarse description of your project, which involves a combination of several different technologies &mdash; unfortunately, we cannot get into that in detail, since the focus of this issue tracker is the development of Castle.Core. We've given you several hints at how you can get back at the proxied interface(s) given a DynamicProxy proxy object; what you do with that

[2021-07-10 10:07] #589 closed

[2021-07-11 14:37] stakx commented on #590
On second thought, we already have the means to resolve name conflicts for interface members: switching to explicit implementation (see [`MetaTypeElementCollection<>.Add`](https://github.com/castleproject/Core/blob/d88e94447150996973d947a150ffda5efc0c3c1c/src/Castle.Core/DynamicProxy/Generators/MetaTypeElementCollection.cs#L33-L35)). This is what one would have to do when implementing `IDerived` m

[2021-07-13 03:12] jonorossi commented on #590
Probably a PEVerify bug. There has been other cases in the past where PEVerify hasn't picked invalid IL, but the CLR did.

[2021-07-14 21:57] bepursuant opened #593 "Inheritance of Attributes from Interface Members"
Hello team - This might be an easy one to put to rest, I think I just need a castle expert to look at it.

I have [an issue](https://github.com/aloneguid/config/issues/107) with a separate project, and I think it comes down to something in the Castle proxy generation.

The root of the question is - _can Castle allow my generated proxy to inherit attributes from its source Interface?_  The linked i

[2021-07-14 23:16] stakx commented on #593
Hi @bepursuant. I don't remember all the implementation details without looking them up, but off the top of my head:

As a rule of thumb, **DynamicProxy only replicates non-inherited custom attributes.** There is currently no mechanism or option to change that behavior. The only thing you _can_ do is globally specify (via [`Castle.DynamicProxy.Generators.AttributesToAvoidReplicating.Add(Type)`](ht

[2021-08-03 00:03] smokedlinq commented on #488
Is there a possible workaround for this? If not, what can I do to help move this forward to a resolution?

[2021-08-14 07:41] arashjfz opened #594 "Memory leaks in StrongNameUtil"
In my project I found a memory leaks in **StrongNameUtil**  class

[code]

It seams that **signedAssemblyCache**  has a problem and nothing is removed from it.
My memory analyzer says that There is millions of reference from **signedAssemblyCache**  key to **AssemblyBuilder** assembly
As I checked **signedAssemblyCache** was the only reference to that instance of **AssemblyBuilder** assembly. So a

[2021-08-14 09:12] stakx commented on #594
Hi @arashjfz, thanks for reporting this potential issue, and for the accompanying PR.

My memory analyzer says that There is millions of reference from `signedAssemblyCache` key to `AssemblyBuilder` assembly

Am I understanding correctly that your memory analyzer claims that there are _millions_ of `AssemblyBuilder` objects? If so, something is seriously going wrong: there shouldn't be more than a

[2021-08-14 11:04] arashjfz commented on #594
@stakx Thanks for your reply, You are correct.  I Found the problem in my code and fix the situation that cause multiple assembly generation.

[2021-08-14 11:04] #594 closed

[2021-08-15 10:51] stakx commented on #593
@bepursuant: has the above post answered your question? (If so, let's close this issue.)

[2021-08-15 10:52] #592 closed

[2021-08-21 23:23] bepursuant commented on #593
@stakx - thanks so much for the thorough explanation and example resolution. This exactly solved my dilemma, with only three lines of code! Really appreciate the help! I've added the details to my original issue in the aloneguid/config project for anyone else looking at a similar issue.

[2021-08-21 23:23] #593 closed

[2021-08-28 10:31] #588 closed

[2021-08-31 10:43] lauxjpn commented on #539
You also want to make sure that you are _reusing_ your `ProxyGenerator` instance, so that dynamic types are not recreated over and over again.

See [Castle DynamicProxy](https://github.com/castleproject/Core/blob/master/docs/dynamicproxy.md) and [Performance advice for using Castle DynamicProxy in .NET web-apps](https://stackoverflow.com/a/6302758/2618319).

[2021-08-31 14:18] TheReaLee opened #596 "Castle.DynamicProxy.ProxyGenerationException: Duplicate element: Castle.DynamicProxy.Generators.MetaMethod"
Same class names, in different projects both implementing the same interface with different namespaces. When using **Mock.Object**, the exception is thrown.

Castle.Core: **4.4.1**
Moq: **4.16.1**
.NETFramework: **4.7.2**

**TestClass**
[code]

**MyDataStoreCollection**
[code]

**TestFixture**
[code]

**IValidatorFactory**
[code]

**IValidator**
[code]

**ValidationResults taken from Nuget Microso

[2021-08-31 15:39] stakx commented on #596
Hi @TheReaLee

[2021-09-01 06:22] csharper2010 commented on #562
Hi,

just saw this...

We use the serialization and deserialization of Castle.Core to save and restore proxy assemblies for performance reasons in a large app. We still use .NET Framework 4.8 for several reasons.

Knowing that the System.RuntimeType is not serializable in .net 5 this saving and loading would anyway not work, I still wonder if there could be a solution directly baked into Castle.Co

[2021-09-01 06:50] TheReaLee commented on #596
Updated @stakx, let me know if you require more information

[2021-09-01 07:30] stakx commented on #562
@csharper2010, the biggest issue is that .NET Core and .NET &ge; 5 don't currently offer any means of saving a dynamic assembly to disk. Without that essential capability, we don't even need to think about how we would serialize problematic types such as `System.[Runtime]Type`, because proxy serialization as a whole becomes pointless.

If you rely on proxy serialization, and you want to keep using

[2021-09-03 01:23] jonorossi opened #597 ".NET Target Frameworks for Castle Core v5.0"
We've made changes to our target frameworks for our next major version but none of this has been released yet. With so much time passed and the .NET Core landscape changing I think we need to re-evaluate our target frameworks before releasing.

.NET Core notes:
- [".NET Core 2.1 reached end of life on August 21, 2021"](https://devblogs.microsoft.com/dotnet/net-core-2-1-will-reach-end-of-support-on

[2021-09-04 20:13] stakx commented on #597
I think the targets we have now are still fine.

* We need `net45` if we want to keep supporting the .NET Framework 4, and I don't see any reason why we shouldn't.

* `netstandard2.0` is for .NET Core 2.x, of which there's still a non-obsolete LTS version, AFAIK (2.2?).

* `.netstandard2.1` is for .NET Core 3.x, which AFAIK also has a non-obsolete LTS version (3.1?).
Beyond that (.NET &ge;5), I'll

[2021-09-04 20:28] stakx commented on #597
Sorry, please ignore my above post. I misread some relevant parts of the top post.

TL;DR: I think the targets we have now are still fine. I understand the desire to only target supported versions, but OTOH when it's easy for us to support older versions (no code changes needed), why shouldn't we? We'll force downstream libraries to update their targets. I'm not sure we need to do so. What are the

[2021-09-22 14:43] Daimonion1980 opened #598 "installing nuget package castle.core throws error"
Hello

I'm trying to install appium nuget package which refrences castle.core >= 4.3.1.

But on install the reference castle.core throws an error. Also installing castle.core itself throws the same error. That's why i'm writing here.

So, im trying to install castle.core through nuget package manager in VS 2019 Community Version but the installation failes with following error:

[code]

Is there s

[2021-09-23 21:29] rodrigoreis opened #599 "How to identify in the interceptor when the keyword "await" was used"
Is there a way to identify in the interceptor when the keyword "await" was used when calling a method of a proxied class?

[2021-09-23 23:39] stakx commented on #599
What exactly do you mean by that?

[2021-09-24 13:51] rodrigoreis commented on #599
When I create a proxy for a class that contains a method that returns TASK or TASK<T>, I would like to know if at the moment the interceptor acts, if the user called this method using the await keyword or not.

[code]

[2021-09-24 17:11] stakx commented on #599
This is not possible. `async`/`await` are a C# language construct that does not exist at the runtime / IL bytecode level; code that uses those keywords is transformed by the compiler into more basic code patterns (here: a state machine), a process that the .NET compiler folks refer to as "lowering".

There are a bunch of other C# language features that only exist in source code, but disappear in t

[2021-09-24 17:11] #599 closed

[2021-10-24 12:23] tobuto opened #600 "Dynamic Proxy generation fails for Interfaces with init properties"
I discovered this when using `Moq` to mock an interface with a read only property, e.g.
[code]

This causes an exception in `BaseProxyGenerator.InitializeStaticFields` call to `TypeUtil.SetStaticField`. This is the stack trace for the exception:

[code]

Let me know if you need any other infos.

[2021-11-11 08:52] ajcvickers opened #601 "Proxies using Records with a base class broken using .NET 6 compiler"
See original issue here: https://github.com/dotnet/efcore/issues/26602

Attempt is made to proxy this:

[code]

Comment from Jared Parsons on the C# compiler team:

Full repro: https://github.com/Jejuni/Net6RecordEfCoreProxies

Stack trace:

[code]

[2021-11-11 08:53] ajcvickers commented on #601
/cc @jaredpar @jcouv @Jejuni

[2021-11-11 10:22] Jejuni commented on #601
This will most likely affect proxying any hierarchy that uses covariant returns.
It's the most apparent with records since they use covariant returns out of the box with the `Clone` method when you derive from one.

[2021-11-11 17:07] jcouv commented on #601
@ajcvickers I see that multiple issues have been file in different repos. What is the purpose of having a roslyn issue? How did roslyn misbehave (expected versus actual)?

[2021-11-16 23:32] ajcvickers commented on #601
@stakx Any chance this can get looked at soon? It's blocking people using dynamic proxies for lazy-load in EF Core on .NET 6.

[2021-11-29 11:22] sydseter opened #602 "CastleCore using an old version of System.Net.Http which is vulnerable to "DoS", "Spoofing", "Privilege Escalation", "Authentication Bypass" and "Information Exposure""
The following vulnerable libraries were found:  System.Net.Http@4.3.0 and System.Text.RegularExpressions@4.3.0

All issues for System.Net.Http@4.3.0 have been fixed in 4.3.4.
All issues for System.Text.RegularExpressions@4.3.0 have been fixed in 4.3.1

These are the vulnerabilities associated vulnerable paths:

✗ Denial of Service (DoS) [High Severity]https://snyk.io/vuln/SNYK-DOTNET-SYSTEMNETHTTP

[2021-12-07 09:37] talenor commented on #597
Do we know any dates when Castle Core v5.0 will be released? We are waiting for .netstandard 2.0 support as a step forward for migration to .net 6.

[2021-12-07 09:44] jonorossi commented on #597
@talenor Does `netstandard1.5` not work on .NET 6, or does the big list of BCL packages cause other problems?

[2021-12-07 09:51] jonorossi commented on #601
@ajcvickers Am I missing something, are you discussing this with Dom via private channels? I can't find any discussion in the linked issues across various projects. I had ignored this issue as you directly mentioned him.

[2021-12-07 09:52] talenor commented on #597
@jonorossi Well... we haven't dived deep into netstandard1.5 because netstandard 2.0 exists quite a long time and we checked only 2.0 so I can't provide a reasonable answer.
However, in my opinion, 2.0 brings more stable and solid support. Especially if we are talking of an application with ~500k lines of .net code

[2021-12-07 09:54] jonorossi commented on #598
@Daimonion1980 Are you still having this problem? Can you add an assembly reference to `System.Configuration` manually to your project? Strange that it says `System.Configuration` wasn't found in your GAC.

[2021-12-07 09:58] jonorossi commented on #597
@talenor Are you just using Castle.Core (maybe via a mocking library), or other Castle libraries too?

[2021-12-07 10:00] ajcvickers commented on #601
@jonorossi No, I just pinged him because he seemed to be most active recently on the project.

[2021-12-07 10:00] #591 closed

[2021-12-07 10:19] Daimonion1980 commented on #598
Thank you for your reply.

I'm done with the problem.

Figured out that other dependencies where not solved correctly.

[2021-12-07 10:19] #598 closed

[2021-12-07 10:35] talenor commented on #597
@jonorossi only Castle.Core (directly, via some ninject extensions, and via Moq)

[2021-12-09 16:04] leviyakir opened #603 "External Control of File Name or Path (Veracode CWE ID 73)"
We have used Veracode to scan Akavache library and it has come up with this issue:

### **Description**
Allowing user input to control paths used in filesystem operations may enable an attacker to access or modify otherwise
protected system resources that would normally be inaccessible to end users. In some cases, the user-provided input may be
passed directly to the filesystem operation, or it ma

[2021-12-15 10:13] Havunen commented on #602
I cant see castle core 4.4.1 referencing .netstandard 1.6 library? Is this issue solved in 4.4.1? Any estimate for v5 release?

[2021-12-15 21:26] Havunen commented on #597
We are also waiting for this because we want to get rid off these old assemblies that come from old version of netstandard libraries https://github.com/castleproject/Core/issues/602

[2021-12-16 06:35] Havunen commented on #597
Also since .net5 that is the recommended way forward from microsoft. https://docs.microsoft.com/en-us/dotnet/standard/frameworks

.net 5 and .net 6 TFMs should be included in next major IMO

[2021-12-18 20:59] qwertie commented on #601
Note that this is an issue involving covariant return types rather than .NET 6. I got this error yesterday in .NET 5 after defining a custom Clone() method with covariant return type.

[2021-12-28 20:37] Havunen commented on #597
Is there any reason why castle core cannot just add netstandard 2+ / net5 / net6 target frameworks and reduce the big number of unnecessary dependencies for those target frameworks? This way modern applications can get rid off possible security vulnerabilitieshttps://github.com/castleproject/Core/issues/602 and reduce installation size?

[2021-12-29 20:24] Havunen opened #606 "Castle.Core 4.4.2 add new target frameworks"
Hi,

This is feature request to deploy new version of castle core to nuget by just adding modern compilation targets to this library.

netstandard2.0, netstandard2.1, net5.0, net6
0

And remove dependencies from those targets like it was done for .net framework 4.0 and 4.5

This way modern applications dont get those old libraries installed.

Keep the old targets there then this is not breaking ch

[2022-01-03 14:54] Havunen commented on #606
Because I couldn't find any fix to this I released my own version of NSubstitute and Castle.Core to nuget which target only .NET 5 and .NET 6 code.
They are available in: https://www.nuget.org/packages/NSubstituteNet6/   and https://www.nuget.org/packages/CastleCoreNet6/

[2022-01-03 14:54] Havunen commented on #602
Because I couldn't find any fix to this I released my own version of NSubstitute and Castle.Core to nuget which target only .NET 5 and .NET 6 code.
They are available in: https://www.nuget.org/packages/NSubstituteNet6/   and https://www.nuget.org/packages/CastleCoreNet6/

[2022-01-05 16:36] znakeeye commented on #564
Uhm, why did you close this? This is a real problem.

When a viewmodel implements `INotifyPropertyChanged` it correctly updates the UI. The generated proxy does not implement the interface, and will not signal any property changes to the UI. So the proxy breaks the UI.

So the question is; how do we generate a proxy which correctly implements the interface? E.g. You want to have a base class like

[2022-01-11 10:21] Jevonius commented on #602
@jonorossi - I'm in the middle of updating our codebase to mitigate this issue; do you have an idea of ETA for v5.0.0? If not, should I create a PR for a v4.4.2 with just these updates in place?

[2022-01-11 12:32] jonorossi commented on #602
These are transitive dependencies of a .NET platform package that Castle Core doesn't even reference. Why can't your application do the same thing rather than hacking this into Castle Core if Microsoft won't patch the package anymore? Any .NET library still targeting .NET Standard 1.x would be incorrectly reported by your security analysis tool.

Is this actually a problem other than your security

[2022-01-11 14:50] Jevonius commented on #602
Thanks for replying - we're using Snyk for analysis, which is reporting the chain as:
**Castle.Windsor@5.1.1 › Castle.Core@4.4.1 › System.Xml.XmlDocument@4.3.0 › System.Xml.ReaderWriter@4.3.0 › System.Text.RegularExpressions@4.3.0**
I.e. not from the NETStandard.Library.

~I'm confused about the situation for our code though - two different solutions both reference Core.4.4.1 (directly or via Wind

[2022-01-12 06:48] Havunen commented on #602
Hi @jonorossi we are targeting .NET 5 and .NET 6 in our application and I would like to avoid having NETStandard.Library 1.6.0 or any of its dependencies in our application. If castle.core could add new target framework (netstandard2.0 ,  net5.0 ,  net6.0 ) or something around those lines we could get rid off these dependencies and no need to add them directly to our application

[2022-01-12 22:19] ExusAltimus opened #607 "[FEATURE] Allow replication of attributes on mixins or attributes on inherited interfaces"
I have a scenario where the attribute I want on the proxy's property is not being replicated over from a mixin.
The attribute itself is sealed and I can't modify the AttributeUsage to set Inherited to false.

The feature itself was considered once before in
https://github.com/castleproject/Core/blob/d88e94447150996973d947a150ffda5efc0c3c1c/src/Castle.Core/DynamicProxy/Internal/AttributeUtil.cs#L11

[2022-01-23 23:24] stakx commented on #607
Sounds like a reasonable request, even though it may be an edge case.

In my opinion, that doesn't fit DynamicProxy's purpose very well. DynamicProxy's main goal is to provide you with a (programmable) instance of some type, not to derive arbitrarily modified types at runtime. Changing a type at the method level isn't something you can currently do with DynamicProxy (IIRC).

That said, I'll grant

[2022-01-24 16:04] Havunen commented on #602
These are coming from old version of .NET target framework, check my fork: https://www.nuget.org/packages/CastleCoreNet6/ it does not have these vulnerabilities. Please add modern target frameworks to castle.core

[2022-03-01 19:15] ajcvickers commented on #601
Note: we were able to patch EF with a workaround for the common case (by excluding the method), but this doesn't work for abstract record base types, so this fix is still important for EF. See https://github.com/dotnet/efcore/issues/27456

[2022-03-03 08:24] amoraller opened #608 "Proxy of proxy using mixins"
Hi.

Why i can not create proxy of proxy using mixins?

[code]

If i create second proxy i catch exeption
[code]
![image](https://user-images.githubusercontent.com/7438667/156525354-63a68f00-0d86-4586-b578-6cf5a26f5988.png)

[2022-03-16 19:57] leolplex opened #609 "Add new target frameworks - release new nuget package"
@jonorossi

As #606 added support .netstandard2.0;netstandard2.1 but last nuget packages does not have this change.

Could you release a new nuget version with this change?

This change resolved the next vulnerability:
https://security.snyk.io/vuln/SNYK-DOTNET-SYSTEMTEXTREGULAREXPRESSIONS-174708

[2022-03-17 20:13] Havunen commented on #602
https://github.com/castleproject/Core/issues/609

[2022-03-21 17:56] htzhang2 commented on #145
Is AsyncInterceptor ready?

[2022-03-21 18:23] htzhang2 opened #611 "Async BeforeInvoke not complete before decorated method start?"
Here is my interceptor and BeforeInvoke:

public class MyInterceptor : IMethodInterceptor
{
    public override async void BeforeInvoke(InvocationContext invocationContext) {
         // Expect this to be completed before decorated method starts
         await [before_method].ConfigureAwait(false);
    }
}

[MyAttribute]
public async Task DecoratedMethod() {
  // Expect the following method to sta

[2022-03-23 15:32] IanKemp commented on #609
I don't think you read #606. It's a **feature request** to add those new targets.

[2022-03-23 15:35] IanKemp commented on #606
netstandard2.0 and netstandard2.1 are already targeted, unfortunately there is no NuGet package released with those targets :(

[2022-03-23 15:42] IanKemp commented on #609
To be clear: #606 **did not add support for anything**, it is a feature request to add support for net5.0 and net6 targets.

netstandard2.0 and netstandard2.1 have been targeted since 16 May 2020... but the last version of this package published was done so on 6 May 2020.

[2022-03-23 19:03] Havunen commented on #606
yep, indeed

[2022-04-01 12:37] AndreasHoffmann2 opened #612 "Is this project still maintained?"
I am currently wondering if this project is still maintained.
Can anybody answer that?

Just wondering, since the last checkin has been more than a year ago.

Are there any alternatives to the DynamicProxy?

[2022-04-01 14:50] stakx commented on #612
Thank you for asking this question.

The last commit was by me and I used to be one of the more active project collaborators before that, so I'll briefly offer my perspective.

I wish this project were still more active, and I'd quite probably keep contributing to it. The reason I suspended my activity here is that there hasn't been a major release in about 2 years, and I found it increasingly fru

[2022-04-01 16:08] AndreasHoffmann2 commented on #612
Thank you vor the answer. It would be shame if this project was not developed any further.

I discovered `DispatchProxy` myself in the meantime. Calling it "less versatile" is an understatement. I can describe the full functionality in a few words:
You create a subclass of `DispatchProxy` with the method `object Invoke(MethodInfo targetMethod, object[] args)`. Then, you can use `DispatchProxy.Crea

[2022-04-02 12:17] jonorossi opened #613 "Release 5.0.0"
**Placeholder:** I'll come back tomorrow with a plan.

[2022-04-02 12:18] jonorossi commented on #612
Short answer: yes, but that maintenance is severely lacking and lagging. We need to get our act together.

I do read everything, but unfortunately life has really gotten in the way. Castle Core 5.0 kept falling away in my inbox, but I've had it starred at the top of my inbox since Ian's comment 10 days ago in #602. Thanks for another push, I've logged #613 and plan to make progress tomorrow.

I'll

[2022-04-02 12:18] #612 closed

[2022-04-05 22:21] jonorossi commented on #597
I know that with .NET Framework the target framework affects things at runtime (e.g. default SSL/TLS protocols enabled is a big one until you upgrade to 4.6.2), but that could only apply to the executable and not a library.

[2022-04-05 22:27] jonorossi commented on #597
@stakx's quote from Microsoft Docs is still there regarding whether we need `net5.0` or `net6.0` now under the "When to target net5.0 or net6.0 vs. netstandard" heading.

Any one with a concrete reason for wanting the target frameworks to change for v5.0? Otherwise I'll close this by the end of the week.

[2022-04-05 23:07] jonorossi commented on #606
Closing. Please follow #613.

[2022-04-05 23:07] #606 closed

[2022-04-05 23:08] jonorossi commented on #609
Closing. Please follow #613.

[2022-04-05 23:08] #609 closed

[2022-04-05 23:11] jonorossi commented on #602
Closing. Please follow #613.

[2022-04-05 23:11] #602 closed

[2022-04-05 23:16] jonorossi commented on #601
Unassigning from v5.0 milestone. No one was contributed or is discussing a possible fix.

[2022-04-05 23:18] jonorossi commented on #600
Unassigning from v5.0 milestone. No one was contributed or is discussing a possible fix.

[2022-04-05 23:22] jonorossi commented on #608
@amoraller Can you please describe your scenario, proxying a proxy is not something I'd recommend.

[2022-04-05 23:26] jonorossi commented on #611
This is Castle DynamicProxy, you'll need to ask your SimpleProxy question on that project.

Looks like SimpleProxy is built on Castle DynamicProxy, if there is a problem with DP, you'll need to provide code using DP directly.

[2022-04-05 23:26] #611 closed

[2022-04-06 05:26] amoraller commented on #608
@jonorossii i want add interface and implementation for existing object at runtime.
I have data source with IObservable<byte[]> implementation and i need create plugins for my app.
Any plugin can modify behavior (with interceptor) or add interface implementation.

For example my usb device produced byte[] data, and plugins inspect specific data and send answer to device.
User can enable plugin at

[2022-04-06 09:45] Jevonius commented on #597
Hi @jonorossi, what would you define as a concrete reason? We bounced a couple of messages in #602 relating to transitive references, and that's probably one reason I'd push for including `net6.0` as a target.

Reviewing the Microsoft Docs page from above, there is this in the same section under **Reusable libraries**:

It doesn't seem entirely unreasonable to assume that having a `net6.0` (and `n

[2022-04-06 10:41] stakx commented on #597
A `net50` application referencing a `netstandard2.x` library will be able to use .NET 5 features. Only the library itself will be limited to the .NET Standard 2.x feature set... right? So if that feature set actually suffices for the library, what would it gain by adding a `net50` TFM? (I fail to see the benefit.)

Or does the lack of a `net50` TFM in the library somehow "downgrade" the referencin

[2022-04-06 11:18] jonorossi commented on #597
I had a quick look at some of the top 100 by downloads on nuget.org (https://www.nuget.org/stats/packages) and found the most downloaded (e.g. Json.NET, Serilog, nlog, log4net) that run across heaps of frameworks didn't have a .NET 5/6 target. As I went down the list I found a bunch that do (e.g. StackExchange.Redis, FluentValidation, Google.Protobuf, Npgsql, RestSharp, Autofac), but each of them

[2022-04-06 11:20] pwdst commented on #597
I think that point about targetting .NET 5 or .NET 6 is that netstandard requires package references that are not required if targetting the actual framework because those are part of the runtime. Thus a smaller dependency tree, which is much easier to manage for those who have requirements to run package license and security scans. It most likely means that some of the dependencies are more up to

[2022-04-06 11:20] jonorossi commented on #597
@Jevonius is this true, I'm no expert on this stuff. If so, that's been enough.

[2022-04-06 11:29] jonorossi commented on #597
@Jevonius @pwdst If we added `net6.0` would we then just keep bumping it to the next lowest supported .NET each major DP version since things move at a pretty rapid pace now.

Is there any recommendation or feeling on how long we'd want to even keep a .NET Standard target for anymore? If we kept a net4.x target for .NET Framework and added net5/6 for .NET, at some point all the old .NET Core versi

[2022-04-06 11:31] jonorossi commented on #597
Correction for my previous comment. One reason to kept a .NET Standard target is for Windsor, if it wants to target .NET Standard Castle Core also needs to target .NET Standard.

[2022-04-06 11:34] pwdst commented on #597
It is worth noting that Newtonsoft.JSON has not had a release for over a year, is heavily constrained by previous design decisions that the author has publically said would not be made today, and has no public roadmap for future releases (at least when I last checked a couple of weeks ago).

Microsoft has largely replaced it with System.Text.Json by default as of .NET Core 3.0 - authors are requir

[2022-04-06 11:36] stakx commented on #597
Agreed that if adding `net50` / `net60` results in much fewer assemblies getting added to an application's output dir, then fine.

Let's just not confuse today's situation with how it was back then with `netstandard1.x`, which resulted in a ton of additional framework assembly dependencies. With `netstandard2.x`, that situation was much improved, all of those were collected into a single (addition

[2022-04-06 11:38] pwdst commented on #597
@jonorossi I don't believe that anyone is asking that .NETStandard support is dropped or taken away as a target framework, simply that a recent .NET framework is added as additional target. This would allow the library to be used both in projects that target .NET Standard themselves, and also have potential benefits for projects that are targetting the full framework. I would imagine a supported L

[2022-04-06 11:56] Jevonius commented on #597
I'm not an expert either! @pwdst's answer (https://github.com/castleproject/Core/issues/597#issuecomment-1090152682) aligns with what we've observed but it's all anecdotal.

Your follow on question around when to drop support for framework/standard/older cores is worth some thought - the jump to 5.0.0 would seem like a reasonable time to drop support for older versions, and @pwdst's suggestion aro

[2022-04-06 11:56] jonorossi commented on #597
[NETStandard.Library](https://www.nuget.org/packages/NETStandard.Library/) is that package, but when using .NET Standard 2.0 it looks like it only has `Microsoft.NETCore.Platforms` as a dependency which has no more dependencies.

Sorry, I didn't mean for it to come across like that. Just trying to understand the landscape better. I've really lost track of the "best practice" guidance for target fr

[2022-04-06 11:59] Jevonius commented on #597
To be clear, you mean retargeting the projects and putting a PR together? I should have some time for that, it's a fairly minor tweak and hopefully won't break any tests!

[2022-04-06 12:01] jonorossi commented on #597
Clarification for those reading at home: dropping it from master. As those here know, we've never had a release with a .NET Standard 2.x target.

Yes, Probably best to do them as 2 separate commits (i.e. netfx and net6), or even 2 separate pull requests. Our build has Mono building and testing too. Our set up is a little unique, make sure to check out the files in the `buildscripts` directory whic

[2022-04-06 16:03] qetza commented on #488
Hello, any news on this issue?

I just stubble on this while creating a class inheriting from a BlobContainerClient for the Azure.Storage.Blobs and trying to create a mock based on my class. I can confirm that if a put a strong name on my assembly then mocking is working but this is not an option for us.

[2022-04-06 21:22] Jevonius commented on #597
As suggested, I've created a PR (#614) moving the minimum version up to 4.6.2. First attempt at contributing, but I've tried to be guided by previous PRs/commit structures so hopefully all in order. If happy with this, I'll take a look at the changes for `net6` now that I've got a better grasp of how things are structured.

[2022-04-07 02:39] Retik commented on #601
So am I correct that this prevents making proxies of any record that inherits from an abstract base record?

[2022-04-07 02:56] stakx commented on #597
Just for reference, the `netstandard2.x` targets were discussed in detail back in #407. IIRC, the main reason why we have `netstandard2.1` is our dependency on System.Reflection.Emit (which `.netstandard2.0` never officially supported, but got to work nevertheless through some magic extra FCL NuGet package). Other than that, `netstandard2.1` and `netstandard2.0` are pretty much exchangeable for th

[2022-04-07 03:41] jonorossi commented on #597
Ah yes, I had completely forgotten about that. Cheers.

"commented on 28 Apr 2020"... that's right now 😆

That'll drop support .NET Core 2.1 which we currently support through .NET Standard 1.x, but I'm good with that since it was end of life August 21, 2021. .NET Standard 2.1 supports .NET Core 3.1 which is still in support. And we support .NET Framework via the netfx target rather than .NET Stan

[2022-04-07 03:47] jonorossi commented on #601
I don't think this just impacts abstract records. No one has put together a set of tests using just DP, so I'm not across the full impacts.

[2022-04-07 08:19] Jevonius commented on #597
I'm a little wary of suggesting removing `netstandard2.0`, mainly because of projects that consume Castle and what they target; my perception is that most projects tend to target `netstandard2.0` rather than `netstandard2.1`; the exception in the top 10 from https://www.nuget.org/stats/packages is AutoMapper (which _only_ targets `netstandard2.1`).

Given the only difference I can see between Cast

[2022-04-07 11:10] stakx commented on #597
Despite my above post, and despite having argued against `netstandard2.0` in the past, I tend to agree with this reasoning... if preserving the `netstandard2.0` TFM doesn't overly complicate things in this project here.

One argument against having too many TFMs was that we'd need to cover all of them in the CI test runs (thus making the CI setup more complex and slower). How about keeping `netsta

[2022-04-07 11:42] jonorossi commented on #597
Good reasoning @Jevonius.

I think to keep things moving we just take the path of least resistance and go with both (since we've already got them) and leave it running tests on both targets as the CI build is pretty quick (5 minutes) anyway. We might find by the time we get to v6 no one is using .NET Standard targets anymore 😉 .

So we do: `<TargetFrameworks>net462;netstandard2.0;netstandard2.1;ne

[2022-04-07 11:48] jonorossi commented on #597
For the unit tests we've currently got:
[code]

There is no point testing on end of life .NET runtimes, do we change this to:
[code]

[2022-04-07 11:55] jonorossi commented on #488
There has been no fix made for this defect.

[2022-04-07 15:02] Jevonius commented on #597
3.1 is in support until December 2022, so I'd be tempted to say:
[code]

This then covers the `netstandard2.X` targeting too, which would otherwise be missed/excluded. As noted, the CI process time is negligible, so doesn't seem like there's any real advantage to excluding it.

[2022-04-07 22:40] jonorossi commented on #597
Ah yer, 3.1 is an LTS release too. Yep go with your proposed list.

[2022-04-09 00:02] Jevonius commented on #597
Have just opened a PR (#616)  for adding `net6.0`; had a bit of a fight with the build pipelines and NUnit but have something that builds and passes tests now.

[2022-04-14 02:27] leolplex commented on #609
You're right!

[2022-04-14 02:27] leolplex commented on #609
Thanks 👍

[2022-04-14 14:39] pmorelli92 commented on #613
Hey @jonorossi I don't really know how long will it take for the 5.0.0 to be released, but in the meantime can we get an intermediate version that targets the .NET Standard 2.0 instead of the 1.6 so we can get rid of the [CVE-2017-0247](
![image](https://security.snyk.io/vuln/SNYK-DOTNET-SYSTEMNETHTTP-60045) ?

It is a very old vulnerability, but tools are reporting it and security department is n

[2022-04-15 20:13] TimLovellSmith opened #617 "Null is not a valid constant value for this type while trying to copy cancellation token parameters"
[Sorry if this is an obsolete bug, haven't tried to repro with latest yet.]

Packages.config:
`<package id="Castle.Core" version="4.3.1" targetFramework="net472" />`

Observed: managed to get this first-chance exception `{"Null is not a valid constant value for this type."} | System.ArgumentException` as a first-chance exception.

Expected behavior: this seems like a bit of unnecessary exception-o

[2022-04-15 21:26] TimLovellSmith commented on #617
Quick research into CopyDefaultValueConstant makes it look like this might because of this kind of edge case:

https://stackoverflow.com/questions/9977530/default-parameters-and-reflection-if-parameterinfo-isoptional-then-is-defaultva

[2022-04-15 22:20] stakx commented on #617
Could you please provide a minimal code example that reproduces the reported exception? (And yes, please do test it against the latest published version.)

[2022-05-01 18:01] Jevonius commented on #597
Coming back to dropping `netcoreapp2.1` from the test side, if we do that the `netstandard2.0` build won’t get tested. Arguably that’s already the case since 2.1 tests aren’t executed. Is that ok? Alternatively, @stakx if we _were_ to drop `netstandard2.1` as a target, the 3.1 tests would then consume the 2.0 packages, and everything would still be in support.

[2022-05-01 18:05] Jevonius commented on #613
How do we start ticking off more of the boxes?

I’ve updated a few of the test-related nuget packages as part of the `net6.0` but what about the rest?

[2022-05-01 19:54] stakx commented on #597
That would, IMHO, be the wrong move, as I commented elsewhere recently. If we decided to drop any of the `netstandard2.x` TFMs at all, it should be `netstandard2.0` instead.

I'm not _against_ removing `netstandard2.0`, but I also don't see any big practical benefit to doing so (apart from setting the test coverage issue aright). I must admit that at this time, I care much less about a squeaky cle

[2022-05-02 06:01] Havunen commented on #597
netstandard2.1 is not compatible with older xamarin and .NET framework, but as people are considering already to include .net45 for example I don't this this really matters.

Adding new target frameworks is not breaking change... so if anybody ever comes with an issue about those they can be added in 5.0.1 and so on... Just hurry up with the release of v5 please

[2022-05-09 11:43] jonorossi commented on #597
Thanks to @Jevonius we've now got a .NET 6 target in master (#616).

Here are the final TFMs for Castle Core v5.0.0:

[code]

[2022-05-09 11:43] #597 closed

[2022-05-09 11:58] jonorossi commented on #613
CI builds appear to be working well. The AppVeyor build is running tests again .NET Framework 4.x, .NET Core 3.1.24 and .NET 6.0.4.

I've regenerated the nuget.org API token for publishing, hopefully publishing will all still work well. I'll update the changelog before publishing.

Does anyone want to do any further changes or final testing before release?

[2022-05-09 12:06] stakx commented on #613
I'd say we're good to go! 🚀

Getting the TFMs set up was perhaps the single most important work left, and that has now just been completed.

I'll be happy to start working on some of the reported bugs soon, but that can happen anytime and isn't tied to v5.

[2022-05-09 12:12] jonorossi commented on #613
Thanks @stakx.

Those that intend to use the .NET 6 build straight away, I'd be great if you could test the latest build:
https://ci.appveyor.com/project/castleproject/core/build/job/1ueqyrfx9hk9n67f/artifacts

In 24 hours I'll publish the release.

[2022-05-09 17:34] Jevonius commented on #613
Is it feasible/easy to push out a `5.0.0-preview1` to NuGet? Much easier for me to pull that into various solutions and run tests against.

[2022-05-09 17:51] CesarD commented on #601
Bump? 🤔
It's impacting Moq as well, since they also consume Castle.
Can't mock stuff that inherits from abstract records as well.

[2022-05-09 19:39] stakx commented on #601
@CesarD, this hasn't been forgotten. I'd like to fix a few things in DynamicProxy (this issue included, i.e. support for covariant return types; if time permits), but have been awaiting the now-imminent DynamicProxy v5 release. I'm planning to start working on open issues in about 2-3 weeks' time.

[2022-05-10 04:38] jonorossi commented on #613
Great idea. Just published `v5.0.0-beta001`.

It would be good to get at least one mocking library upgraded to run their test suite (@stakx any chance you've got time to create a branch for Moq so its test suite gets run before we publish final?).

[2022-05-10 06:03] stakx commented on #613
@jonorossi, done. Moq's test suite still runs fine with v5, so there appear to be no regressions. I will still have to go through the open DynamicProxy-related issues to see which ones are now fixed as expected, but so far so good.

[2022-05-10 06:54] stakx commented on #613
NSubstitute's test suite also appears to run fine with v5 (assuming I've performed the version upgrade correctly).

[2022-05-10 07:03] stakx commented on #613
(I was going to give FakeItEasy a quick try as well, but even very basic, seemingly unrelated unit tests broke after the upgrade to v5, so I am assuming that I didn't perform the upgrade correctly; some problem with adjusting the TFMs, I guess. I'll have to skip this one.)

[2022-05-10 12:31] jonorossi commented on #613
@stakx 🍻

@Jevonius Let me know when you've done your tests

[2022-05-10 15:00] Jevonius commented on #613
Don't wait on my account, turns out we make use of code that #563 got rid of, so fighting against that to get things building/running. Might take me a day or two.

[2022-05-10 20:36] Jevonius commented on #613
Looks like Windsor gets broken. Not sure of the exact cause, but removed functionality (such as #563) seems a likely candidate.
Code that blows up:
[code]
Gives an exception along the lines:
[code]
Replicating in LinqPad gives a slightly different type failure:
[code]

Tests affected by this issue in our codebase are the only ones that started failing upon upgrade to the new version.

[2022-05-10 21:14] stakx commented on #613
@Jevonius, I'm surprised that you even got that far. Did you set up an assembly version binding redirect thingy for `Castle.Core` from assembly version 4 to 5? I thought Windsor would be compiled against v4, so I would've expected an "assembly not found" error of some kind.

IIRC when we last discussed Windsor innthe face of a major version upgrade here, our thinking was that people could stay on

[2022-05-11 00:54] jonorossi commented on #613
@stakx yep, that's my recollection. It's up to Windsor to fix its usage of internal Castle Core classes and there is no expectation that Castle Core won't make breaking changes in a new major version.

@Jevonius could you create an issue on the Windsor repo with your findings. Windsor is going to need its target frameworks upgraded too, as Castle Core is no longer supporting .NET 4.5.

The only qu

[2022-05-11 04:55] Jevonius commented on #613
According to Nuget, Windsor’s dependency is:
```Castle.Core (>= 4.4.1)```
It doesn’t have the upper limit of `< 5.0.0`, so a patch release with that limit might be worth considering until Windsor can be fixed.

[2022-05-11 05:18] Jevonius commented on #613
This might be heretical, but would there be any advantage to skipping 5.0.0, and jumping to 6.0.0? Windsor could then bump to 6 and make similar changes to its target frameworks.

I always assumed that Castle projects stayed in sync, so was surprised when Windsor jumped to 5. Is there a thread about that somewhere? I couldn’t find one when I looked.

[2022-05-11 05:24] jonorossi commented on #613
We wouldn't want `4.*`, the current build of Windsor likely doesn't work with all 4.x versions which is why it was increased to 4.4.1. NuGet's preference for the lowest version but then always suggesting upgrades ignoring SemVer is always frustrating.

Interesting to see Roslyn and EntityFramework `Versions.prop` files don't specify a range.

Maybe Windsor should have `[4.4.1,5.0)` instead?

I don

[2022-05-11 05:35] Jevonius commented on #613
`[4.4.1,5.0)` was going to be my original suggestion, should have stuck with it 😆

I’ll try and find some time to take a look, get an idea what’s involved. We use it for a large chunk of our codebase, and trying to maintain a split of old/new Core versions is going to be a pain as we shift towards net6+.

[2022-05-11 05:41] stakx commented on #613
NuGet's interpretation of semver is ridiculous. Why is this even necessary? 🤯

Sounds good to me, too. Doing a patch release of Windsor with the reference version thus adjusted at least properly documents the status quo.

People will perhaps still run into version conflicts, thoigh; if NuGet updates both packages, one of those will have to be downgraded again in order to resolve the conflict; not

[2022-05-11 05:46] jonorossi commented on #613
Just saw your edit as I was writing a reply, I agree. Will release final 5.0.0 tonight.

[2022-05-11 05:47] Jevonius commented on #613
It might be worth a note somewhere, but I agree we shouldn't be blocking and waiting on Windsor. A 5.x bump of Windsor with the new upper bound will be quick to do, and gives a bit of breathing room for a proper fix.

[2022-05-12 07:34] stakx commented on #613
Thank you @jonorossi for this release, I'm really excited about it! 🍺🍺 I'll soon resume work on some of the pending issues.

[2022-05-12 07:46] stakx commented on #613
Also (last but not least!) thank you so much @Jevonius for your significant contributions to this release. That was some solid work there 💪, and you've really helped getting things moving once again. It's much appreciated.

[2022-05-12 09:18] Jevonius commented on #613
I fear you flatter me too much - I'm more cheerleader to your quarterback 😂

[2022-05-12 09:25] stakx commented on #600
@tobuto, I cannot reproduce your reported issue with the current version DynamicProxy. I've run the following repro code on `net48`, `netcoreapp2.1`, `netcoreapp3.1`, `net5.0`, and `net6.0`. No errors.

[code]

Am I missing something?

[2022-05-12 17:49] stakx commented on #430
I think we can close this issue.

.NET 6 (where it has been resolved) is now an official LTS release and we target that runtime directly. New C# language features keep driving people to adopt current .NET runtimes, and Microsoft hasn't backported the runtime bugfix to the older .NET Framework. If they don't make the effort to keep newer C# language features working on an older platform, maybe it's

[2022-05-13 08:18] stakx commented on #617
/ping @TimLovellSmith. The information you gave so far is insufficient for us to reproduce the reported problem. Please provide a minimal but complete repro code example; otherwise, I'm going to close this issue in a few days' time.

[2022-05-13 11:14] stakx commented on #601
I've taken a first brief look. The problem appears to be that [`MethodFinder.GetAllInstanceMethods`](https://github.com/castleproject/Core/blob/652a25054ca57f9fbb62bf17e02c2af8243938b0/src/Castle.Core/DynamicProxy/Generators/MethodFinder.cs#L31) reports the `<Clone>$` method twice on .NET 6+ (one from the base record class, and one from the derived record class), vs. just once on earlier runtimes.

[2022-05-13 15:30] stakx commented on #587
@p33t, sorry for the late reply. It didn't occur to me until now that you might simply turn things around and, instead of creating an interface proxy with a specific base class, create a class proxy implementing an additional interface. That way, you could provide ctor arguments.

[2022-05-13 15:47] stakx commented on #587
Do you think this alternative solution would be sufficient? If so, then there's no need to enhance DynamicProxy's API, and we can close this.

[2022-05-13 20:20] stakx commented on #601
I've put together a little something that may resolve this. See PR linked above.

I am admittedly a little out of touch with modern C# (as I haven't spent all that much time in .NET world during the past couple of years). So I am open to suggestions for further important `record` / covariant method return scenarios not currently covered by the newly added `CovariantReturnsTestCase` and `RecordsTes

[2022-05-14 10:26] stakx commented on #603
I'm not really sure I understand what we're being asked to do here.

Castle.Core is a fairly generic library and as such it can execute in a variety of environments; web servers are only one of them. That is, we simply don't know whether we're running in a trusted or untrusted environment. Therefore, perhaps the path validation needs to happen outside of Castle.Core, in the downstream application

[2022-05-14 10:40] jonorossi commented on #603
@stakx I agree.

I think `IResource` and its implementations should move into Windsor, it is no longer used by MonoRail, ActiveRecord, etc like it used to be, only Windsor survived. Obviously needs a major version upgrade, so happy to just ignore it for now like other areas like logging and just focus on DP for now until next major version.

[2022-05-14 11:46] #590 closed

[2022-05-14 12:29] jonorossi commented on #430
Completely agree. If our users won't upgrade their runtime, they likely won't upgrade our library either. It is great to see quite a lot of CLR and reflection fixes going into the last few .NET Core releases, .NET Framework is mature, no reason to risk backporting anything.

Can we instead add a unit test that only runs on .NET 6?

[2022-05-14 13:50] stakx commented on #430
Oh, good idea. I'll add one or two.

[2022-05-14 15:52] #430 closed

[2022-05-15 05:00] p33t commented on #587
@stakx , thanks for reply. I've moved onto another project which doesn't use ServiceFabric so I don't need this feature any more.
I'll remember your tip about creating a class proxy instead in future!

[2022-05-15 06:20] #587 closed

[2022-05-17 11:24] stakx commented on #617
Closing due to missing repro code & inactivity. @TimLovellSmith, we can reopen once we have something that allows us to reproduce this error.

[2022-05-17 11:24] #617 closed

[2022-05-18 13:33] stakx commented on #506
[code]

[2022-05-18 13:44] stakx commented on #506
Gave ILVerify another go. It is now available as a `dotnet` tool that can be installed with

[code]

Then you should be able to run it simply by invoking `ilverify` on the command line.

First problem is that ILVerify doesn't appear to be able to locate `mscorlib`:

[code]

Which is understandable given that the tool was written with .NET Core in mind, where there's no such thing as the GAC. But w

[2022-05-20 08:08] stakx commented on #447
This may be much easier to implement than I had previously assumed.

Up until now, I was mostly thinking about how to implement `Proceed` for interface methods having a default implementation. This would be akin to calling overridden class methods invoking the base class' method. However, [`base` support for default interface methods was dropped for C# 8](https://github.com/dotnet/csharplang/blob/

[2022-05-22 12:22] shoaibshakeel381 opened #627 "Help while Migration from 4.4.1 to 5.0.0"
Hello this is not an issue but more of a help request while migrating from 4.4.1 to 5.0.0.

In our code we've been using some methods from `Castle.DynamicProxy.Internal` namespace. Speciifically:

- `AttributeUtil.CustomAttributeInfo CreateInfo(Type attribute, object[] constructorArguments)`
- `AttributeUtil.CustomAttributeInfo CreateInfo<TAttribute>()`
- `AttributeUtil.CustomAttributeInfo CreateI

[2022-05-22 13:25] stakx commented on #627
All of those types were never really intended for public consumption. They have been made `internal` without any intention of providing alternatives. If you rely on those types, perhaps you shouldn't update to version 5? Other alternatives: fork the project and make the required types `public` there; or reproduce the required types from version 4.4.1 in your own code for local usage?

[2022-05-22 19:24] shoaibshakeel381 commented on #627
I see. Let me explain what I am trying to do with these types.

In asp.net core controllers extend from ControllerBase class. And decalre [HttpVerb] and [HttpRoute]  attributes on methods of controllers. But we want to instead have interfaces for our controllers where these attrbites are declared on method declarations. So we use castle.core to create interface proxy with target type, while copyin

[2022-05-22 20:37] stakx commented on #627
I'm afraid I cannot help you there, I am not familiar with ASP.NET Core. Your question is probably a little out of scope here; this repo is about the development of the facilities in the Castle.Core library.

All of that being said, you haven't _really_ explained why you needed `AttributeUtil` methods and `ClassEmitter` / `MethodEmitter` to be public in the first place. What you described seems mo

[2022-05-23 01:27] shoaibshakeel381 commented on #627
Thanks for the reply. I will see if I can simply use public interfaces for my scenarios.

[2022-05-23 01:27] #627 closed

[2022-05-26 01:39] cezar-pimentel opened #628 "Error when trying to update to Castle.Core 5.0"
When I try to update my Castle.Core package in nuget, I receive this error:

Unable to resolve dependencies. 'Castle.Core 5.0.0' is not compatible with 'Castle.Windsor 5.1.2 constraint: Castle.Core (>= 4.4.1 && < 5.0.0)'.

Is this constraint correct? Could someone explain to me why this constraint exist?

Thanks in advance

![image](https://user-images.githubusercontent.com/12258489/170397365-649d

[2022-05-26 02:10] jonorossi commented on #628
Yes. Castle Windsor does not yet support Castle Core 5.0.

Follow the Castle Windsor issue over there: https://github.com/castleproject/Windsor/issues/612

[2022-05-26 02:10] #628 closed

[2022-05-26 03:04] cezar-pimentel commented on #628
Ok! Thanks for the explanation and for your time!
Cheers!

👊

[2022-06-17 18:07] TarekAljabban opened #629 "Proxy exception handling logic skipped when invoked from AspNetCore Project"
I'm using a Castle proxy that looks like the following:

[code]

When testing this proxy using a unit test, everything is working as expected, including the exception handling logic. As in, when the underlying target method throws an exception, this exception is caught by the interceptors "Catch" block and the `HandleException(ex);` call is made as expected.

However, when I'm using this proxy in

[2022-06-17 19:17] stakx commented on #629
Looks like a problem in yoir own code. If you want your interceptor to catch exceptions that may be thrown by an async method, then you need to await that method's result inside the `try` block (i.e. you'd need to `await` the `Task` returned by `InterceptAsync`). Otherwise you end up with a race between your interceptor and the task. If the task fails with an exception after your interceptor has l

[2022-06-17 19:17] #629 closed

[2022-06-17 19:24] stakx commented on #629
I forgot to mention, the interception pipeline of proxies generated by DynamicProxy are purely synchronous code and not completely thread-safe (the `invocation.Proceed()` method is especially unsafe). This can render async/await operations inside interceptors non-trivial. I'd like to refer you to our [documentation page on this topic](https://github.com/castleproject/Core/blob/master/docs/dynamicp

[2022-06-27 01:07] javidsho opened #630 "Can DynamicProxy intercept the finalizer?"
For a project, I have to know when a proxy object is getting finalized by the GC so that I can dispose some related resources. Is that possible using this library?

[2022-06-27 23:19] stakx commented on #630
No, DynamicProxy does not intercept finalizers.

Without knowing the full history behind that design decision, I think it's quite sensible:

During finalization, i.e. inside a finalizer, one must assume that all references to other objects are no longer valid; that is, the referenced objects may already have been collected. This is because the order in which the .NET garbage collector reclaims obj

[2022-06-27 23:19] #630 closed

[2022-06-28 16:20] stakx commented on #630
Proxying (that is, intercepting) finalizers isn't impossible, it's just pretty pointless (generally speaking).

If you really wanted to, you could fork this project, remove [this line of code](https://github.com/castleproject/Core/blob/0176c319ea9feecf911e2fcf35319eaead866ea8/src/Castle.Core/DynamicProxy/Contributors/MembersCollector.cs#L216), and possibly implement a specialized method generator

[2022-06-28 19:56] javidsho commented on #630
I don't even want to access any fields or other stuff. I just want to use it as a notification of when the object is collected. I'm using it in an RPC library to inform the remote party that some shared object is no longer necessary.
Anyways, thank you for the information.

[2022-06-28 20:45] stakx commented on #630
Sounds like you'd need to dereference an object reference in order to do so. Which is something that you generally shouldn't do in a finalizer. (Unless maybe that reference is stored in a static field.)

Anyways, I don't mean to force that point on you any more than I already did (sorry!)... good luck with solving that code puzzle! :-)

[2022-07-19 09:27] #601 closed

[2022-07-19 09:40] #608 closed

[2022-07-20 09:00] CesarD commented on #601
Any idea when this is going to be released?

[2022-07-22 20:11] stakx commented on #601
All merge requests that make code changes are currently merged, think we could do a minor/patch release at this point @jonorossi?

(I'm working on new interface capabilities support, but that's going to take some more time, so there's no need to wait for it at this time.)

[2022-08-02 04:20] jonorossi commented on #601
@stakx sorry for the silence on this end. Could you create a release issue with a proposed version number.

[2022-08-02 10:49] stakx opened #631 "Release 5.1.0"
We should do a release to provide support for proxying derived `record` classes on .NET 6+ (#601). This should get the Entity Framework devs unstuck, among others.

There are no other pending code changes to be reviewed and merged, so we should be good to go at this time.

Since the changelog mentions enhancements, I'd say we do a minor version bump here.

[2022-08-02 11:13] jonorossi commented on #631
Sounds good! Have you got time right now to roll it out (not that it should take much effort)? I'm here to help you make your first release if you run into any permissions issues.

[2022-08-02 13:30] ajcvickers commented on #601
@stakx Thanks! Much appreciated.

[2022-08-02 13:32] jonorossi commented on #631
Just took a look, everything appears in order. Don't forget to mark the milestone closed.

Congrats on your first release 🚀

[2022-08-02 15:13] stakx commented on #631
Will do... and thanks for guiding me through this.

[2022-08-02 15:13] #631 closed

[2022-08-10 09:49] CesarD commented on #601
Thank you so much!! Cheers!!

[2022-08-11 16:53] CesarD commented on #601
One question: should this also work for a generic record?
ie: `public record MyRecord<T>`

I'm having issues with a case like that, but not really sure so far...

[2022-08-12 06:19] stakx commented on #601
@CesarD, yes, I'd say this should work as well. Are you using `T` as a return type somewhere?

Please open a new issue for this once you're sure / have some repro code.

[2022-08-12 22:17] CesarD commented on #601
Yes, I am using it as part of the return type of a Command I'm using with MediatR... And when mocking (with Moq) commands inheriting from this base (generic) abstract command, it throws the exception. Commands that are deriving from a non generic abstract command work perfectly and they can be mocked without issues.

I'll try to get some repro code for tomorrow.

[2022-08-13 01:20] CesarD commented on #601
Hi @stakx! I've just tried some repro code using Moq, which is my use case, and it turns out to effectively occur with only generic abstract records.
Now, I know you told me to open a new issue, but the exception thrown is the exact same that originated this one.

Here goes the code:

[code]

Variable `a` holds the mocked object as expected, but when initializing `b`, the following is thrown:

[co

[2022-08-13 07:11] stakx commented on #601
Yes, please open a new issue. Thanks!

[2022-08-13 17:48] CesarD opened #632 "Proxies using Records derived from a base generic record broken using .NET 6 compiler"
Similar to what occurred in #601, when trying to mock (with Moq) records derived from a base generic record, an exception is thrown.

Repro code:

[code]

Variable `a` holds the mocked object as expected, but when initializing `b`, the following is thrown:

[code]

_Originally posted by @CesarD in https://github.com/castleproject/Core/issues/601#issuecomment-1213625907_

[2022-08-27 02:53] CesarD commented on #632
@stakx not sure if you were aware of this one.

[2022-11-03 15:05] Splendour0207 opened #634 "How to solve the dependence of Castle.core on System.Diagnostics.EventLog under netstandard2.1 framework"
While I was using Castle.Core in .Net Standard2.1,  I found that it depends on [System.Diagnostics.EventLog(v >= 4.70)].
![image](https://user-images.githubusercontent.com/18577195/199756149-47acaa3d-76c6-46bf-bd39-aa6ac889440b.png)
So,  I got System.Diagnostics.EventLog, But I found it did not support .Net Standard2.1 in any version.  I do not know how to solve it. thanks!
![image](https://user-i

[2022-11-03 17:27] SonOfSardaar commented on #107
Actually the use cases are more complex than what this test is demonstrating. what about an interceptor implementation which does logging? it would not know what return type would be there for the intercepted methods or even if it would have a return type

[2022-11-03 21:24] stakx commented on #634
You're looking at versioning information about the documentation page, not about the actual NuGet package. If you look at e.g. https://www.nuget.org/packages/System.Diagnostics.EventLog/4.7.0, you'll find that the NuGet package `System.Diagnostics.EventLog` _does_ support .NET Standard 2.1.

[2022-11-03 21:24] #634 closed

[2022-11-04 00:10] jonorossi commented on #107
@SonOfSardaar this issue was closed 7 years ago. Please create a new issue if you want to discuss something.

[2022-11-16 15:36] backstromjoel opened #635 "[FEATURE] Would be nice if all CreateClassProxy methods supported generic syntax"
It would be really nice if all `CreateClassProxy(typeof(TClass)) as TClass` methods in ProxyGenerator.cs could take a typeparam instead of taking it as a parameter like so: `CreateClassProxy<TClass>()`.