[2016-07-07 17:34] jonorossi commented on #194
@jeremymeng I'm not really interested in changing the namespace. I want them to emulate as close as possible, so having different `using x;` would be painful because it would cause compilation errors on old frameworks when we make changes making it more work to maintain old frameworks. The reflection differences between frameworks are painful enough to deal with.

What is the exact error message?

[2016-07-07 17:43] jeremymeng commented on #194
Yes I agree.

Yes, compile time error, because of the two extension methods are both in scope with `using System.Reflection`.  Renaming class wouldn't help.

I found it when porting FakeItEasy tests.  I worked around it by upgrading the FakeItEasy class lib project to v4.5.  However, FakeItEasy owners are wondering whether it's possible to avoid adding a v4.5 project.

[2016-07-07 17:43] jeremymeng commented on #194
(Sorry I am not at the dev machine right now so cannot paste the exact error message.)

[2016-07-07 18:11] jonorossi commented on #184
Is that copy of `mscorlib` a reference assembly or the one that actually gets run? Because `System.__Canon` is definitely there in the coreclr's `mscorlib`:
https://github.com/dotnet/coreclr/blob/840a6ca79d4643cd0cfed9444e5658933d901618/src/mscorlib/src/System/Object.cs#L229

[2016-07-07 22:02] jeremymeng commented on #184
It is the runtime.

![image](https://cloud.githubusercontent.com/assets/7583839/16671185/e9c83008-4452-11e6-8667-75381cecae07.png)

on .NET Core, `System.__Canon` is in `System.Private.CoreLib`: https://github.com/dotnet/corert/blob/4376c55dd018d8b7b9fed82449728711231ba266/src/System.Private.CoreLib/src/System/__Canon.cs

`System.__ComObject` seems in `System.Private.Interop`: https://github.com/d

[2016-07-07 22:07] jeremymeng commented on #194
compile errors like
[code]

[2016-07-07 23:12] jeremymeng commented on #184
How about `"NLog.Internal.LoggerConfiguration, NLog"`? It should work for all build configurations.

[2016-07-08 07:45] jonorossi commented on #127
TeamCity is just calling `xbuild /p:Configuration=NET45-Release /t:RunAllTests buildscripts/Build.proj`, maybe a difference in Mono version. I need to upgrade Mono anyway.

The build output for the Mono build on the TeamCity server shows this (CS1591 is missing XML comment):
[code]

[2016-07-08 07:49] jonorossi commented on #127
@jeremymeng could you please submit a PR to upgrade NUnit and change to using their .NET CLI runner, just leave the conditional code for now.

[2016-07-08 12:10] jonorossi commented on #184
@jeremymeng you linked to the .NET Native/AOT runtime code not coreclr, however I can see that the coreclr repo does also have a `mscorlib.csproj` for the facade mscorlib to support forwarding types, while also having `System.Private.CoreLib.csproj` for the actual internal implementation that used to live in there. I assume this work was to make corert work easier and separate the mscorlib contrac

[2016-07-08 12:10] #184 closed

[2016-07-08 13:21] jonorossi commented on #194
Okay, that means that FakeItEasy.Tests are being compiled against the ILMerged FakeItEasy.dll rather than the pre-ILMerging ...yep [ILMerging is done as a post-build step in the csproj file](https://github.com/FakeItEasy/FakeItEasy/blob/275d3097d465f7afa22dad18995db0af5ab5e488/src/FakeItEasy/FakeItEasy.csproj#L483-L485), which also would slow down development since it is done after every compile.

[2016-07-08 13:40] blairconrad commented on #194
Hi, @jonorossi. Thanks for chiming in.

It would introduce the slight inconsistency that running the tests in the IDE (for example) would operate against the non-ILMerged version of the FakeItEasy DLL (if I'm understanding you properly).
I doubt it would cause any problems and the CI server would eventually run the tests against the merged DLL, so this is probably okay, but thought I'd bring it up

[2016-07-08 13:57] jonorossi commented on #194
FYI, I haven't tried ILMerge with .NET Core assemblies, so unless there is some crazy stuff going on like the old Silverlight days then I can't think of any reason it wouldn't work, unless PCLs or other System.Runtime based assemblies don't work with it.

Ah. In time we'll drop support for .NET 4.0 in Castle Core too since it hasn't been supported by Microsoft for quite a while now, we'll keep .NE

[2016-07-08 14:14] adamralph commented on #194
Barely noticeable.

[2016-07-08 14:40] blairconrad commented on #194
Sure, @adamralph. I've nearly no interest in getting these milliseconds back. But if it means we can ILMerge in the .NET Core case…

[2016-07-08 14:41] blairconrad commented on #194
…although I don't understand why ILMerging will work from the command line but not from within the .NET Core in-IDE compile.

[2016-07-08 14:42] jonorossi commented on #106
Based on other non-Castle GitHub issues others have linked here the problem is as the test below highlights, the interface and implementation generic arguments must have the same name otherwise DynamicProxy breaks:

[code]

Failure:
[code]

[2016-07-08 14:43] jonorossi commented on #106
Since this is a long standing defect and has a workaround, I'm removing it from the v4.0 milestone.

[2016-07-08 15:13] adamralph commented on #194
Indeed, the post build step is just invoking the exe, so can't see what difference putting it in the build script would make.

[2016-07-08 16:37] jeremymeng commented on #184
Great!

[2016-07-08 18:35] jeremymeng commented on #194
I had spent some time trying ILMerge on .NET Core when porting Moq.  There are some issues I hit.

- The .NET Framework reference assemblies are not under `C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETPortable\v5.0\`.  They are in NuGet packages.  ILMerge seems to need this.
- Running ILMerge on .NET Core PCL assemblies leads to crash due to InvalidCastException.  Mike Barne

[2016-07-08 18:49] adamralph commented on #194
@jeremymeng did you try [ILRepack](https://github.com/gluck/il-repack)?

[2016-07-08 20:10] jeremymeng commented on #194
I have not.  in Moq we just changed to take dependency on Castle.Core from NuGet.

I did a little bit exploration and seemed to hit a dead end.

I need to specify a directory for `/lib:` to find the assemblies.  However, the project.json based PCL project doesn't copy dependencies to the output directory.  It seems that setting `CopyNuGetImplementations` to `true` should do it, but then it doesn't

[2016-07-08 21:38] jeremymeng commented on #127
@jonorossi PR submitted.

[2016-07-11 15:08] jonorossi commented on #137
Serilog has been upgraded, closing.

[2016-07-11 15:08] #137 closed

[2016-07-11 15:09] jonorossi commented on #109
log4net has been upgraded to 1.2.15 in #199, it'll be released with Castle Core 4.0 very soon.

[2016-07-11 15:09] #109 closed

[2016-07-11 15:11] jonorossi commented on #128
log4net, NLog and Serilog have been upgraded (#199) to the newest versions.

[2016-07-11 15:11] #128 closed

[2016-07-11 15:13] jonorossi opened #200 "Upgrade NLog to 4.5 RTM for .NET Core support"
We are currently using NLog 4.4.0-beta13 to get .NET Core support, we need to upgrade to an RTM version once it is released.

[2016-07-11 15:16] jonorossi commented on #200
The main NLog .NET Core issue for 4.4 that hasn't been closed is https://github.com/NLog/NLog/issues/641.

[2016-07-11 15:37] jonorossi commented on #160
This fix still hasn't shipped, Mono 4.4.1.0 that came out last month didn't include it.

[2016-07-11 15:46] jonorossi commented on #67
Since this is a long standing defect we'll be wrapping up v4.0 without.

[2016-07-11 15:49] jonorossi commented on #104
The pull request #105 was merged last year, this issue just didn't get closed at the time.

[2016-07-11 15:49] #104 closed

[2016-07-11 15:55] jonorossi commented on #121
Unassigning from the v4.0 milestone.

[2016-07-11 18:45] hikalkan commented on #128
Thank you for that. When can this be released?

[2016-07-12 06:49] bluerobotch commented on #193
@jonorossi thanks for the quick reply. We already tried to get more information by enabling the fusion log. But unfortunately the fusion log does not contain any records concerning the above problem. We also enabled the castle core log, but it did not provide further information. It looks like it's a type loading issue and not a problem with locating the assembly. During investigation we had the T

[2016-07-12 12:06] jonorossi commented on #128
@hikalkan I'll have a beta release out in the next couple of days, just a few more things to sort out, RTM should hopefully follow fairly quicker afterwards.

[2016-07-12 12:07] jonorossi opened #201 "Support log4net integration on .NET Core"
This will miss the cut for v4.0 because log4net still doesn't support .NET Core: https://github.com/apache/log4net/pull/16

[2016-07-12 13:23] jonorossi commented on #193
@bluerobotch could you include the `TypeLoadException`'s full a stack trace. Looking through the issue trackers of the 3 main mocking libraries I found https://github.com/moq/moq4/issues/246, does that issue sound about the same?

[2016-07-12 18:18] jonorossi commented on #127
#202 has been merged.

TeamCity doesn't seem to support the NUnit test result XML files, I'll upgrade TeamCity which should hopefully resolve the problem.

[2016-07-12 18:24] jeremymeng commented on #127
@jonorossi Awesome work!  I think nunit3 console runner has an option to output legacy nunit2 style XML format, if that helps.

[2016-07-12 18:37] jeremymeng commented on #127
There's even an option for TeamCity, though I don't know what messages are those.

[code]

[2016-07-12 18:45] jonorossi commented on #127
Yep, `--result:filename;format=nunit2` just looking at it at the moment.

I assume it'll be using the standard TeamCity testStarted/testFinished service messages. We are currently using the importData service message. I read just before that TeamCity or NUnit 3 are meant to auto-detect each other, however that might be in a newer TeamCity.

[2016-07-12 18:47] jonorossi commented on #127
Found out you need the `NUnit.Extension.TeamCityEventListener` package files for auto-detection.

[2016-07-12 19:45] jeremymeng commented on #127
It looks so from this [blog post](https://blog.jetbrains.com/teamcity/2015/11/teamcity-and-nunit-3/).  Maybe it only works when being run as a TeamCity step?

[2016-07-12 21:43] Schaeri commented on #193
Hello @jonorossi

Thanks for the fast answer and support. I created the issue on moq. Yes it is the same problem described in moq/moq4#246. @bluerobotch and I work on the same project. Together we trying to find the root cause of the issue since february without any luck. Locking into the code of castle and moq.

You can use the stack trace of the issue moq/moq4#246. Its never the same test but as

[2016-07-13 09:29] hikalkan commented on #128
Thank you very much for informing. This was one of the most asked questions to me since my framework (https://github.com/aspnetboilerplate/aspnetboilerplate) depends on castle logging facility.

[2016-07-13 13:35] jonorossi commented on #127
I got the .NET Framework builds working last night with the NUnit's TeamCity addin, however because the dotnet-test-nunit runner is a completely different runner (it doesn't use the same test engine) it doesn't support addins or output formatters so I can only get a nunit3 formatted file out of it. No idea if TeamCity can even read these files yet, will look into it.

[2016-07-13 14:03] jonorossi commented on #193
@bluerobotch @Schaeri to narrow things down could you provide the exact version of Moq you are using so we are looking at a single version of Castle Core. Also have you got any other use of Castle DynamicProxy via other mocking libraries or something else?

[2016-07-13 14:05] jonorossi commented on #193
@bluerobotch @Schaeri scratch most of that, I see you've included the Moq version in this issue just not in the Moq issue. The question about other usage is still relevant.

[2016-07-13 15:47] Schaeri commented on #193
Yes we have other usage of castle core inside our project. We need castle core for our WCF infrastructure and to extend our dependency inject framework. This infrastructure is also covered in some unit tests.
Other frameworks and libraries we use doesn’t depend on castle core. Moq ist the only one.

For a test I eliminate our castle core dependency in our project and run our unit test again. The e

[2016-07-13 16:11] jonorossi commented on #193
@Schaeri at the moment I have no idea, just trying to guess things that might be different with your project which is somehow unique with no other reports of this problem.

There might be a defect in DynamicProxy when two ProxyGenerators are used at the same time and this is only surfacing because of how they are set up during unit tests.

Let me know the results of that overnight unit test run, a

[2016-07-13 19:50] jeremymeng commented on #127
@rprouse any ideas about TeamCity's support of reading nunit3 format result file?

[2016-07-13 19:54] rprouse commented on #127
@jeremymeng sorry, I don't know the status of TeamCity supporting the NUnit3 format. @NikolayPianikov can you help?

At work, we use ReportUnit to translate the nunit3 result format to HTML. An option?

[2016-07-13 20:58] Schaeri commented on #193
Unfortunately the error still occurs. Currently I have no clue what we do special that could provoke such an error. @bluerobotch and I will sit together and rethink the situation. Maybe we have an other idea what could be special about our project.

[2016-07-14 01:31] dtchepak opened #203 "Mono: ProxyGeneration fails with ArrayTypeMismatchException"
Hi castleproject!

I just had [an NSubstitute issue](https://github.com/nsubstitute/NSubstitute/issues/240) reported on Mono where the following proxy generation fails:

[code]

The exception is:

[code]

My environment:

[code]

[2016-07-14 05:29] jonorossi commented on #127
I upgraded to TeamCity 9.1.7 last night not longer after I last posted, the nunit3 format didn't work, no tests appeared in TeamCity. The TeamCity docs (https://confluence.jetbrains.com/display/TCD9/NUnit+Support) state support for NUnit 3 but no mention if they achieve that using the nunit2 format which dotnet-test-nunit can't provide.

[2016-07-14 13:00] jonorossi commented on #203
@dtchepak I assume this is with Castle Core 3.3.3, is it the same exception as #81 with a different exception message?

[2016-07-14 13:13] dtchepak commented on #203
@jonorossi: hah, I thought this sounded familiar! Sorry about the dupe, I must have messed up my issue search when looking for similar bug reports.

Do you think 103c9b76796babba35283c5efa01a395cda03560 will make it into a release?

[2016-07-14 13:18] jonorossi commented on #203
@dtchepak No worries, I searched the message first too which came back empty, knowing I'd fixed it tried another search. it is already in v4.0.0-alpha001, it'll obviously go out in 4.0.0.

[2016-07-14 13:27] jonorossi commented on #193
@Schaeri no worries, at least it narrows it down by exclusion. Unfortunately I'm pretty swamped at the moment otherwise I'd have accepted your request for a remote session. I assume since you have been looking at this since February you have a workaround, maybe running your tests without parallelisation?

[2016-07-14 13:32] rprouse commented on #127
@jonorossi it sounds like you are running into the issue that TeamCity added custom code to the NUnit console to emit events that TeamCity subscribes to. In retrospect, we felt it might have been a mistake to allow custom code for one CI system when all the others do not need it. All of the other CI systems run the tests, emit console output to track progress, then either pass/fail based on the re

[2016-07-14 13:45] jonorossi commented on #127
@rprouse thanks for the details, however we've never used JetBrains's NUnit addin or the NUnit --teamcity option, I too don't like developer tools having to implement specific logic for each CI product. We've always used the TeamCity XML Report Processing build feature and just point it at the testresults.xml file (or publish the results with a single TC service message), which is why I had to add

[2016-07-14 13:48] jonorossi commented on #127
@rprouse I should also add that this issue has all sorts of strange comments about using different things to my previous comment, I've just been throwing everything at the wall to see what sticks to get things to work, and tried the NUnit TeamCity addin at one point before finding `;format=nunit2`.

[2016-07-14 13:51] rprouse commented on #127
@jonorossi thanks for the update. Maybe I should support the nunit2 format in .NET Core. I kind of wish we didn't add that support to NUnit 3 though. A couple years in and all of the tool vendors are still relying on the v2 support :frowning:

[2016-07-14 14:18] jonorossi commented on #127
@rprouse I was surprised TeamCity didn't understand the format too, there were no errors just no tests. Looking at the source code of the XML Reporting Plugin it definitely doesn't support the new format. I couldn't find an issue in their issue tracker, however I didn't look through all the pages.

* https://confluence.jetbrains.com/display/TCD9/XML+Report+Processing
* https://confluence.jetbrains

[2016-07-14 16:16] jonorossi commented on #127
@rprouse @jeremymeng I've implemented manual publishing of the unit test results for .NET Core from the nunit3 format to TeamCity in b6e3993f6974b80af76033eeacaa905afa3ba620, it'll do for us until JetBrains implements support for the nunit3 format.

[2016-07-14 17:02] jonorossi commented on #127
I've removed the shim in #204 so we are all done here.

[2016-07-14 17:02] #127 closed

[2016-07-14 17:16] jonorossi commented on #194
As I've mentioned I would really only want to make this change if there wasn't a workaround on your end because of how heavily we use reflection. Supporting Silverlight's differences was extremely painful, so this would only push us to want to drop .NET 3.5 and 4.0 quicker.

I proposed compiling the unit tests against the non-merged assembly, however it looks like you've gone down another route us

[2016-07-14 17:16] #194 closed

[2016-07-14 18:02] Schaeri commented on #193
No at the moment we haven’t a workaround. When we switched from xunit 1.x to 2.x we did a lot of performance optimizations to run our tests as fast as possible. Execute our tests synchronous means we have to adapt our whole project structure to reach the same build and integrations times.
But yesterday I was able to reproduce one of our issue we have with castle on a very simple example. The attac

[2016-07-14 18:03] thomaslevesque commented on #194
@jonorossi no problem, we should be able to work around the issue.

[2016-07-14 19:10] blairconrad commented on #194
Thanks for entertaining the idea, and your continued help, @jonorossi.

[2016-07-15 12:24] jonorossi commented on #193
@Schaeri great to hear you've been able to put together a repro. I've had it running now on my Windows VM for just over 8 hours and it hasn't failed. I'll run another few copies to try to push it to fail. What is your machine and build server set up, i.e. how many CPUs, are they virtualised.

[2016-07-15 12:39] jonorossi commented on #193
@Schaeri could you also let me know what version of the .NET Framework you are running. Follow [this page](https://msdn.microsoft.com/en-us/library/hh925568(v=vs.110).aspx) to find out exactly. My version is 4.6.1 for non-Win10 (394271).

[2016-07-15 13:11] jonorossi commented on #193
@Schaeri just got a BadImageFormatException! Different message which definitely indicates something screwy.

[2016-07-15 20:06] Schaeri commented on #193
Currently we run our tests in a loop on our developer notebooks for analyze the issue and for increasing the chance for getting the error. Intel i7 with 4 cores with hyper threading. The OS is a windows 7 64 bit and the .net framework is 4.6.1 (394271). The errors on our developer notebooks and build servers seams the same. But our build agents running on VMware vSphere 5.5 on Intel Xeon CPUs. The

[2016-07-17 17:26] jonorossi opened #206 "Assembly Version Info does not propagate into output artifacts for release builds"
Running the TeamCity "Pack" build configuration as a release build with a version and version suffix won't cause dependencies to be rebuilt with that configuration.

* All assemblies are still 0.0.0.0
* The copyright year isn't populated in assemblies

This must be fixed before v4.0 final.

[2016-07-18 06:24] jonorossi commented on #206
@blairconrad @jeremymeng not sure how we missed this when we made the changes to versioning and packaging. I'm not sure how to fix this, TeamCity does have an option to on the "run custom" build dialog for "rebuild all snapshot dependencies transitively", however I don't think it'll pass parameters into the dependencies.

Thoughts?

[2016-07-18 10:30] blairconrad commented on #206
This sounds bad. @jonorossi, I forget the setup for the build. Lemme run off and refresh myself.

[2016-07-18 10:39] blairconrad commented on #206
@jonorossi, perhaps I'm naive, but would running Set-Version before each build on the TeamCity server do the trick?

[2016-07-18 10:45] blairconrad commented on #206
I think I _am_ naive, as `Set-VersionInfo` appears to be the first step in all the builds.

Except for 4.5, for which `Set-VersionInfo` is the _second_ step.

Oh, and Mono. Which I think is only for tests. Although I've never fully understood this.

[2016-07-18 10:52] blairconrad commented on #206
I think that's the problem, @jonorossi. Check out this from the 4.0-beta001 build:

![image](https://cloud.githubusercontent.com/assets/3275797/16912768/26939e82-4cb4-11e6-9c5a-499ed72989cc.png)

I'm going to use my initiative and reorder the build steps for 4.5. You can thank me or tell me off after! :-)

[2016-07-18 11:10] blairconrad commented on #206
Okay. So if the `Settings.proj` is edited, any Pack will generate a nupkg with good values.

I suppose, though, if we change the `$version_suffix` or `$release_build` and then just run Pack, it won't rebuild all the libs. (Unless TeamCity will rebuild when we change the environment vars - this is not something I know offhand.)

If this is a concern, we could edit the Pack configuration so it will

[2016-07-18 11:24] blairconrad commented on #206
In case you're curious, after rearranging the steps, then building 4.5 and then running Pack, I get this from the nupkg in the artifacts:

![image](https://cloud.githubusercontent.com/assets/3275797/16913479/a7aee1b2-4cb8-11e6-994a-83e122ba26c0.png)

[2016-07-18 11:38] jonorossi commented on #206
Oops, yep it was meant to be first. I manually added that step to each configuration before merging the netcore branch, thanks for fixing that.

Copyright is sorted, but the version is still a problem. e.g. this is what the build will get because each build configuration doesn't rebuild.

[code]

I'll see if we can get parameters to pass through the build chain.

[2016-07-18 11:38] jonorossi commented on #206
@blairconrad sorry for the errors in my issue description, I logged this issue at 3.30am.

[2016-07-18 11:46] blairconrad commented on #206
I don't quite follow. Right now, the `Pack` won't trigger a rebuild if the source hasn't changed, so we'll keep the `[assembly: AssemblyInformationalVersion("4.0.0-ci02340")]` attribute when the nupkg is built (and technically the year could be wrong too, if we build the lib in 2016 and the nupkg in 2017).

If we toggle "Do not run new build if there is a suitable one", then the DLLs will be regen

[2016-07-18 12:00] jonorossi commented on #206
The Pack configuration has other properties defined which don't seem needed, only `release_build` and `version_suffix` are used.

It [looks like TeamCity can do what we want](https://confluence.jetbrains.com/display/TCD9/Predefined+Build+Parameters#PredefinedBuildParameters-OverridingDependenciesProperties), you define `reverse.dep.*.<property name>` or `reverse.dep.<btID>.<property name>` to over

[2016-07-18 12:01] jonorossi commented on #206
Nope, see my previous comment about why it won't get the environment's properties because they are only set further along the build chain at the moment.

[2016-07-18 12:12] blairconrad commented on #206
Ah. No. I still don't get it. Perhaps I'm slow. If `Pack` always forces a new build of (say) 4.5, then will 4.5 not be built with the current…

I just got it! There's no `version_suffix` or `release_build` property on the libraries. You're going to use the fancy [Overriding Dependencies Properties](https://confluence.jetbrains.com/display/TCD9/Predefined+Build+Parameters#PredefinedBuildParameters-

[2016-07-18 12:18] jonorossi commented on #206
@blairconrad exactly, well that's the plan. Now to work out how to mix configuration parameters and environment variables without making it a confusing mess.

[2016-07-18 12:31] blairconrad commented on #206
Not suggesting a change, but as an aside … I've always favoured just slamming the versions (including pre-release markers, if any) in the code. That would avoid this problem. On the other hand, sometimes people find the friction of committing `-beta` change to be too much. Which I can also understand.

[2016-07-18 12:33] jonorossi commented on #206
@blairconrad I'd actually prefer to actually pull the version out of code completely. Maybe I'm a purist but it is called a "version control" system for a reason, the version should be derived from the Git tag, however I'm not going down that path just yet as the tooling is very messy here, so much history.

[2016-07-18 12:35] jonorossi commented on #206
I've found an even easier way to do these parameters, meet [Project Level Build Parameters](https://confluence.jetbrains.com/display/TCD9/Project+and+Agent+Level+Build+Parameters) which each build configuration will inherit. Running a test build now.

[2016-07-18 12:36] blairconrad commented on #206
That sounds great! Although it's not clear to me that a changed project level parameter will force the rebuild of the libs when you build Pack. I guess you'll find out!

[2016-07-18 12:39] blairconrad commented on #206
About versions, and this is not really the place for this conversation, getting the version from the Git tag is just a kind of getting it from the code. They both depend on permanent changes being shoved into the VCS somehow. For me, I've always preferred the explicitness of these things living in files (instead of Git tags or SVN properties or similar) because they are more visible, the people I'

[2016-07-18 12:39] jonorossi commented on #206
@blairconrad it does, TeamCity keeps track of what build parameters are used for each build, if a snapshot dependency doesn't have the same parameters it'll have to rebuild it. I've also updated the descriptions and UI a bit for the custom parameters so the custom run build dialog is a bit easier to follow.

[2016-07-18 12:46] blairconrad commented on #206
Very fancy. I'm glad it's working out. Sorry about the deficiency.

[2016-07-18 12:47] jonorossi commented on #206
No problem at all. My view on this is that every commit causes the version to change, i.e. the current HEAD of master isn't 4.0.0-beta001 it is already further along after that version so having a file in the repo that tells you that is the version of the code is sort of wrong, just as switching your version file to 4.0.0 way before making a 4.0.0 release is. Also from the purist perspective, if y

[2016-07-18 13:01] blairconrad commented on #206
It's true. Then again, if there are too many external factors that touch the build, I lose confidence in the Git refs!

So many competing factors.

[2016-07-18 15:23] jonorossi commented on #206
Fixed. With a bit of playing around I worked out that I could set the environment variables to resolve to `reverse.dep.*.<property name>` new configuration parameters and make the environment variables hidden fields and the configuration parameters the visible ones. It is a bit strange underneath but it all comes out right in the builds. These reverse.dep build parameters are a bit strange at time

[2016-07-18 15:23] #206 closed

[2016-07-18 15:29] blairconrad commented on #206
Glad it's fixed. Sad about the playing around and strangeness.
Good luck!

[2016-07-18 15:34] jonorossi commented on #206
@blairconrad thanks for the assist

[2016-07-21 21:20] chrislarabell opened #207 "Set-VersionInfo.ps1 Not Invoked"
When trying to add the pre-release to a project, I received this error:

Assembly 'Castle.Facilities.Logging' with identity 'Castle.Facilities.Logging, Version=3.3.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc' uses 'Castle.Core, Version=3.3.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc' which has a higher version than referenced assembly 'Castle.Core' with identity 'Castle.Core, V

[2016-07-21 21:30] chrislarabell commented on #207
Added change to build script #208

[2016-07-22 02:44] jonorossi commented on #207
@chrislarabell thanks, however this has already been fixed in #206.

We don't want `build.cmd` running `Set-VersionInfo.ps1` because it modifies source files which developers shouldn't commit and would just get annoying, this script is run by our CI server, it just happened I stuffed up the .NET 4.5 TeamCity configuration when setting it up after merging the .NET Core branch.

[2016-07-22 02:44] #207 closed

[2016-07-22 12:40] #111 closed

[2016-07-22 13:57] jonorossi commented on #79
I merged my `mono-support` branches a year ago and things are in a pretty good state, however there are still some known issues. I'm closing this issue as there isn't anymore to do at an overall level.

[2016-07-22 13:57] #79 closed

[2016-07-22 14:33] jonorossi commented on #72
Moving this issue out of v4.0.

[2016-07-22 15:06] jonorossi commented on #94
Moving this issue out of v4.0, there are still a bunch of failing unit tests when running on Mono because of differences in runtime behaviour or BCL implementation.

[2016-07-22 15:19] jonorossi commented on #163
We still have too many Mono problems left that it isn't worth documenting the known defects. Closing this but will add a link to the README to open issues.

[2016-07-22 15:19] #163 closed

[2016-07-22 15:36] #203 closed

[2016-07-22 15:48] jonorossi commented on #179
@heaths any chance you could provide a unit test using only DynamicProxy (without Moq or JSON.NET)?

[2016-07-22 15:50] jonorossi commented on #121
@drieseng have you had a chance to read my last comment with some further questions?

[2016-07-22 15:54] jonorossi commented on #112
@jeusdi I don't have enough information to investigate your issue, any chance you could update your issue with a runnable example?

[2016-07-22 16:04] jonorossi commented on #93
@floydpink any interest in looking at Xamarin Studio anymore?

[2016-07-22 16:06] jonorossi commented on #80
Let us know if `IProxyGenerationHook` doesn't fulfil your requirements, closing.

[2016-07-22 16:06] #80 closed

[2016-07-22 16:08] jonorossi commented on #68
We've had no real demand for this so I'm going to close this for now.

[2016-07-22 16:08] #68 closed

[2016-07-22 16:10] jonorossi commented on #63
I'm going to close this issue for now as it has stalled and this request is very specialised. Jump back in if this is still something you want to look at.

[2016-07-22 16:10] #63 closed

[2016-07-22 16:12] jonorossi commented on #59
If this is something that still interests you let us know, but since this has stalled and been inactive since early 2014 I'm going to close it for now.

[2016-07-22 16:12] #59 closed

[2016-07-22 16:16] jonorossi commented on #46
@dalefrancis88 do you still have any interest in the `SmtpClient`? Did you end up joining us in Australia?

[2016-07-22 16:31] jonorossi commented on #135
@igatanasov have you had a chance to try out our beta that supports `netstandard1.3` on Xamarin.Android?

[2016-07-22 17:33] #142 closed

[2016-07-22 17:33] jonorossi commented on #142
@IanYates I'd be great if you could review the Serilog integration now after I've reworked it to see if there are any other problems.

[2016-07-23 01:47] floydpink commented on #93
@jonorossi The project where I ran into the DP issues on has been dormant for quite a while because I haven't been getting any time. If I do find time to figure out something useful I would definitely post here

[2016-07-23 01:58] jonorossi commented on #93
@floydpink thanks. I'll close the issue for now until we've got some more concrete info on what is needed since there isn't much demand for it, feel free to reopen it when you get some time for that project.

[2016-07-23 01:58] #93 closed

[2016-07-25 11:38] dalefrancis88 commented on #46
I did, I am in Melbourne now. Will check this out tomorrow.

[2016-07-26 04:01] jonorossi commented on #200
New main issue for .NET Core support in NLog: https://github.com/NLog/NLog/issues/1559

[2016-07-26 14:56] mfidemraizer opened #213 "Can a Castle Dynamic generated proxy be forced to implement members as explicit interface implementations?"
Hi!

I've a very simple question which I don't know if it has an easy answer, but let's see.

For example, let's say I've defined an interface as follows:

    public interface IWhatever
    {
         string Text { get; set; }
    }

And I implement it in a mixin:

    public class WhateverMixin : IWhatever
    {
         string IWhatever.Text { get; set; }
    }

When I build a proxy of somethin

[2016-07-29 12:32] Schaeri commented on #193
@jonorossi we saw that you have labeled our issue as bug. Can we somehow contribute to help resolving the bug? And again, we appreciate your help and fast response.

[2016-07-30 14:23] jonorossi commented on #193
@Schaeri I haven't actually confirmed it is a bug in DP rather than the .NET runtime (i.e. still don't know what causes it), however I could reproduce it. The next week for me is going to be busy so I won't be able to look into it, we need to get to the bottom of the problem obviously before we can fix it.

[2016-08-01 09:44] davideforgione opened #214 "File version set to 0.0.0"
Using nuget package i have this:

Assembly 'Castle.Windsor' with identity 'Castle.Windsor, Version=3.3.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc' uses 'Castle.Core, Version=3.3.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc'
which has a higher version than referenced assembly 'Castle.Core' with identity 'Castle.Core, Version=0.0.0.0, Culture=neutral, PublicKeyToken=407dd0808d44f

[2016-08-01 10:32] davideforgione commented on #214
Added [assembly: SecurityTransparent()] to CommonAssemblyInfo.cs too to make it work with Castle.Windsor

[2016-08-01 13:37] jonorossi commented on #214
I accidentally released 4.0.0-beta001 with version number of the .NET 4.5 assembly not set, it has been fixed in #206 but another package hasn't been released.

[2016-08-02 05:32] dalefrancis88 commented on #46
Hey guys, checked this out a bit but feel bad since i've blown you off a bit, i am not sure if i am going to have the time to check this out in real detail

[2016-08-02 06:02] jonorossi commented on #46
@dalefrancis88 no problem, just trying been trying to chase up whether logged issues are actually affecting people and clean out our issues. Were you ever getting the same `WebException` as the OP or just looked at this task to contribute?

[2016-08-02 06:42] dalefrancis88 commented on #46
Was just looking to contribute, i chatted to @kkozmic about a year ago saying that I wanted to contribute where i could and to help build up CW. I use it a lot and wanted to try to help where i could

[2016-08-02 08:02] jonorossi commented on #46
@dalefrancis88 feel free to jump on other issues, we definitely need someone to help out with Windsor.

I think we should just close this issue since there has only been one report many years ago, it isn't clear what the actual problem even is, and this class is very rarely if ever used by users. The value for money just isn't there, if we get another report of this affecting someone we'll reopen.

[2016-08-02 08:02] #46 closed

[2016-08-02 08:24] jonorossi commented on #213
@mfidemraizer As answered on StackOverflow, DynamicProxy does not currently provide this ability. We do have other support for explicitly implemented members, but obviously not with mixins.

Closing as this issue is written as a question, not a feature request.

[2016-08-02 08:24] #213 closed

[2016-08-02 09:39] mfidemraizer commented on #213
@jonorossi And two simple questions:

a) It would be very hard to implement this feature on mixins? I could contribute it, but if it would require an big refactor, I wouldn't do it because it could introduce breaking changes...

b) What's the other support for explicitly implemented members during proxy generation?

Thank you in advance

[2016-08-02 14:47] jonorossi commented on #213
@mfidemraizer to be honest I'm not sure, but I don't think it would require a big refactor.

We currently handle explicitly implemented interfaces on class proxies and interface proxies with a target, mixins aren't that commonly used. See [ExplicitInterfaceTestCase.cs]( https://github.com/castleproject/Core/blob/5ddeb0df48615d725531a506c61905188e0d0d70/src/Castle.Core.Tests/DynamicProxy.Tests/Expl

[2016-08-02 15:53] mfidemraizer commented on #213
@jonorossi Thanks for the info.

I'll take a look at the test cases and see if it can solve my issue in my project. If not, I'll consider checking how would I provide the whole feature on DynamicProxy and I'll see if I'm able to implement it because I'll have to study hard the code :)

Well, thank you again!

[2016-08-03 21:55] tmm360 opened #215 "Use IProxyGenerator interface for Dependency Injection"
Can you add an interface IProxyGenerator to the ProxyGenerator class?

I'm building a DI compliant service, and this should help me, instead of statically link the class with `new ProxyGenerator()`, or create a wrapper to inject that does the same. Thank you.

[2016-08-04 16:05] saitonakamura opened #216 "Null is not a valid constant value for this type in method with nullable optional parameters"
When trying to intercept a call to method that has optional parameter with `Nullable<T>` and `null` default value, it throws Exception `Null is not a valid constant value for this type`
Found a gist that illustrates the issue [https://gist.github.com/pawelpabich/7371055](https://gist.github.com/pawelpabich/7371055)

I'm using `Castle.Core` package version `3.2.1`

[2016-08-04 16:14] jonorossi commented on #216
@saitonakamura I'm pretty sure this is fixed in 4.0.0, we've had other bug reports with optional parameters which we've fixed. Could you give your example code a try with it.

[2016-08-04 16:14] #216 closed

[2016-08-04 16:22] jonorossi commented on #216
@saitonakamura this specific issue was fixed (17c1596b1e7f547eaa15479ada0b793a306ab991) in 3.2.2 (the only change in that release and released late 2013), however we've changed the handling of optional parameters completely in 4.0.0. You should be fine to just update to a newer 3.x release.

[2016-08-05 11:58] jonorossi commented on #215
@tmm360 most people are likely to wrap the `ProxyGenerator` in their own class that does a bunch of other stuff, however I can't think of a reason we shouldn't have an interface so you can do this. Just make sure you make it an application-wide singleton so you only get a single `ModuleScope`.

I've added the interface in #217, it'll be released in 4.0.0.

[2016-08-05 11:58] #215 closed

[2016-08-23 04:49] malachib commented on #135
I tried it out on Xamarin.Android and it was a bit gruesome with all the doubling-up of framework assemblies, but I bet there's a way around that... I think you can specify platform as a framework?

[2016-09-18 04:46] maxim-boligatov opened #218 "DynamicProxyGenAssembly2 hardcoded name"
Is it possible to make the name "DynamicProxyGenAssembly2" configurable in some way?
As I can see for now it is hardcoded in source code...
But I have to specify this attribute in assemblies containing business logic.
So it will be good option to control the name (be able to change it).

P.S. I am using mocking frameworks based on Castle (for example NSubstitute).

[2016-09-18 07:46] jonorossi commented on #218
@maxim-boligatov the default is hardcoded, if you create your own `ModuleScope` you should be able to specified it as [we do in our unit tests](https://github.com/castleproject/Core/blob/2acd42b27e3fae643f203d9a3ee1cfdb3a7e7bfd/src/Castle.Core.Tests/ModuleScopeTestCase.cs#L336-L345), however it isn't something I've seen any consumers actually do. This obviously would mean you'd have to maintain yo

[2016-09-18 07:46] #218 closed

[2016-10-12 00:40] thomaslevesque commented on #77
I just looked at the fix for this in #78, and I don't think it actually works. As noted by @blairconrad in https://github.com/FakeItEasy/FakeItEasy/issues/437#issuecomment-252946895, it *seems* to work, but only because in the unit tests, the `ProxyGenerationOptions` are created using the same instances of `CustomAttributeBuilder`, not distinct identical instances. `CustomAttributeBuilder` doesn't

[2016-10-12 00:46] thomaslevesque commented on #77
I think there's a way to fix it, but it would involve a change in the Castle.Core API (not necessarily a big issue since it's a major release anyway): instead of using `CustomAttributeBuilder` directly to specify additional attributes, use a custom type that implements equality properly and can be converted to a `CustomAttributeBuilder`.

[2016-10-12 01:24] jonorossi commented on #77
Thanks @thomaslevesque, I'm happy to entertain the idea of a Castle specific immutable type to add custom attributes and emulate `CustomAttributeBuilder`. Were you thinking it would have 4 constructors to match `CustomAttributeBuilder` and would new up a `CustomAttributeBuilder` in its constructor so that any bad set up would throw from the `CustomAttributeBuilder` code?

It is probably worthwhile

[2016-10-12 01:32] jonorossi commented on #160
This fix is included in Mono 4.6.0 that was released last month, will upgrade our CI server and retest.

[2016-10-12 01:34] blairconrad commented on #77
@jonorossi, thanks for the speedy response!

Probably you'd want to ignore the `AdditionalAttributes` property as v3 does, or run the risk of bloating the type cache. Besides, if people have been content with the current behaviour, it won't bother them. I doubt anyone _relies_ on the different sets of additional attributes not being applied, but just in case, keeping the old behaviour lessens the

[2016-10-12 01:37] jonorossi commented on #77
Thanks @blairconrad, that's exactly the thought process I had.

[2016-10-12 01:45] jonorossi commented on #200
The NLog guys have gone quiet since July so it might be time to drop NLog 4.4 beta support with .NET Core support from Castle Core 4.0 and revert back to NLog 4.3.x. It'll unblock us from not being able to release a 4.0 final.

Thoughts?

[2016-10-12 12:02] thomaslevesque commented on #77
Yes, unless you have a better idea in mind. The `CustomAttributeBuilder` API isn't terribly convenient IMO, so maybe I'll try something different.

I guess it would make things easier for users of older versions, but that means the name `AdditionalAttributes` isn't available and we have to come up with something else. Ideally, I'd rather replace the current property completely. It would be a break

[2016-10-13 17:29] cmerat commented on #77
Great idea @thomaslevesque.

During my initial implementation, I did notice that CustomAttributeBuilder only has a default Equals implementation which would cause distinct instances with the same values to not match as equal even though they are functionally equivalent. The initial objective however was to simply take the attribute into account for the type cache. You are right that the side-effec

[2016-10-18 11:42] nil4 commented on #214
Are there any plans to release a new version that fixes this issue? It's been a few months now without an update.

[2016-10-18 11:51] jonorossi commented on #214
I didn't think this was blocking anyone because I suspect Windsor 3.3.x probably isn't compatible with this version anyway, so didn't bother, didn't even know @AndriySvyryd thumbs up the issue either until now.

I'll get another package out in the next day.

[2016-10-19 11:20] cyanite opened #220 "DynamicProxy: ParameterBuilder.SetConstant doesn't completely support C#, leading to exceptions"
Microsoft's `System.Reflection.Emit.ParameterBuilder.SetConstant` method, used when defining methods with parameters with default values in `Castle.DynamicProxy.Generators.Emitters.MethodEmitter.DefineParameters` unfortunately (and inexplicably) doesn't support the full C#-standard with respect to what kinds of default parameters and expressions are allowed. This results in an exception from the f

[2016-10-19 11:38] jonorossi commented on #220
@cyanite yep, we've run into various problems with SetConstant in the 2 years. We worked around the problems with decimal in #87, then decided to completely remove optional parameters in #141. These changes are in v4.0.

[2016-10-19 11:38] #220 closed

[2016-10-21 14:32] jonorossi commented on #160
I've upgraded our Linux build server to Mono 4.6.1, and fixed a build script problem with the new XBuild and some warnings in b20896812651887294184c09dee8d824e6179c46. These unit tests are now passing.

[2016-10-21 14:32] #160 closed

[2016-10-21 15:15] nil4 commented on #214
@jonorossi the issue I'm seeing is due to [Moq 4.6.38-alpha](https://www.nuget.org/packages/Moq/4.6.38-alpha) that has dependencies on v3.3.3 for .NETFramework4.5 but v4.0.0-beta001 on .NETStandard1.3. As a result, when running tests for .NETFramework, I get this error:

[code]

In contrast, [Moq 4.6.36-alpha](https://www.nuget.org/packages/Moq/4.6.36-alpha) depends on v4.0.0-beta001 in both frame

[2016-10-21 15:47] jonorossi commented on #214
Oh, I had no idea the Moq guys changed to have different version ranges between targets. Sorry for the delay, trying to get #219 into the next release too.

[2016-10-23 09:58] #214 closed

[2016-10-27 08:30] #77 closed

[2016-10-27 17:01] jonorossi commented on #214
Thanks for your patience, I've just released 4.0.0-beta002 with this change.
http://www.castleproject.org/blog/2016/10/28/core-4-0-0-beta002-release/

[2016-10-27 21:41] nil4 commented on #214
@jonorossi much appreciated! Explicitly adding this version to my test project.json forced Moq to use it and resolved the issue I was seeing.

[2016-11-14 16:18] jonorossi commented on #200
Looks like NLog guys have bumped their betas support .NET Standard from 4.4.x to 5.0.x.

[2016-11-14 21:09] thomaslevesque opened #222 "CustomAttributeInfo.FromExpression doesn't work in VB.NET"
In the process of integrating 4.0.0-beta002 in FakeItEasy, I realized that the new expression-based API for custom attributes didn't work in VB.NET.

In C#, the body of the lambda expression `() => new MyAttribute()` is just a `NewExpression`, but the equivalent VB.NET lambda expression `Function() New MyAttribute()` introduces a conversion to `Attribute` (i.e. `Convert(NewExpression, Attribute)`)

[2016-11-15 09:51] #222 closed

[2016-12-07 21:22] mtraudt commented on #201
There is now a version of log4net (2.0.6) that targets netstandard1.3: https://www.nuget.org/packages/log4net-core-preview/

[2016-12-08 04:14] jonorossi commented on #201
@mtraudt that package looks to be published by a third party and is not supported by the upstream project.

[2016-12-12 16:03] atodd-geoplan opened #224 "v4 Beta 2 issue creating a container"
I have been forced down the path of updating to the beta 2 of Castle.Core 4 in order to keep using the latest version of Serilog in an asp net core project.

Seems to be a big problem simply creating a new container. Any ideas?

`var container = new WindsorContainer();`

[2016-12-12 17:38] jonorossi commented on #224
@atodd-geoplan no testing has been done to determine if Windsor 3.x is compatible with Castle Core 4.x, so it very likely doesn't work. Could you provide the full exception details as I don't see any mention of Castle Core in that stack trace.

[2016-12-28 01:08] pichardoJ opened #225 ".Net Standard 1.6"
Is there any support for .Net Standard 1.6? If not, is it a milestone?

[2016-12-28 01:12] #225 closed

[2017-01-03 21:10] iluzyanin commented on #201
The official package with .Net core support is there now: https://www.nuget.org/packages/log4net/2.0.6

[2017-01-09 09:46] DixonDs commented on #200
Are there any estimates when Castle.Core 4.0 RTM will be released? We have a couple of libraries depended on it, which we keep as prerelease mainly because they have prerelease dependency Castle.Core

[2017-01-09 13:12] jonorossi commented on #200
@DixonDs are you using NLog? This issue is about supporting NLog on .NET Core.

[2017-01-09 13:14] DixonDs commented on #200
@jonorossi Sorry, that was probably a wrong issue to ask that question. I've just got an impression that it is the only outstanding issue that holding Castle.Core 4.0 release. Do you happen to have gitter.im channel?

[2017-01-09 13:21] jonorossi commented on #200
@DixonDs no problem, nope no active chat room. I just added a log4net issue into the milestone too. I've just been swamped for the last few weeks so pull requests on these last two remaining issues would allow me to cut the release.

[2017-01-09 13:26] jonorossi commented on #224
We need to check Windsor before cutting 4.0, and maybe release a new Windsor NuGet package that states it isn't compatible with Castle Core 4.0.

[2017-01-17 11:18] fasterfish opened #226 "Redirecting the log to Nlog"
My testing project uses Nlog as a logger.

How can I redirect TestStack.White messages from Castle.Core to Nlog?

An example of a base class that I use:

[code]

[2017-01-17 14:02] jonorossi commented on #226
This sounds like a question for the White project, however it looks like you tried that without a response (https://github.com/TestStack/White/issues/517). It is best to ask questions like this on StackOverflow.

Guessing from your code snippet, you need to reference `Castle.Services.Logging.NLogIntegration.dll` and set White's `LoggerFactory` property to a new instance of `NLogFactory`.

Here is

[2017-01-17 14:02] #226 closed

[2017-01-17 14:04] jonorossi commented on #226
With that StackOverflow link, ignore the Windsor logging facility info you don't need Windsor for the logging integration.

[2017-01-20 20:44] thomaslevesque commented on #200
Hi @jonorossi, do you plan to release the logging integration packages along with the main library for 4.0? From what I understand, it might be a while before NLog is ready for .NET Core, and none of the integration projects have been migrated to .NET Core yet. It might be a good idea to release Castle.Core 4.0 alone for now, and release the integration packages later. What do you think?

(If I se

[2017-01-21 17:01] jonorossi commented on #200
@thomaslevesque yes, logging integration packages will be released as they have been in the betas. As per my comment on Nov 15th, this issue is only still in the milestone until we revert to a stable NLog for .NET 4.x.

Sorry about not getting the final release out, I kept snoozing Blair's GitHub comment notification email from last month where he said you guys weren't in a rush for it, didn't kno

[2017-01-21 17:05] thomaslevesque commented on #200
@jonorossi thanks! I don't want to rush you, I was just wondering if something was keeping you from releasing.

[2017-01-21 17:09] jonorossi commented on #200
@thomaslevesque no problem, I was hoping to get it done around Christmas. Just have to make the time to sort out the 3 remaining issues and cut the release.

[2017-01-21 19:54] blairconrad commented on #200
You're good folk, @jonorossi.

[2017-01-23 05:44] jonorossi commented on #224
Closing in favour of https://github.com/castleproject/Windsor/issues/161 as this will be resolved by Windsor.

[2017-01-23 05:44] #224 closed

[2017-01-23 16:52] jonorossi opened #227 "Change usages of __MonoCS__ to the NUnit PlatformAttribute"
We currently use the `__MonoCS__` compiler define in unit tests to alter the behaviour of unit tests when run on the Mono runtime, however this define was only meant to indicate the Mono compiler was being used.

With Mono moving to the Roslyn compiler this define will no longer be defined:
https://lists.dot.net/pipermail/mono-devel-list/2017-January/044104.html

We should probably move the remain

[2017-01-24 06:07] jonorossi commented on #200
NLog 4.4.0-beta13 is now unlisted and the 4.4.x line no longer supports .NET Core. I've upgraded to NLog 4.4.1 for the .NET Framework targets.

Removing this issue from our v4.0 milestone.

[2017-01-24 16:49] jonorossi commented on #201
log4net 2.0.7 was released on January 5th to fix the NuGet package dependencies being wrong.

I've attempted to add support for .NET Core with our log4net integration, however I ran into the following problems with the .NET Core build:
- `XmlConfigurator.Configure` and `XmlConfigurator.ConfigureAndWatch` now require a `log4net.Repository.ILoggerRepository`
- `LogManager.GetLogger` needs a reposito

[2017-01-27 21:53] sebastienros opened #230 "Constructor arguments vary by alphabetical order"
When creating a proxy from two instances, the constructor that will be called with the two instances and the `IInterceptor[]` parameters will have its arguments vary alphabetically on the implemented interfaces, and won't match the expected order hence throwing a "couldn't find parameterless constructor" error.

Here is the repro:
[code]

This will throw an exception. Now if you rename `IFoo1` to

[2017-01-29 18:17] stromsky commented on #45
@hikalkan how did you solve this problem? I am experiencing the same problem while using Castle Core 3.3.3.58.

[2017-01-29 18:35] hikalkan commented on #45
I had made default value "" (empty string) instead of null. I'm not sure if it works not, since it was a long time ago.

[2017-01-29 18:53] stromsky commented on #45
Splendid. Works like a charm. Thanks for turbo fast response.

[2017-01-30 13:55] jonorossi commented on #230
Thanks @sebastienros for a detailed report and a pull request.

I don't think this is related to #112 as that incomplete issue makes no mention of using mixins which this defect is in.

[2017-02-10 06:53] zhaojie opened #232 "has a problem on mono"
hi,
on Mono 4.6+  jexus 5.8+  the problem ,

[code]

[2017-02-10 13:28] jonorossi commented on #232
@zhaojie we need much more info to be able to do anything here. What is "jexus 5.8+"? We need something to reproduce the defect, ideally a unit test that could be added to our codebase to test this situation on Mono.

[2017-02-11 11:41] zhaojie commented on #232
@jonorossi  Linux ASP.NET Webserver Jexus 5.8.2  http://www.jexus.org

[2017-02-12 12:51] jonorossi commented on #232
@zhaojie I've reformatted your exception message so it is readable, my guess is that the exception isn't caused by your web server (however web server has no English web site or source code available). You are going to need to isolate things to work out what is causing the problem, it might be caused by `AbpDynamicApiControllerInterceptor` whatever it does, might be a Mono defect, or somewhere els

[2017-02-12 20:13] EdsonF opened #233 "Castle.Core DefaultTypedFactoryComponentSelector Equivalent"
I'm porting a .net 4.5 project over to .net core and I can't find an equivalent in Castle Windsor to DefaultTypedFactoryComponentSelector.

Has a Castle.Core DefaultTypedFactoryComponentSelector Equivalent been added to the framework yet?

[2017-02-13 07:07] jonorossi commented on #233
@EdsonF this is the Castle Core project, not Castle Windsor. Castle Core has never had that class, Windsor's typed factory facility is still part of Windsor. Note though that Windsor doesn't support .NET Core yet, see https://github.com/castleproject/Windsor/issues/145.

[2017-02-13 07:07] #233 closed

[2017-02-16 05:59] fatli opened #234 "dynamic proxy performance,it is too slow?"
use RealProxy,Castle DynamicProxy and a another DynamicProxy(i don't know it's name.like amost use Emit implement dynamic proxy),I compare the use time.castle dynamic proxy ,it's sloweast.
the console output:
this ,Castle DynamicProxy version is lasteast.install from nuget.and i only  Initialize once.

Please enter the loop invoke method count:
100
Not Use Proxy:0
Use Castle.DynamicProxy:128
RealP

[2017-02-16 06:06] jonorossi commented on #234
@fatli you will need to provide more information for any investigation. Please include the actual code for each library you are testing.

[2017-02-16 07:00] fatli commented on #234
@jonorossi

 `     class Program
    {
        #region Init Castle Dynamic Proxy
        static ProxyGenerator proxy = new ProxyGenerator();
        static CDP_Interceptor PInterceptor = new CDP_Interceptor();
        #endregion

        static void Main(string[] args)
        {
            while (true)
            {
                Console.WriteLine("Please enter the loop invoke method count:");

[2017-02-16 07:13] fatli commented on #234
I found  the   "CreateClassProxy " method used a lot of time.

[2017-02-16 15:10] jonorossi commented on #234
In your benchmark your test class (`Test`) inherits `MarshalByRefObject`, this hurts Castle DynamicProxy performance considerably, without that you can see that Castle DynamicProxy compares well with the CLR's built-in limited remoting-based proxying.

I couldn't test your 3rd library as I don't know what it is. I ran 1000 iterations twice to ensure that Castle DynamicProxy had generated its proxy

[2017-02-17 02:20] fatli commented on #234
@jonorossi  Thanks.

[2017-02-17 05:41] #234 closed

[2017-02-21 15:32] jonorossi commented on #232
Closing as cannot reproduce.

[2017-02-21 15:32] #232 closed

[2017-02-25 10:47] fasterfish commented on #226
Thank you. It's help me:
[code]

[2017-03-05 03:09] blairconrad opened #235 "Add method to describe actions needed to intercept inaccessible members"
From https://github.com/FakeItEasy/FakeItEasy/issues/341#issuecomment-283933437, whose text I paraphrase here.

----

In #30, I beefed up the messages generated when we try to proxy a type that's not accessible to DynamicProxyGenAssembly2. I realize that Castle.Core doesn't have a need to generate an exception when a _member_ is inaccessible, but it would be very handy for FakeItEasy (and possibly

[2017-03-05 04:47] jonorossi commented on #235
Not quite, you merged two comments 😄 . Yes it should have gone under the DP namespace because it is a DP thing; when I was talking about `ProxyUtil` I was referring to the idea that we might want a utility function like those public ones for consumer use (maybe something like IsAccessible) that could return a message if it isn't accessible explaining why (i.e. calling the ExceptionMessageBuilder).

[2017-03-05 10:28] blairconrad commented on #235
Bother. As I was heading to bed, I had a nagging feeling that I'd made that mistake. Thanks.

[2017-03-08 02:44] blairconrad commented on #235
Sorry, @jonorossi. I may have confused things in a way even more different than I thought.
`Castle.DynamicProxy.Internal.InternalsUtil.IsAccessible` exists, and is public (in fact, FakeItEasy uses it). If anything's a candidate for deprecation, it's this.
If you like, and it fits the project rules, I can start work on it.

Either way, if it doesn't offend, I'll take your idea of adding an `IsAcces

[2017-03-13 01:45] jonorossi commented on #235
@blairconrad apologies for not getting back to you last week on your proposal, I'll look at your pull request today.

[2017-03-13 02:06] blairconrad commented on #235
No rush or need for apologies, @jonorossi. I appreciate your efforts. In the meantime, I'll rebase, because
![image](https://cloud.githubusercontent.com/assets/3275797/23838853/20665000-0770-11e7-9672-75afa761c1c8.png)

[2017-03-19 09:14] TKul6 opened #238 "Thread safe invocations"
Hello,

I wanted to create an "async shell" for methods to run asynchronously.

I created an **AsyncInterceptor** which look like this:

[code]

Unfortunately, it didn't work. For some reason the interceptor was called much more than once.

By looking at [AbstractInvocation](https://github.com/castleproject/Core/blob/master/src/Castle.Core/DynamicProxy/AbstractInvocation.cs) I saw the Proceed meth

[2017-03-19 09:33] osoykan commented on #238
There is a workaround solution that already implemented. [It might gives an idea.](https://github.com/osoykan/Stove/blob/8de3d1a86c62e41396d5780aa725dacc916a83cd/src/Stove/Domain/Uow/UnitOfWorkInterceptor.cs#L68-L84)

[2017-03-19 09:43] TMaster commented on #238
Unfortunately it won't work for me.
My intercepted methods return void, I just wan't to execute them on a different thread (it is a WCF callback contract and I want to free the WCF thread ASAP). My problem is the invocation.Proceed call itself being unsafe.
I know I can  wrap it in a lock block and solve the issue, However I'll prefer if there is a built in solution for this type of behavior. like

[2017-03-21 10:53] San4es opened #239 "NuGet package has wrong dependency from the "System.ComponentModel.TypeConverter" package"
See [the Castle.Core.nuspec file](https://github.com/castleproject/Core/blob/49cf7e2e937d653824f2b3ff8f7c197ed4fbecff/buildscripts/Castle.Core.nuspec#L23):

    <dependency id="System.ComponentModel.TypeConverter" version="4.0.1" />

The "System.ComponentModel.TypeConverter" package with the 4.0.1 version [does not exist](https://www.nuget.org/stats/packages/System.ComponentModel.TypeConverter?gro

[2017-03-29 23:37] fir3pho3nixx commented on #193
Guys, just an update on what I found when I tried to parallelise the tests for castle core using win10-x64(host install) doing multi framework targeting.

The modulescope class was kicking out errors because of I/O collisions between threads when saving strong named assemblies. The reason is because it uses fixed file names when saving assemblies.

I hacked this locally to do dynamic assembly nami

[2017-03-29 23:58] fir3pho3nixx commented on #238
Considered this: http://stackoverflow.com/questions/12144077/async-await-when-to-return-a-task-vs-void?

[2017-03-30 00:02] fir3pho3nixx commented on #238
This might also help: http://blog.stephencleary.com/2012/02/async-and-await.html

[2017-04-03 06:41] TMaster commented on #238
Thanks for the replay, however I'm not sure It would help me. As I see it the problem lies within the Castle project. When I browsed the source code I saw the **Proceed** method of [AbstractInvocation](https://github.com/castleproject/Core/blob/master/src/Castle.Core/DynamicProxy/AbstractInvocation.cs#L100). inside this method the `currentInterceptorIndex` is increased \ decreased unsafely which c

[2017-04-04 09:06] Schaeri commented on #193
Hello @fir3pho3nixx. Can you attach a patch for your modulescope class fix. I would like to check if this would solve our problem we have. Thanks for the help.

[2017-04-05 15:34] dgandini opened #240 "GetUnproxiedInstance unexpected return when unproxy a modified instance"
`ProxyUtil.GetUnproxiedInstance` returns original instance of a changed object. Is it a bug? Is there any way to unproxy the modified instance?

I create an object instance, "wrap" it in a DynamicProxy and make some changes but I lost them when I call `ProxyUtil.GetUnproxiedInstance`.

Example:
[code]

[2017-04-06 04:10] jonorossi commented on #240
@dgandini I suspect your `Id` property isn't virtual so DynamicProxy isn't generating an override to `Id` (i.e. `get_Id` and `set_Id` underlying methods) in the `proxiedEntity` which results in the changed identifier getting stored in the class proxy.

[2017-04-06 04:15] jonorossi commented on #240
@dgandini your unit test actually seems strange, did you not want the changes to the proxy to pass through to the target? `ProxyUtil.GetUnproxiedInstance` is designed to return the target.

[2017-04-06 23:24] fir3pho3nixx commented on #193
Here is my `monkey patch` for this:

Pull down core source based on the current release. Then replace ModuleScope.cs with this:

[code]

Then add this and this:

[code]

Happy to help here. This made test parallelism pass for me but friend assemblies fail dismally(perhaps an edge case).

[2017-04-09 15:26] jonorossi opened #241 "Move builds from TeamCity to AppVeyor and Travis CI"
These are the build configurations we've currently have in TeamCity with the configuration pulled apart from the set up. It would be great if they all went to using a `build` script rather than calling msbuild/xbuild directly.

I'm not sure exactly what we want to do but it might be time to move Castle Core to the new VS2017 tooling to support .NET Framework and .NET Core, this should hopefully ma

[2017-04-09 15:27] jonorossi commented on #241
@fir3pho3nixx how do you think we should set this up?

[2017-04-10 19:38] fir3pho3nixx commented on #241
Moving over the new tooling is a good idea. It gives you NuGet and AssemblyInfo built into the MsBuild which is really handy. You really don't want to break the old infrastructure whilst moving stuff across. For this I would recommend having two solutions.

 - 'Castle.Core.sln'

 Old TeamCity implementation.

 - 'Castle.Core.Next.sln'

Shiny new AppVeyor(Windows) + TravisCI(MacOS, Ubuntu 14 LTS) v

[2017-04-11 05:03] jonorossi commented on #241
I thought we'd just create a branch and start by deleting the old project files, and leaving master with TeamCity until we are ready to merge everything?

I haven't had a chance to read in detail what the problem is here, but happy to work with you to sort this one out when the problem shows up in the build.

We've only supported Mono on Linux+macOS not on Windows in the past, there was one point

[2017-04-11 10:51] fir3pho3nixx commented on #241
Think the latest dotnet cli has trouble discovering tests for NUnit using their adapter. Moving over to xunit got tests to run easily but admittedly was the long way round. This might not be a problem, lets see how we go.

As for NuGet publishing and GH Tagging, AppVeyor can drive both. For changing the workflow to use tags as opposed to commits would probably need some more cfg listed here(but to

[2017-04-11 13:19] jonorossi commented on #241
I've created the branch `refactor-build`.

Do you have a link to the NUnit problem in their issue tracker?

[2017-04-11 13:29] fir3pho3nixx commented on #241
Stumbled upon: https://github.com/nunit/nunit-console/issues/10
Potentially tracked here: https://github.com/nunit/nunit3-vs-adapter/issues/297

[2017-04-11 20:49] fir3pho3nixx commented on #241
https://github.com/castleproject/Core/pull/242

[2017-04-13 07:33] fir3pho3nixx commented on #241
There are a few issues, with embedded resources. Will fix this next.

[2017-04-13 19:35] fir3pho3nixx commented on #241
Ok, only 5 tests failing for net45. Almost ready to setup the netcoreapp1.1 tests.

Here is my simulated PR: https://github.com/fir3pho3nixx/Core/pull/3

Notice how status checks kicked in for me once I merged all the appveyor stuff into my default branch(master)?

Also noticed appveyor was having issues cloning from GitHub:

It went from this:
https://ci.appveyor.com/project/fir3pho3nixx/core/bui

[2017-04-13 19:42] fir3pho3nixx commented on #241
What I really want your guidance with is this:

https://ci.appveyor.com/project/fir3pho3nixx/core/build/4.0.10

[code]

[2017-04-13 19:51] fir3pho3nixx commented on #241
And quick review of this:

https://github.com/fir3pho3nixx/Core/pull/3

[2017-04-13 19:56] fir3pho3nixx commented on #241
Very close to achieving PR1.

[2017-04-14 01:48] jeremymeng commented on #241
@fir3pho3nixx Awesome work!  Glad to see the rapid progress!

@jonorossi and @fir3pho3nixx please let us (my teammate @alinapopa and me) know if we can help on anything.

[2017-04-14 14:53] fir3pho3nixx commented on #241
Made all the tests pass on appveyor for net45.

Here is my simulated PR: https://github.com/fir3pho3nixx/Core/pull/3

@jeremymeng, @alinapopa would you be willing to start raising PR's on Castle Windsor using the same build technique I am using here in Castle Core? I will jump down from here once I have the tests passing on TravisCI and NuGets publishing using GH Tags.

This would set me up nicely

[2017-04-14 16:47] emgarten commented on #239
The dependency on the non-existent 4.0.1 package causes NuGet restore to float downwards. Each restore will try again to check if 4.0.1 exists on a source since it is the best match.

Restore caches the list of versions from http feeds for 30 minutes, but after that it will again make http requests to each feed looking for the package again.

I'm currently hitting this due to Moq 4.7.1's dependenc

[2017-04-14 17:40] jeremymeng commented on #241
We are happy to.  We should be able to start early next week.

[2017-04-15 06:04] jeremymeng commented on #239
Sorry [my fault](https://github.com/castleproject/Core/commit/799a24e36c23fd8ad3432e7ab23ac61032e53893#diff-b0c4b291114ac2c05230ced36ddaf78c).

@jonorossi I will submit a PR.  Do you have plan to new version on NuGet?

[2017-04-15 10:13] fir3pho3nixx commented on #239
I have upgraded this package in the work I am doing to move all the build infrastructure over the new VS2017 tooling in #241.

Please see: https://github.com/fir3pho3nixx/Core/blob/master/src/Castle.Core/Castle.Core-VS2017.csproj#L26

If we go up to 4.3.0, do you think it will still be a problem?

[2017-04-15 10:38] fir3pho3nixx commented on #193
Will download Castle Problem zip file and start digging around to see if I can replicate this.

[2017-04-15 10:47] Schaeri commented on #193
Thanks for the support. The error is very rar. The test must run for several hours until it will occur.  If you need any help let me know.

[2017-04-16 03:26] jeremymeng commented on #239
No, if there's no plan to release a minor update then this fix is not necessary.

[2017-04-16 06:46] jonorossi commented on #239
No problem, I'm surprised nuget.org doesn't verify that dependencies actually exist.

My plan was to release a minor release with this fix after we've moved over the build process.

[2017-04-16 11:26] jonorossi commented on #241
I've stuffed around for ages trying to get AppVeyor to work with this repo, however GitHub just won't fire any webhooks (after the initial creation one). Webhooks work great on my personal fork, but also don't fire on https://github.com/castleproject/core-fork-for-webhook-test. I've contacted GitHub support to try to get to the bottom of it.

[2017-04-17 14:53] fir3pho3nixx commented on #241
Confirmed. Status checks are working: https://github.com/castleproject/Core/pull/247

[2017-04-17 16:10] fir3pho3nixx commented on #241
To close out PR1, I created a branch that enables build output for all desktop clr framework monikers(net45, net451, net452 etc) and ran the tests in a single nunit console command quite a few times. Every now and then I would hit I/O collisions around 'CastleDynProxy2.dll'. The build mostly passed in my PR for appveyor but locally I was getting these failures every now and then:

1) TearDown Fail

[2017-04-17 16:29] jonorossi commented on #241
I noticed that the output seems to be running the different targets in different directories, it doesn't appear the be the problem I thought you are describing:

- C:\code\Core\src\Castle.Core.Tests\bin\Release\net46\CastleDynProxy2.dll
- C:\code\Core\src\Castle.Core.Tests\bin\Release\net461\CastleDynProxy2.dll

[2017-04-17 18:33] fir3pho3nixx commented on #241
What I find interesting is that even though the framework folders are different and it passes in isolation for each framework on it's own, it should be able to scale up for multiple frameworks using multiple folders. Why would net461 have I/O collisions in it' own folder? Weird right?

[2017-04-18 02:37] jonorossi commented on #241
It [looks like the NUnit guys didn't turn on parallel test execution within the same assembly by default in NUnit 3](https://github.com/nunit/docs/wiki/Parallel-Test-Execution), so it definitely is strange. Have you tried running nunit-console with `--agents=1` to confirm the problem is caused by running multiple assemblies at the same time?

[2017-04-18 14:33] #235 closed

[2017-04-18 19:59] fir3pho3nixx commented on #241
Ran this a fair few times throughout the day on another machine, could not replicate it. Tried it again on same machine that kicked the errors out, all passed. I think what we need here is a brute force long distance test run, something that kicks out a mini dump(or similar), failing test name and some parent process info for when  Castle.DynamicProxy.ModuleScope.SaveAssembly(Boolean strongNamed)

[2017-04-19 08:02] jonorossi commented on #241
Yes, a new issue definitely. It shouldn't hold up the build refactor work.

[2017-04-19 17:53] blairconrad commented on #48
@jonorossi, I think #241 is going to subsume this issue. Shall we close?

[2017-04-20 03:19] jonorossi commented on #48
Yep, closing.

[2017-04-20 03:19] #48 closed

[2017-04-20 21:17] fir3pho3nixx commented on #241
Rather than submit a crazy PR which does not make sense, I opt for discussion.

I am at a point where I can make Castle.Core tests build on dotnet core(targetting netcoreapp1.1 and net462 <- this is arbitrary btw). The good news is that it is entirely possible. The bad news is that all of the build symbols(flags) that are applied in the 'production code' (Castle.Core.dll) have to be applied to the

[2017-04-20 21:38] jeremymeng commented on #241
@fir3pho3nixx what issue are you seeing?  Previously the test project only defines [one additional symbol](https://github.com/castleproject/Core/blob/5a5d9e45f42432e556e2433db051324091787dd0/src/Castle.Core.Tests/project.json#L38).

[2017-04-20 23:09] fir3pho3nixx commented on #241
Thanks @jeremymeng, that does help avoid things like this: https://github.com/fir3pho3nixx/Core/commit/6942119ad991b43e16ea1284bf603e4780c9dadd#diff-9a410267b70c7f94379f9901fae787afR55

Problems are mainly around getting anything using the System.Xml.Xsl namespace to compile. Specifically things like CastleTests.Components.DictionaryAdapter.Xml.Tests.MockXPathFunction. Either I am missing a NuGet

[2017-04-21 07:12] jonorossi commented on #241
I thought you had seen this in project.json for Castle Core 4.0:

    "compile": {
      "exclude": [
        "Components.DictionaryAdapter.Tests/Xml/**/*",
        "log4netIntegration/**/*"
      ]
    }
https://github.com/castleproject/Core/blob/v4.0.0/src/Castle.Core.Tests/project.json#L45-L50

Rather than stuff around forever with the thousands of unit test files for DictionaryAdapter (which I

[2017-04-21 08:44] fir3pho3nixx commented on #241
@jonorossi - Thanks. That confirms that I just need to pursue an exclude strategy for the netcoreapp framework moniker. Wheels are turning again :)

[2017-04-21 13:39] fir3pho3nixx commented on #241
Have tests running now on dotnet core using NUnitLite with the console app method mentioned here: http://www.alteridem.net/2015/11/04/testing-net-core-using-nunit-3/. I still want to do a bit of tidy up before I submit the PR.

Was just wondering if you guys had any reservations with this approach? I tried the test adapters but I think they might be deprecated now and test discovery just does not

[2017-04-21 14:22] jonorossi commented on #241
If that is the only way to get NUnit tests to run with the new tooling on the .NET Core runtime then sure go for it, it doesn't sounds too bad. Do you know if that breaks the ReSharper test runner, or if it still picks up the tests in the executable project?

I agree it does look like the `dotnet-test-xxx` test runners are now obsolete, xUnit.net only published a pre-release `dotnet-xunit` .NET CL

[2017-04-21 15:13] fir3pho3nixx commented on #241
The project only builds via the command line(something I still want to investigate). Once you have it built, you can run the DesktopCLR tests via Resharper on a good day(they do tend to disappear every now and then). For debugging the dotnet core tests, you need to set Castle.Core.Tests as a startup project and hit F5. I can tweak it so you can target fixture/tests without having to run the entire

[2017-04-21 15:29] jonorossi commented on #241
Sounds great, I look forward to taking a look.

Unfortunate to hear the new VS2017 .NET tooling isn't turning out as hoped, project.json really seemed like it was heading in a direction to support multi-targeting well 😞

[2017-04-21 16:59] jeremymeng commented on #241
@jonorossi you had a xunit shim around for a while, would that be an option or too much trouble?

[2017-04-21 17:01] jeremymeng commented on #241
Would changing the Error List filter from `Build + IntelliSense` to `Build Only` help reducing the errors?

[2017-04-21 21:23] fir3pho3nixx commented on #241
** PR3 **

Just submitted PR: https://github.com/castleproject/Core/pull/252

It has rough edges, @jonorossi  I am counting on your fastidious(rigorous, brutal) review here. I have preserved the TeamCity build even though we agreed we would not. I think the status checks are incredibly valuable before merging PR's. Let's take this to master and double up for now.  We can alleviate this for Windsor

[2017-04-21 22:28] ghost opened #253 "Hosting Process "File Lock"'s are causing Dynamic Proxy to fail on win10-x64"
Dynamic proxy uses static assembly names for generation of proxy types. This is very much needed when it comes to strong naming assemblies and declaring friend assemblies.  The trouble is you cannot control what hosting processes(or consumers of Castle DP) do.

A file lock on "CastleDynProxy2.dll" via a test run in Resharper, will cause an I/O collision when running tests via the console.

Is ther

[2017-04-21 22:33] fir3pho3nixx commented on #241
Raised an issue for the weird behaviour I saw earlier. https://github.com/castleproject/Core/issues/253

[2017-04-22 06:09] jonorossi commented on #253
This is only a problem for unit tests because they persist their dynamic assembly to the test working directory so the `peverify` tool can be automatically run over the assembly.

Oh, I thought you said you had this problem also when running on the build server which doesn't have VS or ReSharper.

Does this only occur when you are running unit tests at the same time in both ReSharper and CLI? Or i

[2017-04-22 06:15] jonorossi commented on #241
I wrote that NUnit shim over the xUnit.net library really because I had no option because at the time there was no NUnit library or runner for DNX previews, I really wouldn't want to resurrect that ugly thing if we've got the NUnitLite option. The NUnitLite option isn't too bad, just means you add a single line to your test project in static void Main and convert it to an EXE to become your test r

[2017-04-22 06:20] jonorossi commented on #241
@fir3pho3nixx I thought the plan was to get all the functionality across from TeamCity into AppVeyor/Travis so we could retire TeamCity and do our release from the new scripts, and do that in this branch.

With regards to Travis, I'm more concerned about getting Mono support added than ensuring .NET Core works on it, I'm after a like-for-like with our TeamCity set up to know we haven't regressed f

[2017-04-22 10:10] fir3pho3nixx commented on #253
This might also be a problem in appveyor.

See here: https://ci.appveyor.com/project/fir3pho3nixx/core/build/4.0.37

Errors, Failures and Warnings
1) Failed : Castle.DynamicProxy.Tests.ModuleScopeTestCase
One or more child tests had errors
2) Error : Castle.DynamicProxy.Tests.ModuleScopeTestCase.SaveWithPath
System.IO.IOException : The process cannot access the file 'C:\Users\appveyor\AppData\Loca

[2017-04-22 10:19] fir3pho3nixx commented on #241
Cool, will submit a PR for MONO on TravisCI next. 👍

[2017-04-22 12:07] jonorossi commented on #253
The error with `ModuleScopeTestCase.SaveWithPath` is strange, nothing outside the unit test uses the same temp file name, so either it is blocking itself or there is anti-virus running (which AppVeyor say they don't have).

[code]

[2017-04-22 20:41] mans0954 opened #254 "`System.Net.Mail.SmtpClient' is obsolete"
Hello,

I'm trying to build with mono 4.6.2 on Debian, by running the command:

[code]
This fails with
[code]

[2017-04-23 06:11] jonorossi commented on #254
Our build server has Mono 4.6.1 so I'm not sure why that warning isn't being emitted there. It looks like the Mono team added the `ObsoleteAttribute` to `SmtpClient` in Mono 4.3.2: https://github.com/mono/mono/commit/fa081c5ecd3b21353809d01ac2b08f7281f49ab0.

Happy to take a pull request to wrap `DefaultSmtpSender` with `#pragma warning disable/restore 618`, just add a comment before the disable s

[2017-04-24 19:00] fir3pho3nixx commented on #253
Will pick this up once I have made some more progress on #241

I think I have some idea's.

http://stackoverflow.com/questions/317071/how-do-i-find-out-which-process-is-locking-a-file-using-net

http://stackoverflow.com/questions/1134048/generating-net-crash-dumps-automatically

[2017-04-24 20:06] fir3pho3nixx commented on #241
Kaboom! Lots of little pieces down there :)

https://github.com/dotnet/sdk/issues/335

@jonorossi - Have a look at this. Guys are either upgrading to Mono 4.8 or moving over to standard. What's our next play here?

[2017-04-25 04:30] jonorossi commented on #241
I'm happy for Mono to be upgraded to 4.8, I think that is the path of least resistance. Maybe in the future when the tooling improves we can get our unit tests to the point where everything passes on the Mono runtime, unfortunately some of our unit tests still crash the Mono runtime because of Mono bugs.

[2017-04-25 21:04] fir3pho3nixx commented on #241
Investigated the Mono 4.8 a bit more. Anyone doing it successfully has not got a multi-targeting solution running on VS2017 builds for Linux/Mac.  They are still using VS2015 csproj files which still translates well to the xbuild runner.  MSBuild however are working on getting this going but it simply is not ready yet (https://github.com/Microsoft/msbuild see "mono, returning soon"). Their current

[2017-04-25 21:08] fir3pho3nixx commented on #241
The end game is status checks on PR's and opening this up to the internet. I think we should just go with to 'side-by-side' for now and abandon the cut over. Look forward to your thoughts @jonorossi  ...

[2017-04-25 21:43] jeremymeng commented on #241
[omnisharp-roslyn is using MSBuild from mono 4.8.0](https://github.com/OmniSharp/omnisharp-roslyn/blob/9aa19afbbaf42c1b7fb97960230acb103374beb6/.travis.yml#L21).  Worth taking a look.

[2017-04-25 21:54] fir3pho3nixx commented on #241
Yup, got this idea from here: https://github.com/nunit/nunit-console/pull/205/commits/a000037b2dfa698fc535e22face55bc97a897101

[2017-04-25 22:01] fir3pho3nixx commented on #241
Except I get:

Unhandled Exception:
System.MissingMethodException: Method 'Array.Empty' not found.
  at Microsoft.Build.CommandLine.MSBuildApp.Main () <0x40198d50 + 0x00073> in <filename unknown>:0
[ERROR] FATAL UNHANDLED EXCEPTION: System.MissingMethodException: Method 'Array.Empty' not found.
  at Microsoft.Build.CommandLine.MSBuildApp.Main () <0x40198d50 + 0x00073> in <filename unknown>:0

[2017-04-25 22:13] fir3pho3nixx commented on #241
My CAKE knowledge is also not where it should be BTW.

[2017-04-26 02:24] jonorossi commented on #241
@fir3pho3nixx sounds like we should be able to move Mono to the new project files soon with the results coming from others projects. It is a little annoying keeping that old stuff, but I'm happy for it to stay for another few months if it isn't easy to get going right now.

I'm more interested about the cutover from TeamCity to AppVeyor/Travis, I'd like to shutdown the TeamCity VMs.

As you mentio

[2017-04-26 07:24] fir3pho3nixx commented on #241
Before I give up, let me try and validate some of the problems I am seeing on another machine. Will ping back later today with results.

[2017-04-30 12:22] fir3pho3nixx commented on #241
I tried deconstructing the OmniSharp workflow for getting builds going using mono and found that the cake files for the OmniSharp roslyn project were downloading what appeared to be custom build artifacts for mono from an OmniSharp Azure storage location.

URL Here:

https://github.com/OmniSharp/omnisharp-roslyn/blob/dev/build.json#L6

Downloading Here:

https://github.com/OmniSharp/omnisharp-rosl

[2017-05-01 11:27] jonorossi commented on #241
I definitely agree that monkey patching Mono to get this to work isn't ideal and also a lot of work. We should either:

1. Stop testing on Mono until we can get Mono running again with the new .NET CLI tooling, or
2. Leave the previous generation csproj files in source control just for the Mono build.

I'm leaning towards 2 so that our Mono support doesn't degrade as we make changes, it'll be anno

[2017-05-01 13:34] fir3pho3nixx commented on #241
Option 2 is most tenable for now. I am almost done with the TravisCI build (mono/netcoreapp1.1 for linux using the above mentioned method).

[2017-05-05 13:21] jonorossi commented on #241
@fir3pho3nixx have you seen Rob's most recent post about NUnit support: http://www.alteridem.net/2017/05/04/test-net-core-nunit-vs2017/

[2017-05-05 13:34] fir3pho3nixx commented on #241
Whoa! I have been waiting for this. Will give it a spin this weekend. Thanks @jonorossi ... :1st_place_medal:

[2017-05-05 15:16] fir3pho3nixx commented on #241
@jonorossi - Our VS2017 project structure now runs both netcoreapp1.1 and net461 tests equally on both windows(AppVeyor) and linux(TravisCI). This means are still good for cutting over and deleting all the old build stuff. It took quite a bit of messing around to get there. I will submit a separate PR with Robs alpha stuff separately(it uses NUnitLite at the mo).

Shall I get the NuGets publishing

[2017-05-05 19:51] fir3pho3nixx commented on #241
Yes I have, and when it works across all platforms it is going to be amazing :) It is alpha though, and I found it threw exceptions(Win32Exception) whilst trying to spawn new processes on startup for net461 targets on Linux(netcoreapp1.1 passed though).

Raised an issue here: https://github.com/nunit/nunit3-vs-adapter/issues/324

Look forward to this being released! I can simplify the msbuild quit

[2017-05-06 06:16] jonorossi commented on #241
Sounds good, did you want to create an issue with how you are planning to implement it.

[2017-05-06 10:41] fir3pho3nixx commented on #241
Happy to have the discussion here. We are nearly done.

For fortress merging to master = deploy. Here we are going for a tag/release strategy. We are going to need some setup before we can do this. Look at the fortress appveyor cfg below.

[code]

This behaviour can easily be changed by using https://www.appveyor.com/docs/deployment/#deploy-on-tag-github-and-gitlab-only.

I would need some help fr

[2017-05-09 19:48] fir3pho3nixx commented on #241
Last PR in for NuGet publish. https://github.com/castleproject/Core/pull/259

@jonorossi - Follow my instructions above and let me know how it goes! :)

Before we close out this issue, can we just quickly drop a note for how we want to deal with the legacy build platform? There is significant clean up we could be doing. We just need to weigh up the pros and cons of supporting VS2017--.

[2017-05-09 20:06] fir3pho3nixx commented on #227
After https://github.com/castleproject/Core/issues/241 I would be happy to check this out.

[2017-05-09 20:13] fir3pho3nixx commented on #201
@jonorossi - I can verify this, I ran into the same issues. What are your thoughts on how you want to inject the repository? I cheated with some default repository hack. Would be happy to fish it out and submit a PR for this.

[2017-05-09 20:17] fir3pho3nixx commented on #200
Looks like this one is back in play: https://www.nuget.org/packages/NLog/5.0.0-beta07

Should we jump after: https://github.com/castleproject/Core/issues/241

[2017-05-09 20:20] fir3pho3nixx commented on #193
Just an update on this issue, I raised a new one here: https://github.com/castleproject/Core/issues/253

They could be related or not. Would like to check this out first before I come back to this. Will let you know what the outcome is.

[2017-05-10 04:36] alinapopa commented on #241
[buildscripts\CommonAssemblyInfo.cs](https://github.com/castleproject/Core/blob/master/buildscripts/CommonAssemblyInfo.cs) has some assembly attributes such as `CLSCompliant(true)` that were lost during refactoring and would need to be added

[2017-05-11 17:15] martijnburgers opened #260 "Reason for __interceptors being public?"
Hi there,

We are using dynamic proxies with Automapper a lot and came a cross a issue where Automapper is mapping the `__interceptors` field between two proxies. The reason for this is that Automapper maps every public field by default.

Is there a reason the `IInterceptor[] __interceptors` field on a proxy is public?

I can easily fix this with Automapper itself but just wanted to know if there

[2017-05-11 18:20] Schaeri commented on #193
Thanks for the support. Yes let me know what the outcome is. Or when you have a patch/pre-realease to do further testing.

[2017-05-13 15:43] jonorossi commented on #201
I really can't remember any of it, happy to review a pull request.

[2017-05-13 15:45] jonorossi commented on #200
I think we should wait until the final version so we don't get blocked releasing the next version with a beta version for .NET Framework.

[2017-05-13 16:16] jonorossi commented on #241
@fir3pho3nixx @alinapopa sorry about the delay, I've been a bit busy the last couple of days.

Responding to everything at the moment.

What exactly do you mean, are you concerned that users might not have VS2017 and so won't be able to build the software? I assume VS2017 Community would work in this case since this is an OSS project.

[2017-05-13 16:21] fir3pho3nixx commented on #241
Do we delete everything and remove the VS2017 fluff from the csproj file names? Meaning do we go 100% VS2017?

[2017-05-13 16:26] jonorossi commented on #241
Yes, I'm happy to go all in using the new tooling, really no point beating around the bush since we've nearly got all the old functionality across. Means we also don't have to deal with annoying csproj files that list individual files.

If you are happy, I'm happy.

[2017-05-18 12:52] fir3pho3nixx commented on #241
If it is OK, I am going to start the cleanup process.

[2017-05-18 13:24] jonorossi commented on #241
Go for it.

[2017-05-18 19:19] fir3pho3nixx commented on #241
I have finished the clean up @ https://github.com/castleproject/Core/pull/261

CI on TravisCI and AppVeyor achieved! 👍

[2017-05-22 12:32] fir3pho3nixx commented on #241
Removing APTCA as per : https://github.com/castleproject/Windsor/issues/248

[2017-05-23 19:01] fir3pho3nixx commented on #241
@jonorossi - Just updating the issue with what we found in the PR's.

There is an issue compiling a net35 assembly found here: https://github.com/castleproject/Core/pull/261#issuecomment-303398033

Tracked By: https://github.com/Microsoft/msbuild/issues/1333

In the meantime, I am looking at work arounds to get this going.

[2017-05-23 20:34] fir3pho3nixx commented on #241
By falling back to msbuild I think we have a tidy way of achieving this: https://github.com/castleproject/Core/pull/262

I have added relevant comments.

Also seeing correct framework monikers in the locally built NuGet packages.

![castle-core-package](https://cloud.githubusercontent.com/assets/607402/26375007/37e32a74-3fff-11e7-96ee-79c46d4a5eb4.png)

I ildasm'ed the net35 version and can confir

[2017-05-23 22:22] weitzhandler commented on #41
Can you please add at least support for modern Xamarin PCLs (Profile 44), that target only UWP, Droid and iOS?

[2017-05-24 13:00] jonorossi commented on #41
@weitzhandler as you can see in this thread and others like #162 it hasn't been possible to target UWP for Windows 8.x in the past because of missing `System.Reflection.Emit` APIs we require, however according to the [.NET Platform Standard v1.3](https://docs.microsoft.com/en-us/dotnet/articles/standard/library) docs it is supported on the following:

- Xamarin.iOS 10.0+
- Xamarin.Android 7.0+
- U

[2017-05-25 16:44] jonorossi commented on #241
@fir3pho3nixx I'll have a dig through a diff tomorrow and get this merged if everything looks good. I want to get the last open pull request fixed up before release.

[2017-05-31 18:02] sebastienros opened #264 "Update referenced package versions"
The current Nuget package references System.ComponentModel.TypeConverter **4.0.1** which actually doesn't exist.

From the `project.json` file it should have been `4.1.0` so I can't explain where it's taking this version from.

[2017-06-01 14:53] jonorossi commented on #264
Duplicate of #239, the fix hasn't been released yet.

[2017-06-01 14:53] #264 closed

[2017-06-05 13:40] jonorossi opened #266 "Epic problems with refactor-build branch"
- [x] A bunch of APIs were missing caused by 5 symbols not defined for .NET Framework like they used to be (#265)
- [x] Assemblies didn't used to define the `AssemblyTitleAttribute`, I don't have a problem with it other than it being the same for each assembly which turns out to be wrong since that describes Castle.Core.dll but not the others.
  - `AssemblyTitleAttribute("Castle Project Core, incl

[2017-06-05 13:41] jonorossi commented on #266
@fir3pho3nixx did you want to tackle these ones?

[2017-06-05 19:35] fir3pho3nixx commented on #241
/CC #266

[2017-06-05 19:54] fir3pho3nixx commented on #266
@jonorossi - more than happy to.

`AssemblyTitleAttribute` - will move these down into the constituent projects.

`AssemblyDescriptionAttribute` - you OK for this to be removed?

`0.0.37-nrtymivf` - I don't like this at all. Your tag names conventionally override this anyway using [semver](https://github.com/castleproject/Core/blob/refactor-build/appveyor.yml#L23). So you still have control regard

[2017-06-05 19:55] fir3pho3nixx commented on #266
@jonorossi - Please assign me to this issue.

[2017-06-06 11:34] jonorossi commented on #266
👍

👍

I just wanted Core and Windsor to behave the same, I don't mind which one changes as they'll all get 0.0.x versions unless being tagged.

👍

No problem, much easier to catch these things now.

Maybe don't live in 🇦🇺  then, our internet sucks everyday 😉

I've granted you ✍️  permissions on Core, you can assign the issue to yourself!

[2017-06-06 20:10] fir3pho3nixx commented on #266
Going to edit tasks in this issue before I submit my PR ...

[2017-06-06 21:01] fir3pho3nixx commented on #266
I have trawled through the meta-data for the NuGet packages. The only difference I can see is that we no longer do `summary` and we have an f-ton less dependencies.

![image](https://user-images.githubusercontent.com/607402/26851720-995cf366-4b03-11e7-80f1-e2af699597cf.png)

More review would not hurt. Thanks for checking this.

[2017-06-06 21:13] fir3pho3nixx commented on #266
:south_africa: is worse, was moaning to my sister about having my transitional line with BT @ 2mbps with persistent line reset's every 5-10 minutes and she was telling me that is awesome compared to what they got. Think you guys got some latency in Oz. I am now on fibre. It changed my life :)

[2017-06-07 05:17] jonorossi commented on #266
Heaps less dependencies however we have picked up `NETStandard.Library`. I'll take a deeper look again later today. Thanks heaps for getting this all sorted.

Yep. I complain but it really isn't that bad, no dropouts, hopefully I'll have fibre someday when the NBN gets to us.

[2017-06-07 05:18] jonorossi commented on #266
Love the new issue title 👍

[2017-06-07 18:03] fir3pho3nixx commented on #266
@jonorossi - I looked into the `NETStandard.Library`, it looks like this is a meta package or aggregate package which groups common framework api's together for various framework targets. I think this is why we have seen a reduction in our dependencies. I am going to start digging into the `build-refactor` branch in windsor and rinse and repeat some of the work we have done here.

[2017-06-07 18:51] fir3pho3nixx commented on #266
@jonorossi - I did a clean sweep of Castle Windsor, and I must say it is looking good also the version numbering works exactly the same as it does in core.

It would have been a cock up if we released it in that state :)

[2017-06-07 18:54] fir3pho3nixx commented on #266
You cannot do strike through's in issue titles? Oh well ...

[2017-06-08 08:21] #266 closed

[2017-06-08 15:41] #230 closed

[2017-06-08 15:43] jonorossi commented on #230
Thanks @sebastienros for the pull request, I've made my review comments and merged to master, this will be released in v4.1.

[2017-06-08 15:48] jonorossi commented on #239
Fix is in v4.1.

[2017-06-08 15:48] #239 closed

[2017-06-08 15:49] #241 closed

[2017-06-08 15:49] jonorossi commented on #241
All merged to master, will be in v4.1.

[2017-06-08 15:50] sebastienros commented on #230
OMG sorry, I completely lost track on it. Thanks for fixing it.

[2017-06-08 17:37] fir3pho3nixx commented on #266
Yeay!

[2017-06-08 17:38] fir3pho3nixx commented on #241
Awesome!

[2017-06-10 14:13] stakx commented on #121
@drieseng, @jonorossi, this issue started as being specifically about `ParamArrayAttribute`. The discussion then turned into the more general direction of how attribute replication relates to an attribute's parameters (such as whether it's defined as `AllowMultiple` and/or `Inherited`). I don't think this change of focus will help solve the original issue.

Remember that `ParamArrayAttribute` is a

[2017-06-10 14:38] jonorossi commented on #121
@stakx I agree. See my comment from Feb 26 2016:

It became a discussion because I didn't understand how the proposed change inspecting `AllowMultiple` made sense.

[2017-06-11 07:02] jonorossi commented on #121
Thanks everyone for reporting, discussing and fixing this defect. #270 has been merged and will be released in v4.1 later today.

[2017-06-11 07:02] #121 closed

[2017-06-11 07:08] jonorossi commented on #135
It sounds like our .NET Standard 1.3 build worked for Xamarin.Android a year ago however the tooling wasn't great. I'm going to close this as we can't do much about the .NET tooling, however Microsoft acquiring Xamarin and heaps of work being done on .NET tooling over the last year have hopefully improved this situation.

Please report new specific defects if things don't work for you.

[2017-06-11 07:08] #135 closed

[2017-06-11 07:11] jonorossi commented on #240
@dgandini I'm going to close this issue without those questions answered.

[2017-06-11 07:11] #240 closed

[2017-06-11 07:25] #254 closed

[2017-06-11 07:27] jonorossi commented on #254
@mans0954 strangely I couldn't reproduce this on Mono 4.6.1 but I've added (#271) the pragmas because I suspect we'll get these soon enough when we upgrade.

[2017-06-11 10:27] jonorossi commented on #260
Hi @martijnburgers, I didn't know the answer when you logged this issue and forgot all about it.

The history for why all static and instance fields on proxies are public would probably be a decision from 10+ years ago, but my guess is that it was required to run under partial trust which was common with shared hosting providers of the time.

I was interested to see what unit tests would fail if I

[2017-06-11 10:56] jonorossi opened #272 "Use of APPVEYOR_REPO_TAG_NAME doesn't handle v prefix"
We've named our git tags in the format `v1.2.3` for quite a while, and is the convention git's documentation, git, linux and many others follow to allow you to easily distingish between `v1.0.0` as a tag and `1.0` which might be your 1.0 series branch off 1.0.0.

I'd like to continue doing this, however the new build set up doesn't permit this. `APPVEYOR_REPO_TAG_NAME` is used 5 times in appveyor.

[2017-06-11 10:57] jonorossi commented on #272
Looks like since we are using `Update-AppveyorBuild` we could change over to using `APPVEYOR_BUILD_VERSION` in common.props and strip the "v" in appveyor.yml.

[2017-06-11 11:36] fir3pho3nixx commented on #272
Sorry about this, I would just strip it in the appveyor.yml and it should flow through.

[2017-06-11 11:40] jonorossi commented on #272
See #273.

[2017-06-11 11:47] #272 closed

[2017-06-11 11:47] fir3pho3nixx commented on #272
Will double up your changes on Windsor ... sorry about that.

[2017-06-16 20:22] Jonathan34 opened #275 "Assembly signing not supported"
please delete, wrong project!

[2017-06-17 06:36] jonorossi commented on #275
@Jonathan34 GitHub doesn't allow issues to be deleted, so closing. I hope you get your signing compiler error sorted.

[2017-06-17 06:36] #275 closed

[2017-06-21 13:05] CeeSharper opened #276 "Castle.Core.Internal.CollectionExtensions"
Which version did you guys remove the method below from this class? Was it completely deprecated or was it moved? Came across this by accident after upgrading from 3.3.3 to 4.0. Just curious really.

public static void ForEach<T>(this IEnumerable<T> items, Action<T> action);

[2017-06-21 13:15] jonorossi commented on #276
@CeeSharper it was removed in 4.0.0. The method was only used once in the Castle Core codebase and is in the "internal" namespace, it really shouldn't have ever been public.

https://github.com/castleproject/Core/commit/c3cfe48ec2da0563ff43f01d454e3342a3e8edf6#diff-d844235c0822c38b984cbf2ae547ca58

[2017-06-21 13:17] #276 closed

[2017-06-23 20:16] stakx opened #277 "Proxy creation fails where method parameters carry certain modopt combinations"
I am forwarding issue https://github.com/moq/moq4/issues/244 here as this appears to be a problem with DynamicProxy, not with Moq.

@mvdtom noticed that trying to mock the following C++/CLI interface with Moq will trigger a `TypeLoadException`:

[code]

Moq would create a proxy of this interface as follows (simplified):

[code]

The exception thrown is:

[code]

This probably has to do with C++/CL

[2017-06-23 20:56] fir3pho3nixx commented on #277
Interesting that `const char` has no natural CLI type equivalent. Are you sure this does not need to be marshaled?

[2017-06-23 21:02] stakx commented on #277
No, there are no `marshal` instructions on the parameters.

mvdtom's original code had a method with return type `bool` instead of `void`, which caused a `marshal`... but on the return type.

[2017-06-23 21:08] fir3pho3nixx commented on #277
Only see `signed char` in this, https://msdn.microsoft.com/en-us/library/0wf2yk2k.aspx. Can you post a repro?

[2017-06-23 21:14] stakx commented on #277
That's exactly why the modopts are necessary: to prevent a loss of precision in the type mapping. If C++/CLI simply translated `char` to either `System.Byte` or `System.SByte` without adding the `IsSignUnspecifiedByte`, you couldn't reverse the mapping accurately. Same for `const`, which doesn't really exist in the CTS at all.

I've posted repro instructions above. I guess you want something you c

[2017-06-23 21:22] fir3pho3nixx commented on #277
No problems. I checked our `hand off` using the stacktrace documented in the original issue: https://github.com/moq/moq4/issues/244. What I found interesting was I landed up at this line: https://github.com/castleproject/Core/blob/master/src/Castle.Core/DynamicProxy/Generators/Emitters/MethodEmitter.cs#L171

With a repro, I can debug the chain and determine whether we got it wrong or recommend the

[2017-06-23 21:33] fir3pho3nixx commented on #277
My ideal goal, is that we end up with a test(which I am willing to contribute) that guards you from this down there which we quite frankly could push up for you. This is TL;DR; but check this [issue](https://github.com/Microsoft/vstest/issues/865) out :)

[2017-06-24 00:29] jonorossi commented on #277
We definitely support modopts on the .NET Framework, it's the reason we've got `Rhino.Mocks.CPP.Interfaces.dll` in our unit tests. The only real code we've got handling them is in [`MethodEmitter.SetSignature`](https://github.com/castleproject/Core/blob/v4.1.0/src/Castle.Core/DynamicProxy/Generators/Emitters/MethodEmitter.cs#L171-L192).

A failing unit test would be great, if there is an API in th

[2017-06-24 09:08] stakx commented on #277
@jonorossi: Unfortunately, the Rhino DLL contains only a single interface with a single method having a single parameter with a single modopt (`System.Runtime.CompilerServices.IsLong`), so a different assembly will have to be used.

I am a bit at a loss how to best provide a repro. @fir3pho3nixx, why did you link to the other issue [above](https://github.com/castleproject/Core/issues/277#issuecomm

[2017-06-24 09:25] jonorossi commented on #277
@stakx I'd love it if you were able to replace the existing unit tests currently using `Rhino.Mocks.CPP.Interfaces.dll` with code like you just provided, just include the C++ and IL in a comment so it is clear what the equivalent would be. This type of unit test will get written and never changed so it doesn't need to be pretty, it'll just ensure the scenario doesn't get broken. That Rhino DLL was

[2017-06-24 09:41] stakx commented on #277
@jonorossi: I can attempt this. It might however take me a while to ensure that running several such unit tests wouldn't result in a completely "overloaded" app domain. Ideally, each unit test would generate its own private dynamic assembly and run it through PEVerify (like you do in `BasePEVerifyTestCase`) before using it. That means that lots of assembly files would be written to disk and loaded

[2017-06-24 09:47] jonorossi commented on #277
.NET Core doesn't have the APIs to emit custom modifiers, you'll see the conditional compilation in  MethodEmitter, so none of these unit tests can pass there, maybe with .NET Standard 2.0 we'll get it back though, but don't worry about that.

Maybe just start with a pull request to replace the existing modopt unit tests using the Rhino DLL and we can work through exactly how the assembly generati

[2017-06-24 09:49] stakx commented on #277
Sounds good, will do. :)

[2017-06-24 16:28] fir3pho3nixx commented on #277
I have managed to replicate the issue.

Created a C++/CLI interface and class over here: https://github.com/fir3pho3nixx/Core/blob/modopts-repro/src/Castle.Core.Tests.Cpp/Castle.Core.Tests.Cpp.h

With the corresponding implementation here: https://github.com/fir3pho3nixx/Core/blob/modopts-repro/src/Castle.Core.Tests.Cpp/Castle.Core.Tests.Cpp.cpp

Then wrote 2 tests...

One that proxies the concret

[2017-06-24 17:09] stakx commented on #277
@fir3pho3nixx: I was also just going to submit a second PR containing some failing tests. I've chosen a slightly different approach, namely to generate the test classes dynamically instead of using the C++/CLI compiler. So I'm essentially using `TypeBuilder.DefineMethod` to create methods containing modopts in their signatures. I've also saved the generated assemblies to disk and verified by manua

[2017-06-24 18:31] fir3pho3nixx commented on #277
@stakx - Your approach makes sense from a maintainability approach.

I have done one better, I found out what the problem is. Check this commit https://github.com/fir3pho3nixx/Core/commit/a5ff169964546cc632eaeeb78de01715efdf0c58

Looks like the parameters are being reversed! :)

[2017-06-24 18:35] stakx commented on #277
@fir3pho3nixx: Awesome find! I noticed the same thing in my unit tests when I had to replace `CollectionAssert.AreEqual` with `CollectionAssert.AreEquivalent`, but I didn't realise that this would be the error!

[2017-06-24 18:41] fir3pho3nixx commented on #277
@stakx - Look forward to the PR :)

[2017-06-24 18:47] stakx commented on #277
Can do. Also, it probably wouldn't hurt to add more tests for required modifiers (modreq) and for modifiers as applied to the return type of a method.

[2017-06-24 18:50] fir3pho3nixx commented on #277
Yes, please. Make sure you use more than one modifier, this is what caught us out.

[2017-06-24 19:00] stakx commented on #277
Will do! 👍 (And before you ask, I'll also make sure to use palindrome sequences. :-D)

[2017-06-24 19:52] fir3pho3nixx commented on #277
Merge them. We know what the issue was.

[2017-06-24 21:11] stakx commented on #277
OK, all done. Let me know if the PR needs any modifications.

[2017-06-25 14:26] stakx commented on #62
@kkozmic, my current PR #278 apparently violates the rule that only one `ModuleScope` should be used. This is "only" for unit tests. Could you perhaps do a quick review and let me know whether my use of an additional `ModuleScope` is inappropriate?

[2017-06-28 15:24] jonorossi commented on #277
Sorry for the silence guys, it's just been one of those weeks. Great work on the getting a fix in with a solid set of unit tests.

Do we want to release this as 4.1.1?

[2017-06-28 15:32] jonorossi commented on #62
@stakx that pull request is fine.

This feature is probably unnecessary, I haven't see anyone on the mailing lists or Stackoverflow make this mistake in probably a decade, you'd notice the memory leak and performance hit of creating new proxy types each time so quickly, especially in a web app.

[2017-06-28 15:56] stakx commented on #62
@jonorossi, thanks for the clarification!

[2017-06-28 16:34] fir3pho3nixx commented on #277
@jonorossi - yes! Let's bat it out there 👍

[2017-06-29 08:07] jonorossi opened #280 "Replace adodb.dll used in unit tests with dynamically generated type"
We currently have some random `adodb.dll` committed to our source repository used by `ComInterfacesTests`, can we get rid of it the same way we got rid of `Rhino.Mocks.CPP.Interfaces.dll` in #277?

/cc @stakx

[2017-06-29 09:11] stakx commented on #280
I saw that DLL, but wasn't sure where it belonged to, so I opted not to touch it. I can look into it later today, if you'd like.

[2017-06-29 09:16] jonorossi commented on #280
@stakx that would be great.

[2017-06-29 19:06] fir3pho3nixx commented on #227
@jonorossi - is this still relevant?

[2017-06-29 19:08] fir3pho3nixx commented on #193
@Schaeri - We just fixed #277, are you guys using any modopt/modreq modifiers?

[2017-06-29 19:38] stakx commented on #280
### What is `adodb.dll`? ###

`adodb.dll` turns out to be an older version of the ActiveX Data Objects (ADO) Primary Interop Assembly. That is, it contains COM interop type definitions describing COM components that need to be installed on your system for your unit tests to run successfully. For example, on my box, the unit tests in `ComInterfaceTypes.cs` (which reference `adodb.dll`) will cause C

[2017-06-29 20:03] fir3pho3nixx commented on #280
@stakx - Your approach here is definitely heading in the right direction. ADODB does not appear to be a valid dependency. @jonorossi and I have had subjective discussions around whether COM is dead or not. Turns out it features heavily in WRL, the successor of ATL. So we should perhaps nurture the interface to COM but keep it on the CLR side as you say.

[2017-06-29 20:58] fir3pho3nixx commented on #145
@ghost - Contributing guide here.

https://github.com/castleproject/Core/blob/master/CONTRIBUTING.md

[2017-06-30 04:43] jonorossi commented on #227
We have worked around this as we've changed to the new .NET tooling to use Mono on Linux by defining this ourselves in common.props, however we should still migrate to using `PlatformAttribute` like some of our unit tests already do, however I didn't want to just do it as a bulk find/replace because you really do want to put a reason in the attribute's constructor so you know why it can't work on

[2017-06-30 04:51] jonorossi commented on #193
I don't think custom modifiers would cause this problem, that was a consistent bug that would occur even with just one proxy type, this painful error occurs under heavy load even with basic proxy types.

I think we need to try to isolate whether the problem in something we can actually find/fix, it is likely a problem in the CLR. Putting together a test case that you can run for hours using just t

[2017-06-30 05:09] jonorossi opened #282 "Mono build is broken but Travis reports success"
The build was broken by #279, but looks like build.sh returns 0 on failure.

[code]
(https://travis-ci.org/castleproject/Core/builds/248289034)

/cc @fir3pho3nixx @stakx

[2017-06-30 06:38] jonorossi commented on #280
@stakx many thanks for the detailed response.

Yep, ADODB is part of MDAC that ships with Windows, not sure if they ship it on Server Core by default. My comment about random was more than we've picked up this primary interop assembly that was created from VS2012/.NET 1.0 tooling.

I didn't think the unit test needed the implementation, but I somehow forgot to read the code, it'll call `CoCreateIn

[2017-06-30 06:41] jonorossi commented on #280
@fir3pho3nixx Well the implementation is using COM, however you can't use DynamicProxy in Windows Store apps yet (emitting code not allowed), no idea if you could use it with the Windows Runtime though, however there really is no use case for people to use it without targeting the store AFAIK. I'm sure there are still heaps of people using COM on .NET Framework though, especially to try mocking th

[2017-06-30 06:48] jonorossi commented on #282
@stakx looks like all the new unit tests fail on Mono too with something like this:

[code]
(https://travis-ci.org/castleproject/Core/builds/248656337)

[2017-06-30 07:08] stakx commented on #280
If you implement a COM component in C#, you cannot do "lightweight" COM. AFAIK, you will be required to register the component with the COM subsystem (`regasm`) in order to be able to instantiate and use it. I was assuming (perhaps too soon) that registration might be a problem, since it requires admin privileges, and those might not be a given on the CI servers.

I was also considering whether CO

[2017-06-30 07:14] stakx commented on #282
@jonorossi: That's very interesting. This could mean that the modopt bug I fixed was never present on Mono to begin with, only on Microsoft's CLR. I'll install Mono and run some tests.

[2017-06-30 07:19] jonorossi commented on #282
I've fixed `build.sh` to return non-zero if compilation fails in #282.

[2017-06-30 07:30] jonorossi commented on #280
Ah, yer I've not used lightweight COM that is a newer feature, always had to stuff around with painfully registering classes. We definitely don't want to have to register classes in unit tests.

I guess I dislike binaries. To me at least, it appears the best/simplest option would be to continue with adodb.dll committed until we actually have a problem with using it.

[2017-06-30 07:32] fir3pho3nixx commented on #282
Will pick this one up over the weekend.

[2017-06-30 07:40] jonorossi commented on #277
Reopening. I've just discovered the Mono build was failing compilation which wasn't reported as a failure. I've fixed the build reporting in #284, @stakx fixed the compilation error in #283, but now there are unit test failures in master, e.g.:

[code]
(https://travis-ci.org/castleproject/Core/builds/248674788)

[2017-06-30 07:40] stakx commented on #282
https://github.com/stakx/Core/commit/d5c29bf3471f12bdd64c241e7384e47446e9769e would possibly fix the failing tests on Mono, but I haven't actually verified the claims made in those comments, so no PR just yet.

[2017-06-30 07:41] jonorossi commented on #282
Closing this as we've fixed the Linux build script problems, I've reopened #277.

[2017-06-30 07:41] #282 closed

[2017-06-30 07:42] stakx commented on #277
https://github.com/stakx/Core/commit/d5c29bf3471f12bdd64c241e7384e47446e9769e would possibly fix the failing tests on Mono, but I haven't actually verified the claims made in those comments, so no PR just yet.

[2017-06-30 07:42] jonorossi commented on #282
@stakx we can't (and don't want to) use `__MonoCS__` in any library code as we don't ship a separate Mono build.

[2017-06-30 07:43] jonorossi commented on #277
@stakx we can't (and don't want to) use __MonoCS__ in any library code as we don't ship a separate Mono build.

[2017-06-30 07:52] stakx commented on #277
@jonorossi - understood.

Running some quick experiments using the Mono compiler suggests that Mono actually reverses the modopts, too, so my above commit is invalid, anyway.

I'll get back on this later.

[2017-06-30 07:59] stakx commented on #280
@jonorossi, I agree.

That being said, the unit tests in `ComInterfaceTests.cs` could need some more attention.. When I initially looked at them, I didn't really understand what they were supposed to test (and I'm still not entirely sure I do now :-). The fact that I found two potential bugs related to COM interfaces in `ProxyGenerator` suggests that those tests could be more thorough.

But perhap

[2017-06-30 08:04] jonorossi commented on #277
@stakx does order even matter? I can't find any mention of order in [ECMA-335](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-335.pdf). This is the main guts about custom modifiers:

[2017-06-30 08:19] stakx commented on #277
In theory, perhaps not. In practice, at least for the CLR, apparently yes; otherwise we would never have had a bug to fix.

Judging from the CLI standard's perspective, a test checking for a specific modopt / modreq order is perhaps invalid, meaning it should removed. On the other hand, that test documents why we saw the need to reverse the custom modifier order upon method emission. If we just re

[2017-06-30 08:22] jonorossi commented on #280
I agree, the unit test isn't clear at all what it was testing.

If you've got the time to clean them up and look into the other error condition bug then go for it. I assume a user though will get some other exception pretty quickly if you get E_NOINTERFACE from QueryInterface so it might not have ever popped up, or no one reported the error.

[2017-06-30 08:22] jonorossi commented on #280
Closing this issue since we'll leave adodb.dll as is.

[2017-06-30 08:22] #280 closed

[2017-06-30 11:56] jonorossi commented on #277
I should have been clearer, I was referring to runtime operation, does order matter which is seems like it doesn't, custom modifiers are very much like custom attributes.

Thinking about the exception message from the CLR ("Signature of the body and declaration in a method implementation do not match"), it sounds like it is doing a signature object comparison against its parent, and after trying t

[2017-06-30 12:07] fir3pho3nixx commented on #277
@jonorossi +1

It looks to me like the test is having trouble asserting the output.

Wondering if we apply ToArray or something to the reverse whether this would work. I will know more once I check it out more this weekend.

[2017-06-30 22:15] stakx commented on #277
I apologize in advance for the very long post. I'd like to share what I have found regarding how various subsystems deal with modopt ordering.

### TL;DR: ###

I am basing the following findings on two assumptions that I haven't yet verified any further:

1. Assumption: ILASM and ILDASM do not rely on `System.Reflection`, but are more like Mono.Cecil in that they directly read and write binary dat

[2017-07-01 19:01] Schaeri commented on #193
No we don't use any modopt/modreq modifiers. I think the issue 277 is not related to our problem.

The error 307 seams to go in the same direction. Interesting to know if the people with Nunit run into this problem also on the .Net Framework 4.5.2 or later. When it has something to do with the CLR maybe the error would not occur on the dotnet core.

What I can try is to bring my initial attached s

[2017-07-02 14:27] jonorossi commented on #277
@stakx thanks for doing the investigative work and the detailed write up of your findings.

Did you mean to write CLR in the last sentence here, or Mono?

I'm a little lost by your recommendations, on the CLR should `MethodEmitter`'s call to its `MethodBuilder` reverse the order or not?

I came across a GitHub issue on the .NET Portability Analyzer that also ran into this ordering problem, referri

[2017-07-02 15:31] fir3pho3nixx commented on #277
@stakx - Your write up is much appreciated.

@jonorossi - What I am getting is we should reverse the params on windows but not on mono. I have also done some more investigation.

I traced out the parameters going into and out of @stakx test and I also found some rather peculiar behaviour on mono.

Added some trace methods [here](https://github.com/fir3pho3nixx/Core/blob/master/src/Castle.Core.Test

[2017-07-02 15:52] fir3pho3nixx commented on #277
After running [this](https://github.com/fir3pho3nixx/castle-core-reflection-mono/blob/master/Console/Program.cs#L49) windows I get ...

![image](https://user-images.githubusercontent.com/607402/27771433-28447d14-5f46-11e7-9364-8e523de0fa05.png)

But on linux I get:

![image](https://user-images.githubusercontent.com/607402/27771468-cedb0418-5f46-11e7-8460-ec7a29b74bfe.png)

Notice how the modifier

[2017-07-02 16:05] stakx commented on #277
@jonorossi - Sorry, you caught a typo there. I did indeed mean Mono, not CLR.

@fir3pho3nixx: I vaguely remember that when I ran my first experiments on Mono with custom modifiers, I came across a situation where not modopts were reported back to me. Then I rewrote my test code, and all of a sudden, the modopts got reported again. I concluded that the error must've been my own, but now that you've

[2017-07-02 16:10] fir3pho3nixx commented on #277
My recommendation is we create a separate issue for tracking mono problem and change the test fixture to `assume` that reflection returns mods like [so](https://github.com/fir3pho3nixx/Core/blob/master/src/Castle.Core.Tests/CustomModifiersTestCase.cs#L150), perhaps wrapped using an #if __MonoCS__ compilation symbol so we still have a guarantee for it failing properly on windows.

This will bring o

[2017-07-02 16:13] fir3pho3nixx commented on #277
@stakx - You found one crazy issue! :)

[2017-07-02 16:15] stakx commented on #277
@fir3pho3nixx: I'm actually feeling somewhat shocked at how this has turned into a convoluted knotty mess... :-)

[2017-07-03 14:02] jonorossi commented on #277
@stakx great, I thought that is what you meant, your statement "never reverse ordering when emitting via MethodBuilder" was what I kept getting caught on since that is what DP does (use a MethodBuilder), but I think you meant when the unit tests use MethodBuilder.

@stakx yep, this is the world of reflection emit unfortunately, we've had all sorts of painful stuff like this over the years 😄

@stak

[2017-07-04 09:04] jonorossi commented on #277
Master is now green, closing.

[2017-07-04 09:04] #277 closed

[2017-07-04 19:26] stakx commented on #277
PS: Perhaps the tests in `CustomModifiersTestCase.cs` that are now skipped on Mono could be added to the list in #94?

[2017-07-04 20:51] stakx commented on #277
@fir3pho3nixx:

:-D. I guess now that the build is fixed, it would be nice to improve on those tests *before* we go on and forget about them. 👍

I would also be quite happy to leave the next PRs concerning this up to you, since my Windows-based Mono installation appears to be partially corrupt, which makes building & testing Castle.Core quite difficult.

Regarding your suggestion to replace the te

[2017-07-04 21:02] fir3pho3nixx commented on #277
@stakx

I want the test to fail again. I am coding conscious living guards into the tests that remind you. Anybody that cares needs to know something changed. It needs to be re-evaluated at that point in time.

[2017-07-04 21:08] stakx commented on #277
@fir3pho3nixx - sounds awesome. But if I understood correctly, you want the test to fail at some point in the future (when Mono changes)... not right now?

[2017-07-04 21:08] fir3pho3nixx commented on #277
@stakx - Yes.

[2017-07-04 21:11] fir3pho3nixx commented on #277
Cool, I will submit PR tomorrow night.

@jonorossi - Cool?

[2017-07-05 07:30] stakx commented on #179
@heaths: Hailing from Moq here. We've just recently fixed a long-standing regression in Moq that caused lots of problems with interfaces and member redeclarations in derived types. That bug might have caused the issue you're describing, too; see https://github.com/moq/moq4/pull/381.

If you'd like to rule out this (now fixed) bug as a possible error source, update to Moq version 4.7.63 or later an

[2017-07-05 10:45] jonorossi commented on #277
Not at all, I would have preferred we could have run the test even without decent asserts. Thanks for sending through the pull request.

[2017-07-05 21:02] heaths commented on #179
Sorry @jonorossi, this had slipped under my radar but @stakx made a blip. I'll try to repro the problem with the latest Moq4 as suggested, but doing so without Moq would take quite a bit more. I'm not sure what all moq does (without further reviewing their code) but it was clear the proxy itself appeared to have multiple implementations of such a property. Let me start with @stakx's suggestion and

[2017-07-05 21:54] heaths commented on #179
Unfortunately, I can't seem to repro this using all the same versions of packages we had back then. If only I hadn't failed to notice your request: I'd probably have remembered exactly how to repro this. I've tried several ways based on our current code structure but it's not working, so feel free to resolve. If I think of how I did this before, I'll reopen with an example.

[2017-07-05 21:54] #179 closed

[2017-07-06 11:19] jonorossi commented on #179
@heaths great to hear, hopefully there is no bug 😉 . Let us or the Moq guys know if you run into it again in the future.

[2017-07-06 23:52] fir3pho3nixx commented on #193
We should elaborate on the 'hammer' test, and create a way of exporting crash memory dumps. This way we can analyse the call stack.

Are you willing to add something like this to you're test? https://stackoverflow.com/questions/1134048/generating-net-crash-dumps-automatically

I would have done it sooner but I have been helping out with the netcore release of Windsor :/

[2017-07-07 09:40] jonorossi commented on #88
Fixed by pull request #285.

[2017-07-07 09:40] #88 closed

[2017-07-08 21:58] Schaeri commented on #193
I tried to generate a dump when the application crash with the debug diagnostic tools. But I was not lucky. The crash of the application was not automatically detected from the tools and also when I configure the exception by hand I was never able to generate a dump. I don’t know why, I use these tools to rarely. Maybe I have to try it with ProcDump or ADPlus to get a better result. But for this w

[2017-07-10 16:34] stakx commented on #193
Hi @Schaeri, I'm visiting from https://github.com/moq/moq4/issues/246. Just letting you know that I'm looking into this, too. I haven't yet managed to reproduce the error with your repro code, but once I do, I'll post any details / memory dumps that I can grab here.

[2017-07-13 13:45] skovsende opened #288 "Castle.Core having minor and patch level version in AssemblyVersion"
I had a good discussion with @stakx from the Moq project in this thread: https://github.com/moq/moq4/issues/418

It seems to be Castle.Core does not follow best practice when it comes to AssemblyVersion, which leads to all kinds of problems when people depend on Castle.Core.

We ended up finding a really good explanation of the problem here: https://codingforsmarties.wordpress.com/2016/01/21/how-t

[2017-07-14 07:24] fir3pho3nixx commented on #288
@skovsende - I did not read the discussion but did the the blog post. I think the blog post obfiscates the problem and the solution in a pile of waffle and is not very well written. Can you summarise this for clarity?

[2017-07-14 11:51] skovsende commented on #288
I'll try. The current situation as I see it:

Imaging I have an application, MyApp, that uses two nuget packages: PackageX and Castle.Core

Library PackageX is a nuget package containing a strong named assembly that uses version 4.1.0 of Castle Core. In the nuspec the dependency is set to 4+, to be compatible with new versions as long as Castle.Core follows semantic versioning.

Then version 4.1.1

[2017-07-14 14:55] fir3pho3nixx commented on #288
I believe you have explained this way better than the blog post! 👍

It is also one of the main reasons I use Paket instead of Nuget for managing my dependencies. It takes care of bindings for you. @forki is the author and I think he has done a great job of dealing with this. It not only deals with Assembly bindings but can also garbage collect transitive dependencies that are no longer valid. Nuge

[2017-07-14 15:22] jonorossi commented on #288
Yep, Castle Core 4.x appears to have lost what we used to do with the change to the new .NET SDK tooling. 4.1.0 and 4.1.1 will be affected, 4.0.0 was obviously the major release.

We used to do `x.x.0.0`, but `x.0.0.0` sounds even better. `AssemblyFileVersion` should still have the actual version.
https://github.com/castleproject/Core/blob/v3.3.3/Settings.proj#L45

(recovering from the flu so behi

[2017-07-16 17:31] jonorossi commented on #288
I just checked Windsor 4.0.0 to see what assembly version it has embedded, and it's all good, NuGet is giving it the lowest minor version and there is no patch version in the 4.0.x series.

[code]

[2017-07-16 18:04] stakx commented on #288
@jonorossi, since Moq is doing `[AssemblyVersion]` "wrong", too (from the perspective of NuGet and semver), and I'm considering how to best fix it, I'd be interested in hearing how you are going to fix this for Castle.Core: When you reset the assembly version, will you increase the major version, or will you keep it at 4?

[2017-07-17 04:37] jonorossi commented on #288
It won't be a major version. Looking at how we handled AssemblyVersion in the 2.x and 3.x series (`x.x.0.0`) the only release that is broken is 4.1.1 which should have been 4.1.0. We'll definitely release 4.1.2 (with 4.0.0 assembly version) to fix that line, then consider 4.2.0 however both NuGet and Paket will pull in "patch" versions in their dependency resolution so 4.2.0 is probably unnecessar

[2017-07-17 22:05] stakx opened #289 "ProxyUtil.IsAccessible(MethodBase) reports false positive for method declared in internal class"
I just noticed that in Castle.Core 4.1.1, [`Castle.DynamicProxy.ProxyUtil.IsAccessible(MethodBase method)`](https://github.com/castleproject/Core/blob/1e2b33249e2e23448f68a6ef5674b8eb532d1dae/src/Castle.Core/DynamicProxy/ProxyUtil.cs#L86-L93) appears to report false positives for methods declared within internal classes:

[code]

How can method `I.P` be accessible to DynamicProxy when the declarin

[2017-07-18 03:18] jonorossi commented on #289
Yep, it's a bug. As you might already be aware `Castle.DynamicProxy.ProxyUtil.IsAccessible(MethodBase)` was added in 4.1.0, but it just delegates to `Castle.DynamicProxy.Internal.InternalsUtil.IsAccessible(this MethodBase)` which has been there forever. The whole point it was added was so consumers of DynamicProxy could provide useful error messages when attempting to proxy something unproxyable b

[2017-07-18 06:15] stakx commented on #289
Thanks for the quick response, @jonorossi!

That's the use case I'm looking at for Moq. (Thanks @blairconrad for paving the way!)

You're suggesting to extend `ProxyUtil.IsAccessible` but keep `InternalsUtil.IsAccessible` as is. I see the reasoning behind it, but this could potentially confuse users, since from their viewpoint both methods are accessible and look pretty much identical. Perhaps it

[2017-07-18 06:54] stakx commented on #193
@Schaeri, I have been running your test code on another machine, that is, an 8-core 64-bit Windows 7 machine with .NET Framework 4.6.1 (394271). This matches your own setup. After more than 16 hours of running the test 4 times in parallel, the error still hasn't surfaced.

I have however modified your code slightly: Instead of referencing Moq and Castle.Core as NuGet packages, I have included thei

[2017-07-18 11:22] jonorossi commented on #289
I'd merge a pull request that added `[EditorBrowsable(EditorBrowsableState.Never)]` to all `InternalsUtil` members, however I think we can do one better.

As you said we can't just mark them `[Obsolete]` since we use them, however we could create a new util class in another namespace which the DP code can use, and this one in the `Castle.DynamicProxy.Internal` namespace can call into the new one.

[2017-07-18 18:12] Schaeri commented on #193
@stakx. I run the test on several machine on a windows 7 64-bit or
windows 10 64-bit system with 4 cores. I start the test up to 8 times to
let it fail faster. I always try to get 100% CPU usage when I run the
tests. But it take a lot of time. Normally I run it over a weekend on my
machine and it will fail for sure once or twice. But It take really a
lot of time. I hope you are also be able to rep

[2017-07-18 19:18] stakx commented on #193
@Schaeri, I actually managed to repro the error earlier today, 4 times all at once. Unfortunately, the setup with `Run.bat` and the xUnit.net test runner means that by the time you see the exception message on the console, the process has already terminated, making it impossible to capture a minidump.

It occurred to me that it might be helpful to rule out both Moq and xUnit.net as possible error

[2017-07-18 20:44] Schaeri commented on #193
Your absolutely right to try to get rid of xunit and moq for the test. There is for sure a lot of code which could have a influence that this error can occur.

I already tried a year ago to run tests in a parallel for without xunit. We were never lucky to run into the problem. I think our many problem was that the application startup only runs once. Our guess was that the error occurs only when th

[2017-07-18 21:08] stakx commented on #193
Thanks for the additional pointers, I'll take that into account. Perhaps I'll start by throwing away my Parallel.For experiment and take Moq out of the equation, just to have one fewer moving part. Should be fairly easy. Next, I'll try to get rid of the xUnit.net test runner, perhaps with an infinite-loop console app that makes use of AppDomains (even though you disabled them with the test runner!

[2017-07-19 15:07] stakx commented on #289
I hope that PR is more or less what you had in mind. Otherwise just let me know.

On a different note, I came across [this line of code](https://github.com/stakx/Core/blob/e1ce0f8037aa77c42be1285ed4ccf5a1ed81a817/src/Castle.Core/DynamicProxy/ProxyUtil.cs#L275):

and couldn't help thinking that this is somewhat incorrect: DynamicProxy creates proxies for types, not for methods (AFAIK). (Perhaps @bl

[2017-07-19 15:35] blairconrad commented on #289
@stakx, good catch, and it's good of you to think of us. We wrap the returned string so the phrasing can vary however Castle.Core likes. This is the kind of thing a FakeItEasy user would see if they tried to configure an inaccessible method:

[code]

Reading this, I think "Can not intercept method …" would have worked for the Castle.Core message as well. It will make FakeItEasy's message redundant

[2017-07-21 12:45] jonorossi commented on #289
Thanks @stakx, I've done a code review on the pull request.

[2017-07-21 18:15] stakx commented on #289
Thanks for the review. I made the requested changes. And even managed to remember the changelog. :-)

[2017-07-25 08:48] Worthy7 opened #291 "Nullable parameters on controller methods"
I have explained the issue quite well here:
aspnetboilerplate/aspnetboilerplate#2355 (comment)

Basically, if a method uses nullable parameters (int?) then this causes Castle.Windsor to error because it doesn't seem to want to use null, and instead replaces it with Missing.

[2017-07-25 11:25] jonorossi commented on #291
@Worthy7 just in case you weren't aware this is the Castle Core issue tracker not the Castle Windsor one. I see you logged https://github.com/castleproject/Windsor/issues/306 which you then closed, however here is likely the right place since it sounds Castle DynamicProxy related.

Can you provide a reproduction (i.e. sample code) of how Castle DynamicProxy is failing/working incorrectly using jus

[2017-07-25 12:55] #289 closed

[2017-07-25 12:57] jonorossi commented on #289
All merged, thanks.

[2017-07-25 13:03] jonorossi commented on #288
@skovsende @stakx @fir3pho3nixx I've had a quick Google and play, and couldn't get MSBuild to do what I wanted with `AssemblyVersionAttribute` it keeps outputting with package version. Do you guys know what needs to be set to get MSBuild to do this?

[2017-07-25 13:14] stakx commented on #288
@jonorossi - not 100 % sure, but as a fairly coarse-grained fix, you could try adding `<GenerateAssemblyInfo>false</GenerateAssemblyInfo>` to the `Castle.Core.csproj`, then manually adding an `AssemblyInfo.cs` with the desired assembly-level custom attributes.

[2017-07-25 13:35] jonorossi commented on #288
Thanks @stakx, yer I saw those however didn't try them because our build automatically gets its release version from the git tag name we don't manually maintain an AssemblyInfo like file anymore, our git repo has 0.0.0 as the version.

There are a bunch of other documented MSBuild elements you are meant to be able to define to override the AssemblyVersion, but none seemed to work when I hardcoded

[2017-07-26 00:52] Worthy7 commented on #291
Oh I thought this was core related not Windsor related, because the exception is Castle.Proxies

I'll reopen that issue.

[2017-07-26 01:09] Worthy7 commented on #291
I see it was actually reported a long long time ago by Abp owner himself,
castleproject/Core#45

His code I assume is still a valid example

[2017-07-26 02:45] jonorossi commented on #291
The example in #45 is still reproducible thanks, you'll see why that issue didn't go anywhere since @hikalkan closed it. #35 is an earlier one on the same problem, however I think the fix in 17c1596b1e7f547eaa15479ada0b793a306ab991 (back in 2013) might not have actually fixed the problem and resulted in the default value being left as `System.Reflection.Missing` (I've not confirmed the `ParameterB

[2017-08-01 18:09] fir3pho3nixx commented on #288
Ping back from MS:

You can set the properties AssemblyVersion (=> AssemblyVersionAttribute) and FileVersion (=> AssemblyFileVersionAttribute) in the project file to control the value of each generated attribute.

So a sample project file could contain for example:

[code]

[2017-08-04 14:30] jonorossi commented on #288
Thanks @fir3pho3nixx, I tried exactly that, `<AssemblyVersion>` but it didn't work, maybe I had it in the wrong place or our common.props is getting in the way. Will have to try again.

[2017-08-05 07:58] DianaKoenraadt opened #292 "Fix dependency specification of logging packages to the exact same explicit version of Castle.Core package"
Hi all,

I had some trouble getting Castle NLog integration to work.

I'm using:

Castle.Core v4.1.1
Castle.Core-NLog v3.3.3
Castle.LoggingFacility v4.0.0
Castle.Windsor v4.0.0
Castle.Windsor-NLog v3.4.0
NLog v4.4.1.1
NLog.Config v4.4.1.1
NLog.Schema v4.4.1.1

Now, when I setup a simple installer:

    public class Installer : IWindsorInstaller
    {
        public void Install(IWindsorContainer c

[2017-08-05 12:21] jonorossi commented on #292
You should not mix different versions of Castle Core's packages, i.e. if you use Castle.Core 4.1.1 you should also use Castle.Core-NLog 4.1.1. The same applies to Windsor facilities and those logging dependency packages.

It unfortunately wasn't mentioned in the Windsor 4.0.0 release notes but we dropped those logging dependency packages (`Castle.Windsor-log4net` and `Castle.Windsor-NLog`) because

[2017-08-05 12:27] jonorossi commented on #292
I'm not sure how to get the new .NET CLI MSBuild-based tools to create an output package with the dependency version set as requiring an exact version not a range.

Currently `Castle.LoggingFacility` 4.0.0 defines a dependency `Castle.Windsor` `>= 4.0.0` which is not desirable as mentioned above.

The project file uses a project reference so not sure how to override the output dependency range:
ht

[2017-08-05 15:58] DianaKoenraadt commented on #292
jonorossi,

Thanks for your reply.
I removed the dependency on Castle.WIndsor-NLog and updated all Castle assemblies to 4.0.0.0

Castle.Core v4.0.0
Castle.Core-NLog v4.0.0
Castle.LoggingFacility v4.0.0
Castle.Windsor v4.0.0
Castle.Windsor-NLog REMOVED
NLog v4.4.1.1
NLog.Config v4.4.1.1
NLog.Schema v4.4.1.1

I have removed the redirects in my app.config an it works like a charm. Thanks

P.S. For so

[2017-08-05 17:01] stakx commented on #292
Is there a specific reason why a project reference is used? Given that Castle.LoggingFacility and Castle.Windsor end up being separately distributed artifacts on NuGet, I would expect that one depends on the other via a package reference. I understand project references to be references to an "internal" component that will be included in the distribution. (That is, unless I'm mistaken, a project r

[2017-08-07 12:15] jonorossi commented on #292
@DianaKoenraadt Castle Core and Castle Windsor are separate projects, their versions don't have to match. You can upgrade Castle Core to 4.1.1, Castle Windsor's most recent release is 4.0.0 which supports Castle Core 4.1.1.

[2017-08-07 12:43] jonorossi commented on #292
@stakx good question. We've always used project references for projects in the same Git repo because tooling always stuffed up without doing that, e.g. MSBuild wouldn't detect the dependency had changed when you rebuilt or ran unit tests.

I don't know how the tooling works for `PackageReference` but I assume it would try to resolve the dependency within the same solution first before going off to

[2017-08-07 19:24] fir3pho3nixx commented on #292
Lol - So it is not just me then. I had to write [this](https://github.com/cryosharp/fluentwindsor/blob/master/.build/BuildTasks/SetExplicitVersionsForDependencies.cs) to make things work for fluentwindsor.

Would you guys like me to raise a PR that does this with a custom MsBuild task for now?

[2017-08-07 20:00] fir3pho3nixx commented on #292
We could revert back to packing using nuspec files. The custom MsBuild task would then consistently include explicit versions as pre-build step honoring the [BuildVersion](https://github.com/castleproject/Windsor/blob/master/buildscripts/common.props#L8) property. This would mean taking a step back from where we are when it comes to NuGet packing and versioning and using the SDK(or the dotnet cli

[2017-08-08 04:39] jonorossi commented on #292
Are you saying this is fixed with the .NET CLI 2.0 tooling?

[2017-08-08 16:15] dasMulli commented on #288
@jonorossi if you still have problems with it I can have a look (just tell me a branch/fork), I think I have a fairly good understanding of how that logic works. There also was a nasty issue with incremental builds that is fixed in the upcoming 2.0.0 tooling.

[2017-08-08 19:06] fir3pho3nixx commented on #288
@dasMulli thanks for offering. I think I have got it to work on this branch. I hardcoded the properties above in the common.props file [here](https://github.com/fir3pho3nixx/Core/blob/core-tweaked-versions/buildscripts/common.props#L14).

I can now see:

![image](https://user-images.githubusercontent.com/607402/29089685-f7fae02a-7c74-11e7-82e8-b749f321bfc5.png)

and

![image](https://user-images.g

[2017-08-09 08:56] fir3pho3nixx commented on #292
@jonorossi - I am currently investigating this, will ping back if I hit a positive result.

[2017-08-14 20:02] yallie opened #293 "ChangeProxyTarget throws System.InvalidCastException"
Hi, I use Castle.DynamicProxy with DryIoc container to [make the dependencies lazy](https://bitbucket.org/dadhi/dryioc/issues/492/lazy-imports-disguised-as-non-lazy) transparently.
Instead of a real dependency, the container injects a lazy proxy. It works like this.

1. Create the interface proxy with target interface and specify no target.
2. Attach an interceptor with the lazy-wrapped target.
3.

[2017-08-17 13:48] jonorossi commented on #293
@yallie thanks for the very detailed bug report and unit test pull request.

Since you've got this far with a unit test, did you want to give it a try debugging `InvocationTypeGenerator.ImplementChangeProxyTarget` to determine why it is generating the wrong cast for the second proxy type.

https://github.com/castleproject/Core/blob/v4.1.1/src/Castle.Core/DynamicProxy/Generators/InvocationTypeGener

[2017-08-17 14:46] yallie commented on #293
Thanks @jonorossi for pointing me in the right direction.

Unfortunately I can't get the project to build in Visual Studio, can't run unit tests, etc.
Don't know the reason, but the Studio says «Build succeeded» but outputs no binaries
and doesn't detect any unit tests in the solution. Have you got any guidelines how to
build the project using Visual Studio 2017, what version is required, pre-requ

[2017-08-17 16:05] yallie commented on #293
Nevermind, I re-created the project from scratch and got all tests visible
in the test explorer. At least now I can debug it.

When running my test, I see that methods `ImplementChangeInvocationTarget`
and `ImplementChangeProxyTarget` are executed only once during the unit test.
I assume this means that the invocation type is generated only once, because
it represents the method call defined in my

[2017-08-18 13:30] yallie commented on #293
Here is the generated code in Reflector:

[code]

[2017-08-18 13:49] yallie commented on #293
Looks like it can be worked around like this:

[code]

provided that IProxyTargetAccessor gets a new method:

[code]

[2017-08-18 21:36] yallie commented on #293
My approach seems to work indeed, all tests now pass.
Here is the summary of my changes:

* Added IProxyTargetAccessor.DynProxySetTarget method
* Provided the implementation in ProxyInstanceContributor.ImplementProxyTargetAccessor
* For a proxy that doesn't support SetTarget, the method throws InvalidOperationException
* InvocationTypeGenerator calls DynProxySetTarget instead of setting the target

[2017-08-18 22:08] yallie opened #295 "Duplicate invocation of EnsureValidTarget method"
I've inspected the generated invocation class using Reflector and found
that `EnsureValidTarget` method is invoked twice:

[code]

These method calls are generated here:
* [InvocationTypeGenerator, line 120](https://github.com/castleproject/Core/blob/master/src/Castle.Core/DynamicProxy/Generators/InvocationTypeGenerator.cs#L120-L123) — for proxies that can change target
* [CompositionInvocationTyp

[2017-08-19 15:36] moliveto opened #296 "Visual Studio 2017 Castle Core depends on System.ComponentModel.TypeConverter but was not found"
Severity	Code	Description	Project	File	Line	Suppression State
Warning	NU1603	Castle.Core 4.0.0 depends on System.ComponentModel.TypeConverter (>= 4.0.1) but System.ComponentModel.TypeConverter 4.0.1 was not found. An approximate best match of System.ComponentModel.TypeConverter 4.1.0 was resolved.	Provider	D:\VS 2017\Interception\Provider\Provider.csproj	1

[2017-08-19 15:36] moliveto commented on #296
see
moq/moq4#375

[2017-08-22 05:43] jonorossi commented on #296
Duplicate of #239, the fix was released in Castle Core 4.1.0.

[2017-08-22 05:43] #296 closed

[2017-08-22 14:34] jonorossi commented on #293
@yallie thanks for the pull request, I'll try to get to reviewing it this week.

To make a new release we really need to get the two issues assigned to the vNext milestone fixed so a release won't be available straight away.

[2017-08-22 14:38] yallie commented on #293
Thanks a lot for your response!

So the release requirement is that at least two issues are fixed?
I can also fix an issue with the duplicate EnsureValidMethod invocation #295
in the generated InvokeMethodOnTarget code if it helps :)

Regards, Alex.

[2017-08-22 14:45] jonorossi commented on #293
No, there is already another fix pending release (https://github.com/castleproject/Core/blob/master/CHANGELOG.md).

We've got a couple of defects (https://github.com/castleproject/Core/milestone/4) one with `AssemblyVersion` and another with our package dependency versions which we really need to fix otherwise they'll just get worse the more releases we make, the `AssemblyVersion` one is a must it

[2017-08-22 14:47] yallie commented on #293
Ah sorry, my bad!
Thanks for the explanation.

[2017-08-22 16:24] BitWizJason opened #297 "ArgumentException: Could not find method overriding method with nested generics"
Visual Studio Enterprise 2017 Version 15.2 (26430.16) Release
Target framework: .NET Framework 4.6.1
Castle.Core (3.3.0)

[code]

[2017-08-22 16:32] BitWizJason commented on #297
Method Base Class:

        public virtual async Task<List<TEntity>> GetAllCache<TEntity, TEntityPrimaryKey>(IRepository<TEntity, TEntityPrimaryKey> repository, [CallerMemberName] string cacheName = "", params Expression<Func<TEntity, object>>[] entityIncludes)
            where TEntity : Entity<TEntityPrimaryKey>
        {
            return await CacheManager
                .GetCache<string, Li

[2017-08-25 15:46] BitWizJason commented on #297
Verified issue still occurs in Castle.Core (4.1.1)

[2017-08-28 14:01] jonorossi commented on #297
@BitWizJason could you please provide a runnable test case, it doesn't need to use NUnit just create a `ProxyGenerator`.

It would be great if you can reduce the test to what causes the problem, i.e. is it because its async, the generic parameters, the first actual parameter being a generic, the parameter with a default value, the parameter with `[CallerMemberName]`, or the `params` parameter.

[2017-08-28 14:17] BitWizJason commented on #297
@jonorossi Will do!

[2017-09-07 15:16] BrunoJuchli commented on #193
@jonorossi @jonorossi
I work with @Schaeri - I'm new on his team - and today I ran some more tests. First, I ran the original repro from @Schaeri: running the batch 12x concurrently for 30 minutes, 5 ended in a failure.

Next I created a second project - same source code but with updated nuget dependencies.
Running 16x batches concurrently for 4 hours, only one died - this time the console reporte

[2017-09-07 15:40] stakx commented on #193
@BrunoJuchli: One thing I noticed is that Moq versions newer than the one originally used here have significantly worse overall performance. (I'm looking into ways to reverse this trend, but that's a different story.) This could explain, at least in part, why you're seeing a much lower error rate after an upgrade to a later NuGet package versions... it's likely Moq spends much more time compiling

[2017-09-07 15:44] BrunoJuchli commented on #193
@stakx
I've got the dump. Just having some problems uploading it - the file is 60+ MiB. But it'll be "online" shortly.

One can configure WER to create the dump on app crash: https://msdn.microsoft.com/en-us/library/windows/desktop/bb787181(v=vs.85).aspx

[2017-09-07 15:46] BrunoJuchli commented on #193
@stakx
I've got a dump. Just had some problems uploading it - the file is 60+ MiB. But here it is:

https://drive.google.com/open?id=0Bw_nvzYyrfFSeHJLaDZfSlRCclk

-----------------------------------------------

One can configure WER to create the dump on app crash: https://msdn.microsoft.com/en-us/library/windows/desktop/bb787181(v=vs.85).aspx

(you need a "full" dump with heap memory to be able

[2017-09-07 15:48] stakx commented on #193
@BrunoJuchli: Great to hear! I also managed to get some dumps but mine weren't helpful at all. I didn't try the WER thingy back then because I was under the impression that it didn't actually support .NET processes (the documentation mentions something in that direction).

Looking forward to those 60 MiB. :+1

[2017-09-08 05:55] BrunoJuchli commented on #193
@stakx
I've uploaded the dump (see [here](https://drive.google.com/open?id=0Bw_nvzYyrfFSeHJLaDZfSlRCclk)).

I let the tests run overnight. 8 "new references", 8 "old references".
All of the "new" ones survived, no issues.
However, 8 out of 8 of the old ones, died. All of them with the `BadImageFormatException`.
None of the captured by WER. I was being stupid, anyway. The exception get's "handled"

[2017-09-08 17:27] mm3141 commented on #293
We ran into this issue using WCF client proxies sharing a common interface and fixed it by adding base.interfaces to the cache key here, prohibiting the wrong sharing of the generated proxy: https://github.com/castleproject/Core/blob/29e5eb2b9b195a3744be42e7a26abea4fc3abb56/src/Castle.Core/DynamicProxy/Contributors/InterfaceProxyWithoutTargetContributor.cs#L67-L76

[2017-09-08 19:34] yallie commented on #293
@mm3141 I was hoping to find a simple solution like yours.
But your code doesn't seem to pass my unit test: [Core293.cs](https://github.com/yallie/Core/blob/33f91e4b49790dbff568840fd2ecdb98153b35be/src/Castle.Core.Tests/BugsReported/Core293.cs).
Please try yourself.

[2017-09-09 09:06] mm3141 commented on #293
@yallie There are three occurences of the pattern in line 70 above in the contributors. Replacing all of these with this makes the test pass:
[code]

[2017-09-09 12:44] yallie commented on #293
I see, that's great! Thank you.

I like that it's a relatively small change compared to my PR.

But looks like this way an application ends up
generating a new invocation class for each interface, right?

[code]

I'd rather share generated classes when it's possible because
it's much cheaper than generating them (less CPU, less memory).

My approach decouples the invocation from the target proxy c

[2017-09-11 07:26] BrunoJuchli commented on #193
Re the "old" assemblies, i've got a dump, but there's nothing new that I personally can see.
with these lines of code:

    this.aClass = new Mock<IClass55>();
    this.aClass.Setup(x => x.DoSomething()).Returns(value);
    Assert.Equal(this.aClass.Object.DoSomething(), value);

It is the last line which produces a failure - the Setup works, but actually executing `this.aClass.Object.DoSomething()

[2017-09-11 09:56] mm3141 commented on #293
Yes, we don't have this many different proxies, so the performance impact is low, and we wanted a low-risk temporary fix for this.

[2017-09-11 12:55] stakx commented on #193
@BrunoJuchli - re:

That's because the first call to a mock's `.Object` property will trigger the proxy generation, i.e. the call to Castle DynamicProxy's `ProxyGenerator.CreateClassProxy`. (Pretty much every other Moq call stays inside Moq, i.e. configures / queries Moq's own proxy interceptor objects.)

I'd be happy to provide a debug-only version of Moq that tries to catch a `BadImageFormatExce

[2017-09-11 13:16] BrunoJuchli commented on #193
@stakx
As I'm not sure whether the failure I got with the new versions of castle.core is the same I'm not sure whether it's worth it to invest more time (yours and mine) into this potentially old bug.
If, however, we find that in the new version the problem still remains we could potentially use the old version to pinpoint the bug (as with the old version the problem occurs much more often).

At t

[2017-09-11 13:52] stakx commented on #193
The originally reported error can still be reproduced with the latest versions of Moq and DynamicProxy. (I haven't uploaded my own test code since the NuGet update is trivial, but I have verified it.)

Agreed.

Agreed. I am intrigued by puzzles such as this issue, but the potential payoff is probably too small compared to the work we're putting into it.

If you do stop investigating this issue bec

[2017-09-11 16:59] jonorossi commented on #193
@stakx @BrunoJuchli it's great to see some more work on this issue, I don't think I'll be much help on this problem but let me know if there is anything I can assist with.

Yes, you can use `ModuleScope.SaveAssembly`.

[2017-09-12 23:29] stakx commented on #193
I've taken @Schaeri's original repro code and modified it as follows:

* Replaced NuGet package references with actual source code (for more complete stack traces)
* Added code to Moq that saves DynamicProxy's dynamically generated proxy assembly to disk & requests that a debugger be launched in case of the exceptions we're interested in.

This modified code can be found in this (transient) reposi

[2017-09-13 13:13] Lakritzator opened #299 "DictionaryAdapter notifies at CancelEdit even when SuppressNotifications is used"
When I call BeginEdit / CancelEdit in a SuppressNotificationsBlock, there are PropertyChanged events for properties that are rolled back.

I wrote tests for this, the test [Test_SuppressNotification_EditCancel](https://github.com/Lakritzator/DictionaryAdapter.CancelEdit.Tests/blob/master/CastleProject.Core.Tests/DictionaryAdapterTests.cs#L80) fails in the last assert.

[2017-09-13 15:37] jonorossi commented on #288
Fixed by #298.

[2017-09-13 15:45] jonorossi commented on #299
@Lakritzator any chance you can dig into DictionaryAdapter and work out what is going wrong?

[2017-09-13 15:59] jonorossi commented on #292
@fir3pho3nixx did you get a chance to look at this one?

It sounds like project references are going to deprecated, and we should be moving to package references anyway:
https://github.com/dotnet/announcements/issues/31

[2017-09-13 17:06] fir3pho3nixx commented on #292
@jonorossi - this is all starting to come together nicely.

We had some uglyness in that crept up with logging down in Windsor [here](https://github.com/castleproject/Windsor/issues/327) which might have been the root cause of this issue. We have hard coded assembly references in the [LoggingFacility](https://github.com/castleproject/Windsor/blob/master/src/Castle.Facilities.Logging/LoggingFacilit

[2017-09-13 19:11] jonorossi commented on #292
@fir3pho3nixx you've mentioned a whole bunch of stuff which I've responded to in their own issues.

The logging facility has been that way for over a decade, the only reason things are breaking now is that the new build scripts were doing the wrong thing with the assembly version which we've now fixed. I still think we want our packages with dependencies in lockstep, if you are using the `Castle.C

[2017-09-13 20:15] Lakritzator commented on #299
@jonorossi yes, I can do that. I do still first need to finish my work on releasing the new version of [Greenshot](https://getgreenshot.org), but I will try to fix this tomorrow.

[2017-09-13 21:00] fir3pho3nixx commented on #292
Spent the day working on Castle Windsor. Good innit?

Yes, build scripts, my fault, sorry everyone. Feel free to send hate mail to fir3pho3nixx@gmail.com. However before we go off half cocked blaming my work let's consider my conclusion below.

Lock step perhaps, not my call (I would do it differently).

## Conclusion

What I eventually saw here was Castle.LoggingFacility v4.0.0 had a hardcoded re

[2017-09-14 15:14] BrunoJuchli commented on #193
I'm currently running the tests. 16 starts for 30+ minutes did not lead to a single failure. Before they were happening more often.

I guess the file should be written to the "current directory" / executing directory, right?

We'll see what happens when 10 fail and all of them try to write the same file :D

`IFluentInterface` was missing from the source code. As I just downloaded the Zip file no P

[2017-09-14 18:06] tasoss commented on #292
Hello.I'm having the same problem.
I'm using v4.0.0 of castle.core castle.facilities.logging and castle.windsor.
When this is called
`container.AddFacility<LoggingFacility>(f => f.LogUsing(LoggerImplementation.NLog));`
i get

I haven't found any other library that references 4.1.1

Any ideas on how i can fix this?
Thanks!

[2017-09-14 18:09] fir3pho3nixx commented on #292
Try this in your config:

[code]

[2017-09-14 18:19] tasoss commented on #292
I don't know what i'm doing wrong but i get the same error.
Would you like me to share the project with you?
Thanks!

[2017-09-14 18:48] fir3pho3nixx commented on #292
Sure ...

[2017-09-14 19:00] tasoss commented on #292
I have emailed it to you.Thanks...

[2017-09-14 19:13] fir3pho3nixx commented on #292
From what I can see, you got the assembly binding correct. You were missing a NuGet reference to NLog in packages.config.

[code]

[2017-09-14 19:14] tasoss commented on #292
Thank you very much for your help :)

[2017-09-14 21:04] Lakritzator commented on #299
Added PR #301

[2017-09-14 22:32] tasoss commented on #292
I'm very sorry but the fixed project didn't work again.
[This](https://pastebin.com/0X0NPXbS) is what i got from fuslogvw.
Thanks again...

[2017-09-15 06:40] BrunoJuchli commented on #193
Ok ran the modified repro concurrently with 16x runs for for 16 hours.

- 7 failed with `BadImageFormatException`. Though only 1 wrote a DLL, even though the PID seems to be attached to the file name - meaning there should not be multiple processes writing the same file. [Get DLL here](https://drive.google.com/open?id=0Bw_nvzYyrfFSRFY5WVZxR09laGs)
- 1 Test failed with `InvalidOperationException`:

[2017-09-15 09:17] tasosss commented on #292
Hello again.I fixed it like this.
Added
`<dependentAssembly>
	<assemblyIdentity name="Castle.Services.Logging.NLogIntegration" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
	<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
</dependentAssembly>`

The problem is
namespace Castle.Facilities.Logging and class LoggingFacility
private static readonly string NLogLoggerFactor

[2017-09-15 11:53] stakx commented on #193
Seems that this time around, the `TargetInvocationException` was triggered by the xUnit.NET test runner, and not by Moq or DynamicProxy2. Execution didn't actually get that far.

Great to hear it worked at least this far, though it's a pity that it wasn't possible to also get a minidump for the same process. Also, it seems [my test code](https://github.com/stakx/Castle.Core-issue-193-repro) has so

[2017-09-17 14:38] jonorossi commented on #292
@fir3pho3nixx No need for hate mail, when I said this:

... I forgot to mention what was obvious to me, that the logging facility has always done annoying reflection to create the loggers using its list of loggers (`LoggerImplementation` enum) for loggers that Castle Core owns.

@tasoss @tasosss you'd be best served to use the `NLogFactory` class directly as the next version of Windsor will deprec

[2017-09-17 15:21] jonorossi commented on #299
Thanks @Lakritzator, I don't know why it never checked ShouldNotify, I guess this situation was overlooked. Your fix is merged and will be in the next release.

[2017-09-17 15:21] #299 closed

[2017-09-17 15:44] jonorossi commented on #292
Now that the underlying logging facility problem that also surfaced is solved (https://github.com/castleproject/Windsor/pull/336) by deprecating `LoggerImplementation` and directly passing the facility the Castle Core class, we should circle back around to the Castle Core version range problem.

We need to block people being able to specify this:
- Castle.Core v4.1.1
- Castle.Core-NLog v3.3.3

The

[2017-09-17 17:23] tasoss commented on #292
@jonorossi  ok thanks for the info!

[2017-09-17 19:12] Lakritzator commented on #299
You are welcome, never wonder why... happens to all of us. Thanks for merging.

[2017-09-17 19:21] fir3pho3nixx commented on #292
Lock stepping versions of vendor specific logging abstractions with something as important as Castle.Core should not be happening IMHO. Castle.Core should be set free from it's NLog/log4net/serilog vendor/versioning shackles (or `ProjectReferences` as @stakx said).

Let's think about this for a second.

If `Castle.Core-NLog v3.3.3` was left behind(separate deploy cycle/repository) and not lock ste

[2017-09-19 08:46] jonorossi commented on #193
Generally no, the proxy types will either get generated into the strong or weak named dynamic assemblies based on whether the types are in a strong named assembly. If you get rid of any strong naming and set `disableSignedModule` to `true` you'll be guaranteed that all types will be generated in the weak named assembly.

No idea, that seems odd. Do you have a link to one of those assemblies I can

[2017-09-19 10:47] stakx commented on #193
@jonorossi:

You can take a look at the DLL referenced in https://github.com/castleproject/Core/issues/193#issuecomment-329695743. AFAIK it's been generated by the test code mentioned (and linked to) in https://github.com/castleproject/Core/issues/193#issuecomment-329760632.

I wouldn't worry too much about these, my test code definitely doesn't explicitly deal with several tests running in parall

[2017-09-19 12:01] jonorossi commented on #292
As discussed `PackageReference` shouldn't require any of that otherwise you wouldn't be able to have more than one project in a solution. Let's try this, otherwise we can post-process the NuGet package to insert the square brackets to ensure explicit versioning.

We'll look at the future of the logging integration packages for v5.

[2017-09-19 12:11] jonorossi commented on #193
Yes, as I mentioned everything should pass through `BaseProxyGenerator.ObtainProxyType` which obtains the `ModuleScope` lock while generating a type.

Would be a good test to make sure DynamicProxy isn't corrupting the module itself and missing some locking.

[2017-09-19 14:57] jonorossi commented on #293
@yallie I'm sorry for taking my sweet bloody time to get to this issue, I looked at it very briefly a couple of times but something didn't seem right and I didn't have the time to dig into it until now.

Many thanks for getting to the bottom of the defect and describing the defect and fix so well.

I realised what didn't make sense to me, that is `IChangeProxyTarget.ChangeProxyTarget()` completely

[2017-09-19 15:30] jonorossi commented on #295
Not sure if we even need it in `CompositionInvocationTypeGenerator`, however it is hard to tell from the control flow because of quite a number of conditions and generator subclasses.

If we can't work out if the first one is needed, I'd guess the cleanest fix would be to change `InvocationTypeGenerator.EmitCallEnsureValidTarget` to protected to remove the duplication and only write it once with a

[2017-09-19 16:13] yallie commented on #293
@jonorossi Thanks for the review! I've marked `ChangeProxyTarget` as obsolete and done all requested changes. Hope it's all OK now.

[2017-09-19 16:21] jonorossi commented on #293
@yallie thanks, looking now. Do you agree with my thoughts on `ChangeProxyTarget`, you didn't mention if you agreed.

[2017-09-19 16:26] yallie commented on #293
I agree that asking invocation.Proxy to change its target makes the intent of the code clearer. So I just marked the `ChangeProxyTarget` method as obsolete, like you suggested. The only thing that looks a bit out of sync to me is that the interface name is still `IChangeProxyTarget`, but renaming an interface would break many things :)

[2017-09-19 16:36] jonorossi commented on #293
I thought the same thing. `IProxyTargetAccessor` also indicates it is an accessor not a mutator too 😉 .

Just added a couple of small comments, do you mind squishing your commits after that. Thanks.

[2017-09-19 17:18] yallie commented on #293
Concerning interface names — perhaps we could add new properly named interfaces and mark old versions as obsolete to get rid of them in the next major version.

I don't mind at all, but could you please just check "squish commits" flag when merging my PR using the Github UI. Not sure if I can do it properly using plain git, sorry.

[2017-09-19 17:26] jonorossi commented on #293
Maybe we don't even need an interface for invocations, just add a setter to `InvocationTarget` and throw in the override for class/inheritance proxies? Did you have any suggestions for a name for the proxy internals one?

Yep, will do.

[2017-09-19 18:01] yallie commented on #293
Yes, I'd prefer this approach over interfaces. Less type casts, less things to remember, and less code generation. The only downside I see is that interfaces allow checking explicitly whether an operation is supported. Not sure if someone actually uses it, though.

I'm not a native speaker, and I don't quite see why `IProxyTargetAccessor` is so bad :)
I think of it as a way to access the proxy int

[2017-09-19 18:38] BitWizJason commented on #297
@jonorossi I created a pull request with test cases and a potential fix #303

[2017-09-20 09:15] BrunoJuchli commented on #193
@jonorossi

I am. However, my understanding is, that it is an "in-place upgrade", meaning that if the problem was fixed in 4.7 it should not occur anymore now, no matter whether I originally wrote and built something for 4.5 or not. Unless, of course, the "compiler" was fixed. Then a re-compile should fix the issue..
Right?

[2017-09-20 09:21] jonorossi commented on #193
Yes, you are correct. I wondered because I know my Windows VM doesn't have it yet. I doubt a Roslyn issue would cause this defect, it would be either in the JIT or runtime emitting internals.

[2017-09-20 11:43] jonorossi commented on #293
I've merged the pull request without additional changes.

- I agree there is no need to make a new name for `IProxyTargetAccessor`.
- `IChangeProxyTarget` also does the job without any breaking changes, we can look at adding a setter to `IInvocation` in the future if we decide that would be a better way, but as you said the interface makes it really easy to know if you are allowed to change the in

[2017-09-20 11:43] #293 closed

[2017-09-21 10:12] jonorossi commented on #297
Thanks @BitWizJason, merged.

[2017-09-21 10:12] #297 closed

[2017-09-21 17:40] s-bauer opened #304 "Does not compile without FEATURE_SECURITY_PERMISSIONS"
Hey, I just noticed that Castle.Core doesn't compile when the `FEATURE_SECURITY_PERMISSIONS` is not set. There's an error in the File  `DefaultSmtpSender` in the function `CanAccessCredentials`. Can someone check that please? Thanks

[2017-09-21 17:59] jonorossi commented on #304
@s-bauer what are you attempting to do? We don't really support being able to pick and choose what symbols you want to define, they are really there for us to support .NET Standard.

[2017-09-21 18:55] fir3pho3nixx commented on #304
@s-bauer - I agree whole heartedly with @jonorossi. These build symbols were very carefully crafted to support netstandard, the same thing is happening down in Castle Windsor. You really should not be optionally dropping symbols of your choosing out because they simply were not coded/tested that way. It is not the reason they are there.

If it is for learning purposes we are happy to guide you and

[2017-09-21 18:55] #304 closed

[2017-09-22 15:39] stakx commented on #193
@jonorossi:

I've just run that check: Putting an exclusive `lock (proxyGenerator)` (which is declared `static` and not thread-static, nor thread-local, btw.) around the call to `proxyGenerator.Create…Proxy` doesn't make the problem go away. If my understanding is correct, this essentially rules out System.Reflection.Emit's spotty thread safety guarantees as the cause of this issue.

[2017-09-24 17:41] spencercw commented on #260
I've got a similar issue caused by the public __interceptors. Would it make sense to change the default from public to private in AbstractTypeEmitter.CreateField(string, Type, bool)? There don't seem to be many calls to CreateField() and I'm not sure any of them need to be public.

[2017-09-24 17:54] fir3pho3nixx commented on #260
@spencercw - From what I am reading in this, it should be plausible. If you have more time, do you think it would be possible to package up a pull request? We would be happy to review a change here. We are just busy looking at other things.

[2017-09-24 18:24] spencercw commented on #260
Certainly. See the referenced PR.

[2017-09-25 05:36] jonorossi commented on #193
It also unfortunately rules out DynamicProxy having a threading issue which we could easily fix.

Having a look at the only memory dump still on Google Drive the `TargetInvocationException` has an inner `AccessViolationException` exception. I'd be surprised that the IL is bad as peverify or the JIT would detect that, so my guess is that the segfault is caused by bad JITing or failing to JIT, maybe

[2017-09-25 06:59] jonorossi commented on #260
Merged #305. Thanks.

[2017-09-25 06:59] #260 closed

[2017-09-25 08:18] stakx commented on #193
My last attempt at taking xUnit.NET out of the equation led to the problem longer being reproducible (see https://github.com/castleproject/Core/issues/193#issuecomment-327838961, 3rd and 4th paragraphs).

Given that we've learnt a few things since, I'll give it another shot and report back with my findings.

[2017-09-25 08:40] jonorossi commented on #193
@stakx apologies, this thread is getting hard to remember all the details 😄 . I did notice a heap of `async` stuff in the stack trace of the memory dump, I assume xUnit.net uses implicit async rather than explicitly creating threads, maybe that or the fact it has its own `SynchronizationContext` classes is required to repro this problem.

[2017-09-25 10:56] gentledepp commented on #67
any news on this?

[2017-09-25 11:10] jonorossi commented on #67
@gentledepp no one is currently working on this issue, the reason it is marked as up for grabs. If you've got the time, we'd love to see a fix for it though.

[2017-09-25 19:57] fir3pho3nixx commented on #193
I fully concur here, this was my approach that I ran across the following framework versions:

 - net40 (AnyCPU/x86/x64)
 - net45 (AnyCPU/x86/x64)
 - net451 (AnyCPU/x86/x64)
 - net452 (AnyCPU/x86/x64)
 - net46 (AnyCPU/x86/x64)
 - net461 (AnyCPU/x86/x64)
 - net462 (AnyCPU/x86/x64)
 - net47 (AnyCPU/x86/x64)

Each process spawns 2 threads per process, with 3 processes per framework (Any/x86/x64). Mor

[2017-09-25 20:26] stakx commented on #193
@fir3pho3nixx: One more possibly (but perhaps improbable) relevant detail you might want to consider: Moq performs a lot of expression tree compilation. `Sytem.Linq.Expressions`'s internal `LambdaCompiler` uses `DynamicMethod` towards that end, the compiled methods go into a separate module (named `Anonymously Hosted Dynamic Methods` or similar) and are eligible for garbage collection. Moq doesn't

[2017-09-25 20:48] fir3pho3nixx commented on #193
@stakx - My intention here was simply to hammer the hell out of ModuleScope with interleaved I/O using every framework target we know today. Pass so far(48 hours no drama). It is all synchronous though(no async/await). My next target perhaps.

Nothing is far stretched :) It could be anything at this point(although I think we all know, points to the CLR). Adding some crazy expression compilation wo

[2017-09-26 13:07] jonorossi commented on #193
@fir3pho3nixx I don't want to sound rude but that test doesn't really make much sense, there is no "any cpu" runtime, and there is only one .NET 4.x runtime on a machine at one time, all updates to .NET Framework 4.x patch the same runtime files, there is just different reference assemblies (i.e. `TargetFrameworkVersion`) to hide the new classes/methods when compiling.

@stakx this issue doesn't h

[2017-09-26 13:27] stakx commented on #193
@jonorossi

I'm running that experiment (x86 vs. x64 with RyuJIT vs. x64 with JIT64 vs. x64 with RyuJIT but without tail call optimization) right now. Will edit in my findings when I'm done.

[2017-09-26 14:18] jonorossi opened #306 "Release 4.2.0"
I think its about time to cut a release, well I did a few weeks ago but we kept adding to it.

Thinking 4.2.0 would be a good version number since we are changing the assembly version so patch version bump seems wrong, and we've got a decent sized release now.

Thoughts?

/cc @fir3pho3nixx

[2017-09-26 14:27] jonorossi commented on #306
@fir3pho3nixx I know we don't technically need an "issue" to track a new release however I thought it would be a good idea to make sure we are both (and anyone else that is contributing) on the same page and are ready for a release. We can then track any last minute things we need to do.

[2017-09-26 16:59] stakx commented on #306
If I may briefly chime in with my ¢2, regarding the version number, I would also advise that you pick 5.0.0 over 4.x.y, and if that is out of the question (which I guess it is :-), then 4.2.0 over 4.1.2 -- I've thought about doing the same thing to `[AssemblyVersion]` with Moq and I've summarized my reasoning [in this comment](https://github.com/moq/moq4/issues/424#issuecomment-332113990).

Basica

[2017-09-26 19:01] fir3pho3nixx commented on #306
@jonorossi - Sounds great. Promotes good comms and everyone knows what is going on. You have my email, ping me if you need anything.

@stakx - I totally get where you are coming from will however bow out for you and @jonorossi to duke this one out. I selfishly would like v5 to mean something. We are busy with a massive discussion down in Windsor where we are thinking about deprecating a whole heap

[2017-09-26 19:04] fir3pho3nixx commented on #193
Conceded. The only valid piece about it is that it tests 32/64 addressing in a synchronous paradigm.

Are all the JIT switches happening via env vars? Think that is what I meant to do.

[2017-09-26 19:14] stakx commented on #193
@fir3pho3nixx - the switch between x86 and x64 has to happen at compile time I think (project properties). x86 will require you to use  different console runner, too (`xunit.console.x86.exe` instead of `xunit.console.exe`). If you compile for the x64 target, RyuJIT will be the default JIT unless you disable it. The environment variables work only for x64-compiled code AFAIK. There are switches for

[2017-09-26 21:19] fir3pho3nixx commented on #193
@stakx - Simple clone of https://github.com/stakx/Castle.Core-issue-193-repro? I had done this before but will leave to to run for 24 hours and report back. 👍

[2017-09-26 21:30] stakx commented on #193
@fir3pho3nixx - no, this time around I was working with Schaeri's original [`CastleProblem.zip`](https://github.com/castleproject/Core/files/364470/CastleProblem.zip) from https://github.com/castleproject/Core/issues/193#issuecomment-232743980 because the problem occurs a lot quicker than with the code in my repo (whose goal was to store the generated dynamic assembly to disk).

Unzip `CastleProbl

[2017-09-27 05:08] jonorossi commented on #193
Only the entry point binary is used to decide which runtime gets loaded, i.e. the xunit console runner in this case. The Castle assemblies can be marked Any CPU and can be used on either architecture's runtime; marking them x86, x86 preferred or x64 just changes a flag in the CLI header so the CLR will barf loading the wrong one into the wrong runtime if it is known to only work on one.

[2017-09-28 07:20] jonorossi commented on #306
I also think we should keep v5 for something meaningful.

Releasing 4.2.0 now.

[2017-09-28 08:25] jonorossi commented on #306
The packages failed to push to nuget.org because the tool that made the NuGet dependencies explicit saved the nuspec in UTF-16 which nuget.org rejects as invalid/corrupt.

[code]

Fixed that in 6fb2df5a7e8dffe5318fbea9cbd29837eb6d5f33.

[2017-09-28 08:31] jonorossi commented on #306
2nd time failed, but annoying it continued luckily I cancelled the build before it go too far:

[code]

[2017-09-28 08:37] jonorossi commented on #306
I deleted the first "4.2.0" build on AppVeyor. Third time's a charm 🚀

[2017-09-28 08:37] #306 closed

[2017-09-28 08:40] jonorossi commented on #306
https://twitter.com/castleproject/status/913322355727810560

[2017-09-28 12:23] jonorossi commented on #292
Fixed in #302.

[2017-09-28 12:23] #292 closed

[2017-09-29 10:24] paulomorgado commented on #306
NuGet package Castle.Core 4.1.1 comes with Castle.Core.dll version 4.1.1.0.

NuGet package Castle.Core 4.2.0 comes with Castle.Core.dll version 4.0.0.0.

Is that intended?

[2017-09-29 11:08] stakx commented on #306
@paulomorgado: Yes, that was planned; see #288.

[2017-09-29 11:56] fir3pho3nixx commented on #306
@paulomorgado - In short we are trying to mitigate issues with assembly binding errors.

[2017-09-29 13:32] jonorossi commented on #306
@paulomorgado as the other guys have mentioned yes this is intended and mentioned in our release notes: https://github.com/castleproject/Core/blob/master/CHANGELOG.md. The file version of the assemblies still have the full version. We used to do this sort of thing with the 3.x series but with the move to the .NET CLI tooling hadn't reimplemented this until now.

[2017-09-29 17:06] paulomorgado commented on #306
[Moq](https://github.com/moq/moq4 references) 4.1.1.0 and upgrading to 4.2.0 changes the binding redirection to:

      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>

[2017-09-29 17:41] fir3pho3nixx commented on #306
Can you try removing this altogether?

[2017-09-29 17:42] fir3pho3nixx commented on #306
I will also run a quick test and get back to you, one sec ...

[2017-09-29 18:12] fir3pho3nixx commented on #306
@paulomorgado - Can you please share the version of Visual Studio you are using?

I am using:

![image](https://user-images.githubusercontent.com/607402/31029257-f949156c-a548-11e7-801c-592ca381256c.png)

I can confirm you will get an assembly binding error upgrading Castle Core. Are you using Castle Core features directly or just via Moq? If just Moq then this should be managed as a transitive de

[2017-09-29 18:23] fir3pho3nixx opened #307 "I just upgraded to Castle Core v4.2.0 whilst using Moq v4.7.127 and I am getting an assmbly binding error"
I just upgraded Castle.Core from v4.1.1 to v4.2.0 whilst using Moq and got an assembly binding error. Why is this happening?

[2017-09-29 18:32] stakx commented on #306
Agreed on what fir3pho3nixx says above. (One thing to note, however: Even VS 2017.3 gets assembly redirects wrong when referencing both Moq 4.7.127 and Castle.Core 4.2.0 directly: my installation of VS 2017.3 won't create any binding redirect at all.)

FWIW, I'm planning to publish an updated version of Moq in the next few days, [the Castle.Core update has been prepared already](https://github.com

[2017-09-29 18:36] fir3pho3nixx commented on #307
This is because Castle Core changed the AssemblyVersion attribute to only include major version numbers only so that we can avoid assembly binding errors with future releases/upgrades of Castle Core.

### Why is the assembly binding error happening then?

This is because Moq have to release a version compiled against the new AssemblyVersion strategy, they are on it! :)

### What do I do in the mea

[2017-09-29 18:37] stakx commented on #307
The more thorough you plan against DLL hell, the more likely it is that NuGet will somehow do everything wrong and land you there anyway... :-)

[2017-09-29 18:38] fir3pho3nixx commented on #306
@stakx - I have written this up in a new issue. Should I cross post on Moq?

https://github.com/castleproject/Core/issues/307

[2017-09-29 18:43] stakx commented on #306
Please feel free to cross-post if you'd like to, such a nice writeup would certainly be appreciated. There should be an updated version of Moq very soon, though.

[2017-09-29 18:46] fir3pho3nixx commented on #306
Done. Please close with extreme prejudice once you guys have jumped the DLL hell hurdle :)

[2017-09-29 18:49] stakx commented on #306
Hehe... DLL hell just isn't ever going away, is it?
Many thanks for the post.

[2017-09-29 18:56] fir3pho3nixx commented on #306
Should give you guys breathing room, also hit FakeItEasy up. Wish I new who else was using Castle Core. I would splab this everywhere. M$ seriously need to sort their versioning out!

[2017-09-29 19:15] stakx commented on #306
NSubstitute is another one, though given [that `<PackageReference>` version spec they're using](https://github.com/nsubstitute/NSubstitute/blob/de7e61ba699da857a945dde8624df27efaf95133/src/NSubstitute/NSubstitute.csproj#L35), they might not actually be affected (haven't tried).

Agreed. I love .NET Core in principle--but in practice, ever since its introduction it seems as if .NET tooling had star

[2017-09-29 19:22] fir3pho3nixx commented on #306
Just hit NSubstitute up.

[2017-09-29 19:23] fir3pho3nixx commented on #306
Also raised this: https://github.com/dotnet/coreclr/issues/14263

Maybe we can get some synergy going. High hopes.

[2017-09-30 00:45] smithkl42 opened #308 "System.MissingMethodException Method not found: 'Boolean Castle.DynamicProxy.ProxyUtil.IsAccessible()'"
After upgrading to Castle 4.2.0, I'm getting a `System.MissingMethodException` with Moq 4.7.127 when trying to run some unit tests.

[code]
Downgrading to 4.1.1 solves the issue.

It sounds like Castle has updated a few things in 4.2 - is this a breaking change that Moq needs to update for?

[2017-09-30 07:16] stakx commented on #308
First, I expect this problem to go away with an update to Moq (which is just around the corner), as it will be compiled against Castle.Core 4.2.0.

Second, you don't need to wait for that: Moq was about to throw a descriptive exception at you, saying that you're trying to set up a method that's inaccessible to the proxy generator (DynamicProxy), and that you need to make it public or add `[assembl

[2017-10-02 08:43] paulomorgado commented on #306
@fir3pho3nixx, I'm running VS 15.3.5

I'm using Castle.Core through Moq and Castle.Core shows up on available package updates.

[2017-10-02 09:31] stakx commented on #306
@paulomorgado, @fir3pho3nixx - apparently it depends on the project type. If you have a .NET Framework project, you will see the NuGet window suggest an update for Moq's transitive dependency:

![netframeworkconsoleapp](https://user-images.githubusercontent.com/104481/31071508-9241026c-a764-11e7-9076-dc42fc919911.png)

However, for a .NET Core project, it won't suggest an update:

![netcoreconsole

[2017-10-02 09:55] fir3pho3nixx commented on #306
I did try this using a desktop clr project though, so I am confused.

Take a look at my csproj file and let me know if there are any differences.

https://github.com/fir3pho3nixx/Moq-4-7-127-vs-Core-4-2-0/blob/master/ClassLibrary9/ClassLibrary9.csproj#L12

[2017-10-02 10:21] paulomorgado commented on #306
@stakx @fir3pho3nixx

Could it be a csproj `<PackageReference>` versus packages.config issue?

[2017-10-02 10:39] fir3pho3nixx commented on #306
Just wondering if the expectation is that everyone has to rework their csproj files to use PackageReference's. There are also problems getting this to work properly via powershell if I recall correctly.

[2017-10-02 11:54] stakx commented on #306
@fir3pho3nixx - if I manually edit the .NET Framework console project (which by default had a `packages.config`) and introduce a `<PackageReference Include="Moq" …/>`, then the NuGet window won't suggest any update:

![netframeworkconsoleappwithpackagereference](https://user-images.githubusercontent.com/104481/31076059-d011425a-a778-11e7-9738-dcb646c04e74.png)

So the conclusion is exactly what @p

[2017-10-03 20:28] fir3pho3nixx commented on #306
ROTFLMAO :)

[2017-10-04 10:28] stakx opened #309 "Regression in 4.2.0 related to `MethodSignatureComparer`"
@cbruun just reported a regression in Moq (https://github.com/moq/moq4/issues/469) that looks like it's a regression in Castle Core 4.2.0, caused by #303 (commit 0fe612951276d73f8fe789ebc11478b5a42b7046).

### Repro code:

[code]

[code]

### Probable cause of the regression:

`MethodSignatureComparer.EqualSignatureTypes(x: typeof(Implementation1<T>), y: typeof(Implementation2<T>))` no longer retu

[2017-10-04 14:19] martinRocks commented on #307
I'm having the exactly the same issue, and changed the app.config to the above and it worked for me.

[2017-10-04 14:44] stakx commented on #307
@martinRocks - if you update Moq to 4.7.137 as well, you shouldn't need the binding redirect anymore.

[2017-10-05 17:34] jonorossi commented on #308
@stakx I agree, changing the class to static appears to be the only thing we changed that I would think could have caused it.

The IL of Castle.Core 4.1.1 vs 4.2.0 does change by specifying the class as static:
[code]

However, as expected the calling code in Moq 4.7.127 is the same as 4.7.137:
[code]

@smithkl42 can you confirm the version number of Castle.Core.dll is 4.2.0, and not a previous ve

[2017-10-05 18:44] stakx commented on #308
(@jonorossi: FWIW, I checked with ECMA-335: A TypeRef metadata table entry--which is what a Moq 4.7.127 assembly contains for Castle's `ProxyUtil` class--does not carry any details about the referenced type other than its resolution scope, namespace, and name. In other words, a compiled Moq.dll won't have any expectation about `ProxyUtil` being static or otherwise, therefore us having turned that

[2017-10-06 04:11] smithkl42 commented on #308
What I just confirmed again:

* With Castle 4.1.1 and Moq 4.7.127: Our tests work.
* With Castle 4.2.0 and Moq 4.7.127: Our tests break (with the error above).
* With Castle 4.2.0 and Moq 4.7.137: Our tests work.

So I'm not sure *why* Moq 4.7.137 fixes things, but it definitely seems to.

[2017-10-06 04:16] stakx commented on #308
@smithkl: Could you please post repro code? Even if the problem appears to be fixed with the new versions it'd be good to learn how it was caused, so we can try to make sure it doesn't happen again.

[2017-10-06 07:58] michelmoorlag commented on #307
I installed Moq 4.7.137 and completely removed the binding redirect for Castle.core from my app.config and that does work indeed.

[2017-10-07 20:59] stakx opened #311 "Interceptor cannot modify captured variable if it is also passed by-ref to intercepted method"
The following test (running against Castle Core 4.2.0) demonstrates that any code executed during a proxy method interception cannot modify a captured variable if that captured variable was also passed by-ref to the intercepted method:

[code]

Contrast this with plain C#, where the same scenario (modifying a captured variable that also gets passed by-ref) works just fine:

[code]

I suspect this

[2017-10-08 19:55] dsfranzi opened #312 "Include XML documentation in NuGet package"
Caste.Core uses docblocks to document (public) methods. Why aren't they included in the latest NuGet package? I'm using version 4.2.0.

[2017-10-08 20:32] stakx commented on #312
Good catch. Seems XML documentation was last included with version 4.0.0.

[2017-10-08 20:47] fir3pho3nixx commented on #312
Yep, would have been when I reworked the build process. Whoops!

https://github.com/castleproject/Core/pull/313

[2017-10-08 20:49] dsfranzi commented on #312
Wow, that was really quick!

Thanks a lot!

[2017-10-08 22:07] fir3pho3nixx commented on #307
Closing as 4.7.137 has been released.

[2017-10-08 22:07] #307 closed

[2017-10-09 15:46] #309 closed

[2017-10-09 15:47] jonorossi commented on #309
Whoops, that was an oversight. Merged, thanks.

[2017-10-09 16:06] BitWizJason commented on #309
Sorry for introducing the bug, at least now there is a test for it. Thanks @stakx !

[2017-10-09 16:16] #312 closed

[2017-10-09 16:20] jonorossi commented on #312
Thanks @fir3pho3nixx, I've updated the changelog. We should get the same change into Windsor.

[2017-10-09 17:06] jonorossi commented on #308
Agreed, I'd really like to avoid making a breaking change like this in the future. Really not sure where to look next to work out what is going on: https://github.com/castleproject/Core/compare/v4.1.1...v4.2.0

[2017-10-10 08:06] DianaKoenraadt commented on #292
A bit late to the party, but I wanted to let you all know that I really appreciate that my "I'm trying to do this, what am I doing wrong?"-issue was taken up in such a serious and constructive manner. Kudos

[2017-10-10 08:14] sbabaei commented on #308
Hi,
I have same problem but for my case it is not any problem in my local workspace but when I run TFS build and run test during build this problem show itself

`
Copyright (c) Microsoft Corporation.  All rights reserved.
Starting test execution, please wait...
Information: [xUnit.net 00:00:14.7869686]   Discovering: Banking.LoanManagement.Domain.Tests (app domain = on [shadow copy], method displa

[2017-10-10 08:38] stakx commented on #308
@sbabaei, @smithkl42 : It's really difficult to do something about this issue as long as we don't have an isolated repro code that exhibits the problem.

@sbabaei: You're saying you're only having this issue on TFS. Could you please verify a few things:

* Which versions of Moq and Castle Core are you using?
* Which platform (including version) is your code targeting?
* Could this possibly be a ca

[2017-10-10 08:45] sbabaei commented on #308
@stakx
Yes I use TFS 2015 , xUnit 2.3.0, Moq 4.7.137,Castle.Core 4.2.0
I have using xUnit Desktop platform using .Net 4.5.2 and Visual Studio 2017 Enterprise

[2017-10-10 09:56] jonorossi commented on #308
I've just attempted to reproduce this with the most basic components. I've got:
- `castle.core.4.1.1\Castle.Core.dll`
- `castle.core.4.2.0\Castle.Core.dll`
- `Moq.dll` (4.7.127)
- `Program.cs` (see below)
- `castle.core.4.2.0\Program.exe.config` (binding redirect required to allow use of 4.2.0 with assembly version 4.0.0.0, otherwise you'll get a `FileNotFoundException`)

I then compile `Program.c

[2017-10-10 10:29] stakx commented on #308
@jonorossi - I agree.  @sbabaei is having the issue with Moq 4.7.137 and Castle Core 4.2.0, and the former has been compiled against the latter. There's nothing wrong with the DLLs themselves as far as I can see (I checked Moq's AssemblyRef entries and ran PEVerify on both assemblies, too).

I have this one suspicion about the recent change of Castle Core's assembly version. Instead of steadily in

[2017-10-10 14:46] jonorossi commented on #311
@stakx good find, sounds like a bug. I don't recall anyone reporting this sort of thing in the past. Were you planning to take a look to propose a fix?

[2017-10-10 14:49] jonorossi commented on #309
@stakx would a 4.2.1 release right now with just this fix be welcomed, it sounds like this might affect quite a lot of people.

/cc @fir3pho3nixx

[2017-10-10 14:55] stakx commented on #309
@jonorossi - Such a 4.2.1 release would be much appreciated. :+1:  We've just got in another weird report (moq/moq4#480) that *might* be related to this (but I can't confirm yet).

I think having a Castle Core 4.2.1 and a Moq 4.7.987 (or whatever our patch version will be, they're admittedly a little strange) would give us some breating room cause we'd have no regressings on the Castle side, and n

[2017-10-10 14:59] stakx commented on #311
@jonorossi - Haven't really thought about it yet, but I'm happy to take a look and see what I can find, I guess it would be a nice challenge... so, yes. :)

[2017-10-10 15:16] jonorossi commented on #309
@stakx 4.2.1 now available: https://github.com/castleproject/Core/releases/tag/v4.2.1

[2017-10-10 15:32] stakx commented on #309
Awesome, thank you very much! :+1: Will try to get an updated Moq out the door in the next 18 hours.

[2017-10-13 13:29] jaz-ah opened #317 "build problems w/ latest 4.2.1 release"
When I upgraded the castle.core nuget in my .net solution, I started getting these build errors:

System.TypeInitializationException: The type initializer for 'Moq.Proxy.CastleProxyFactory' threw an exception. ---> System.IO.FileLoadException: Could not load file or assembly 'Castle.Core, Version=4.1.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc' or one of its dependencies. The located ass

[2017-10-13 13:34] jonorossi commented on #317
See #307. You need Moq 4.7.137.

[2017-10-13 13:34] #317 closed

[2017-10-13 15:52] Cinchoo commented on #84
Does anyone have fix for this? I'm facing similar issue with my project. Appreciate any help.

[2017-10-13 15:56] jonorossi commented on #84
@Cinchoo this issue was closed over 2 years ago. If you are running into a `NullReferenceException` inside DynamicProxy, please create a new issue and include runnable code that reproduces your scenario.

[2017-10-13 16:01] stakx commented on #311
Closing this issue for the reasons mentioned in #316. Thanks anyway @jonorossi for letting me give this one a try.

[2017-10-13 16:01] #311 closed

[2017-10-13 16:02] jonorossi commented on #311
@stakx Thanks for jumping head first into this, you are definitely getting right into DP.

It would be good to get something into the docs about ref parameters though, did you want to add something?

[2017-10-13 16:06] stakx commented on #311
I can certainly try. Probably won't have enough time this weekend, but expect a PR sometime next week. :)

[2017-10-16 07:35] edwardmeng opened #318 "The default value for constructor parameters are incorrect when CreateClassProxyTypeWithTarget"
When implementing constructor injection for the Autofac and other dependency injection libraries with DynamicProxy, we want to create instance with ProxyGenerator.CreateClassProxyWithTarget method. During injection the parameters value should be detected and provided according to reflected default value automatically at runtime. But for the generated proxy type, the relative reflection value for t

[2017-10-16 08:08] jonorossi commented on #318
See #220.

I didn't look at the corefx issue because we also support .NET Framework, but if this is now possible in all cases then we could look at adding this support back.

[2017-10-16 08:08] #318 closed

[2017-10-18 00:58] dtchepak opened #319 "MissingMethodException: TypeBiulder.DefineProperty, on Unity3D/Mono"
Hi Castle Core!

Not sure you'll be able to help with this but thought I'd raise it in case you can give me a lead on how to chase this up. An NSubstitute user [has reported a problem](https://twitter.com/GameDevAlex/status/913678227176148992) trying to proxy a type with properties on it, getting the following exception:

[code]

The proxy creation is done via `InputService = Substitute.For<IInCon

[2017-10-18 15:33] jonorossi commented on #319
@dtchepak sounds like a Unity defect, I've never seen anything so fundamental broken. Our Mono build is successful on every build, I'd try to replicate it using `TypeBuilder` without DynamicProxy.

I'll close this issue for now, but if you do believe it is a DP defect feel free to reopen it.

[2017-10-18 15:33] #319 closed

[2017-10-18 15:40] jonorossi commented on #308
I'm going to close this issue now, we've worked out that the assemblies are valid and we didn't making a breaking API change, but won't know if NuGet did something silly causing the wrong assemblies to be provided.

[2017-10-18 15:40] #308 closed

[2017-10-19 01:13] dtchepak commented on #319
@jonorossi Perfect, that's just the info I was hoping for. Thanks Jon!

[2017-11-07 14:47] thomaslevesque commented on #309
Thanks for the fix; we'll soon release a new version of FakeItEasy as well. https://github.com/FakeItEasy/FakeItEasy/issues/1257

[2017-11-14 09:58] SaphuA opened #320 "Castle.Core reference 'broken' since 4.2.0"
I updated Castle.Core and now my DI is broken because the assembly can't be found. I'm pretty sure it's because of the reference changes when adding through nuget.

Before (v4.1.1.0)

[code]

After (v4.2.1.0)

[code]

Note that it's now referencing Version=4.0.0.0 instead of exact version as expected: Version=4.2.1.0.

[2017-11-14 10:05] fir3pho3nixx commented on #320
@SaphuA - We have intentionally done this to avoid assembly binding errors for minor patched versions.

Please see: https://github.com/castleproject/Core/issues/307